<template lang="pug">
// using slot
AdminLayout
  nuxt
</template>
<script>
import AdminLayout from '~/components/layouts/admin.vue';

export default {
  components: {
    AdminLayout
  }
}
</script>
<style lang="scss" scoped>
</style>