<i18n>
{
  "th": {
    "explore": "สำรวจ",
    "about": "เกี่ยวกับ",
    "cart": "ตะกร้า",
    "upload": "อัพโหลด",
    "login": "เข้าสู่ระบบ",
    "logout": "ออกจากระบบ",

    "about_us": "เกี่ยวกับเรา",
    "guidelines": "ระเบียบการใช้งาน",

    "me_settings": "ตั้งค่าบัญชี",
    "me_artworks": "ผลงาน ของฉัน/ผม",
    "me_earnings": "รายรับ"

  }
}
</i18n>
<template lang="pug">
div.layout-default-root
  div.nav-wrapper
    div.nav
      nuxt-link(to="/")
        span.logo-wrapper(v-html="AppLogo")
      div.nav__left-items
        nuxt-link.link.nav-link.nav__left-items-item(to="/") {{ $t('explore') }}
        nuxt-link.link.nav-link.nav__left-items-item(to="/about") {{ $t('about') }}
      div.nav__right-items
        div.nav__right-items-item(v-if="$store.state.cartBtnVisible")
          nuxt-link.user-cart(to="/cart") {{ $t('cart') }}
        div.nav__right-items-item
          nuxt-link.btn.btn--primary(
            data-cy="artwork-upload-link"
            :to="$route.path === '/me/artworks' ? { query: { ...$route.query, upload: 't' } } : '/me/artworks?upload=t'" 
            :replace="$route.path === '/me/artworks'"
          ) {{ $t('upload') }}
        div.nav__right-items-item(v-if="!$store.state.loggedInUser")
          nuxt-link.btn(data-cy="login-link" to="/login") {{ $t('login') }}
        div.nav__right-items-item(v-else style="font-size: 1.5rem;" @click="accountDropdownOn = true")
          template
            img.user-profile(v-if="avatarUrl" :src="avatarUrl")
            div.user-profile(v-else)
          div.nav__dropdown(v-if="accountDropdownOn" v-on-clickaway="() => accountDropdownOn = false")
            nuxt-link.link.nav__dropdown-item.nav__user-link(:to="'/user/' + username") user/{{ username }}
            nuxt-link.link.nav__dropdown-item(to="/me/account") {{ $t('me_settings') }}
            nuxt-link.link.nav__dropdown-item(to="/me/artworks") {{ $t('me_artworks') }}
            nuxt-link.link.nav__dropdown-item.nav__logout(to="/logout") {{ $t('logout') }}

  div.layout-default-root__body
    div(v-if=`
      $route.path === '/me/artworks' ||
      $route.path === '/me/account' ||
      $route.path === '/me/earnings'
      `
      key="account-settings"
    )
      div.account-nav
        div.account-nav__body 
          img.account-nav__avatar(v-if="avatarUrl" :src="avatarUrl")
          div.account-nav__username {{ username }}
            nuxt-link.link.account-nav__user-link(:to="'/user/' + username") user/{{ username }}
          nuxt-link.link.account-nav__link(
            to="/me/account"
            :class="{ 'account-nav__link--selected': $route.path === '/me/account' }"
          ) {{ $t('me_settings') }}
          nuxt-link.link.account-nav__link(
            data-cy="my-artworks-tab"
            to="/me/artworks"
            :class="{ 'account-nav__link--selected': $route.path === '/me/artworks' }"
          ) {{ $t('me_artworks') }}
          nuxt-link.link.account-nav__link(
            v-show="$store.state.developMode"
            to="/me/earnings"
            :class=`{ 
              'account-nav__link--selected': 
                $route.path === '/me/earnings'
            }`
          ) {{ $t('me_earnings') }}
      nuxt
    
    div.about-layout(v-else-if=`
      $route.path === '/about' ||
      $route.path === '/community-guidelines'
      `
      key="about-stuff"
    )
      div.about-nav
        nuxt-link.link.about-nav__item(
          to="/about"
          :class=`{ 
            'about-nav__item--selected': 
              $route.path === '/about'
          }`
        ) {{ $t('about_us') }}
        nuxt-link.link.about-nav__item(
          to="/community-guidelines"
          :class=`{ 
            'about-nav__item--selected': 
              $route.path === '/community-guidelines'
          }`
        ) {{ $t('guidelines') }}
      nuxt

    // this div wrapper with key attribute is necessary
    // without it would flicker when route changes
    div(v-else key="regular-view")
      nuxt(
        keep-alive 
        :keep-alive-props="{ max: 2 }"
      )
</template>
<script>
import { mixin as clickaway } from 'vue-clickaway2';
import AppLogo from '~/assets/logo.svg?raw';

export default {
  mixins: [ clickaway ],
  data() {
    return {
      AppLogo,
      accountDropdownOn: false,
      debugPanelVisible: false
    }
  },
  computed: {
    avatarUrl() {
      return this.$store.state.loggedInUser?.avatar_url;
    },
    username() {
      return this.$store.state.loggedInUser?.username;
    },
  },
  created() {
    if (process.server) return;

    const inDevelopMode = window.localStorage.getItem('bahurat_develop') === 'true';
    this.$store.commit('set_developMode', inDevelopMode);
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.logo-wrapper /deep/ svg {
  height: 20px;
}

.layout-default-root {
  &__body {
    padding: 0 1rem;
    max-width: $breakpoint-xl;
    margin: auto;
  }
}

.user-cart {
  border: 1px solid $oc-indigo-7;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: .875rem;
  color: blue;
  background: $oc-gray-0;
}

.user-profile {
  $size: 2.25rem;
  background-color: $oc-gray-2;
  width: $size;
  height: $size;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.nav-wrapper {
  border-bottom: 1px solid $oc-gray-3;
  background: $oc-gray-1;
}

.nav {
  max-width: $breakpoint-l;
  margin: auto;
  padding: 0 1rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include for-and-up($breakpoint-m) {
  }
  &__left-items {
    display: none;
    @include for-and-up($breakpoint-m) {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-left: 3rem;
    }
  }
  &__left-items-item {
    margin-right: 2rem;
  }
  &__right-items {
    display: none;
    @include for-and-up($breakpoint-m) {
      display: flex;
      align-items: center;
    }
  }
  &__right-items-item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    position: relative;
  }
  &__dropdown {
    background-color: white;
    z-index: 9;
    width: 8rem;
    position: absolute;
    border: 1px solid $oc-gray-4;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    transform: translateY(100%) translateY(1rem);
    min-width: 180px;
  }
  &__dropdown-item {
    white-space: nowrap;
    font-size: .875rem;
    margin: 1rem 0;
    display: block;
    text-decoration: none;
    color: $oc-gray-8;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__user-link {
    color: $oc-indigo-7;
    border-bottom: 1px solid $oc-gray-4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
  }
  &__logout {
    border-top: 1px solid $oc-gray-4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
  }
}

.nav-link {
  color: $oc-gray-8;
}

.account-nav {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  &__avatar {
    $size: 35px;;
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
    background: $loading-bg;
  }
  &__username {
    display: inline-block;
    padding-right: 1rem;
    font-weight: bold;
  }
  &__user-link {
    display: block;
    font-size: .875rem;
    color: $oc-indigo-7;
    font-weight: normal;
    cursor: pointer;
  }
  &__link {
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    display: inline-block;
    margin-left: 1rem;
    vertical-align: super;
    color: inherit;
    padding: .5rem 1rem;
    &--selected {
      background: $oc-cyan-8;
      color: white;
    }
  }
}

.about-layout {
  max-width: $breakpoint-l;
  margin: auto;
}

.about-nav {
  margin-top: 2rem;
  display: flex;
  &__item {
    padding: .5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: $oc-gray-9;
    &--selected {
      background: $oc-cyan-7;
      color: white;
    }
  }
}
</style>
