<template lang="pug">
div
  nuxt
</template>
<script>
export default {
  data() {
    return {};
  },
  created() {
    //if (process.server) {
    //  this.needLogin = true;
    //  console.log("on server default");
    //}
  }
};
</script>
<style lang="scss" scoped>
</style>
<style lang="scss">
</style>
