<template lang="pug">
  div.error-layout-root(v-show='ready')
    h1 {{ error.message }}
</template>
<script>
export default {
  props: ["error"],
  data() {
    return {
      ready: false
    };
  },
  created() {
    setTimeout(() => this.ready = true, 32);
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.error-layout-root {
  max-width: $breakpoint-l; 
  margin: auto;
}
</style>