<template lang="pug">
div
  div.logo-wrapper(v-html="AppLogo")
  nuxt
</template>
<script>
import AppLogo from '~/assets/logo.svg?raw';
export default {
  data() {
    return { AppLogo };
  }
};
</script>
<style lang="scss" scoped>
.logo-wrapper {
  text-align: center;
  margin: 4rem 0;
}

.logo-wrapper /deep/ svg {
  height: 32px;
}
</style>