<template lang="pug">
div
  div.error-container(v-if="errorMessage")
    div.error-toast 
      span(style="margin-right:.5rem;")
        | <svg style="vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
        |  <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
        |  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        | </svg>
      | {{ errorMessage }}
      span(style="margin-left:.5rem;cursor:pointer;" @click="errorMessage = null")
        | <svg style="vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        |  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        | </svg>
</template>
<script>
import errors from '~/utilities/errors';

export default {
  data() {
    return {
      errorMessage: null
    }
  },
  methods: {
    async setError(error) {
      if (this.errorMessage) {
        this.errorMessage = null;
        await new Promise(res => setTimeout(res, 100));
      }
      this.errorMessage = errors.translateError(error);
    }
  },
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.error-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 9999999999;
}

.error-toast {
  position: relative;
  background: $oc-red-7;
  color: white;
  padding: .5rem .5rem;
  font-size: .875rem;
  text-align: center;
  border-radius: 5px;
}
</style>
