<template lang="pug">
div.loading-bg(v-if="visible")
    div.loader
</template>
<script>
export default {
  data() {
    return {
        visible: false,
    };
  },
  methods: {
      showLoading() {
          this.visible = true;
      },
      hideLoading() {
          this.visible = false;
      }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";


.loading-bg {
    z-index: 9;
    background: black;
    opacity: .7;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loader {
    margin: 15% auto;
    $wall: 4px;
    border: $wall solid #ccc; /* Light grey */
    border-top: $wall solid transparent; /* Blue */
    border-radius: 50%;
    $size: 32px;
    width: $size;
    height: $size;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
