<template lang="pug">
div.slideout-root
  transition(name="fade")
    div.slideout-dark-bg(
      @click="hideThis"
      :class="{'pointer-events-none': state === 'taking-action'}"
      v-if="visible"
      )
  transition(name="slide")
    div.slideout(v-if="visible" :style="slideoutsStyle")
      div.slideout__inside
        div.slideout__header
          div.slideout__header-primary-title
            slot(name="primaryTitle")
          div.slideout__header-secondary-title(v-if="$slots.secondaryTitle")
            slot(name="secondaryTitle")
        div.slideout__body(ref="scrollableBody")
          //div.slideout__body-inside
          slot(name="body")
        div.slideout__action-notification
          div.notification(
            v-if="notification" 
            :class="[`notification--${notification.type}`]"
            )
            div.notification__title {{ notification.title }}
            div.notification__body {{ notification.body }}
        div.slideout__buttons
          button.btn.btn--link.slideout__buttons-secondary-btn(
            @click="hideThis" 
            v-if="state === 'default'"
            :class="{'pointer-events-none': state === 'taking-action'}"
            )
            slot(name="secondaryButtonText")
          button.btn.btn--primary(
            @click="primaryAction"
            :class="{'pointer-events-none': state === 'taking-action'}"
            )
            slot(name="primaryButtonText" v-if="state === 'default'")
            slot(name="primaryButtonTextTakingAction" v-else-if="state === 'taking-action'")
</template>

<script >
import { 
  disableBodyScroll, 
  //enableBodyScroll, 
  clearAllBodyScrollLocks 
  } from 'body-scroll-lock';
export default {
  props: {
    state: String, // "default" || "taking-action"
    visible: Boolean,
    notification: Object, // {type: "error" || "success", title: "title_text", body: "body_text"} || null when no notification
    hideThis: Function,
    primaryAction: Function,
    slideoutsStyle: Object // style object
  },
  data() {
    return {
    };
  },
  created() {
  },
  methods: {
  },
  watch: {
    visible(_visible) {
      if (_visible) {
        this.$nextTick(() => {
          disableBodyScroll(this.$refs.scrollableBody);
        })
      } else {
        clearAllBodyScrollLocks();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.slide-enter-active {
  animation: slide-in-left .2s;
}
.slide-leave-active {
  //animation: slide-in-left .4s reverse;
}
@keyframes slide-in-left {
  0% {
    //transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    //transform: translateX(0);
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade-in .2s;
}

.fade-leave-active {
  //animation: fade-in .4s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

.slideout-root {
  z-index: 999;
  //left: 0;
  //right: 0;
  //top: 0;
  //bottom: 0;
}

.slideout-dark-bg {
  background: black;
  opacity: .7;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slideout {
  //$slideout-min-width: 30rem;
  position: fixed;
  will-change: transform;
  //max-width: 100%;
  width: 30rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  //@include for-and-up($slideout-min-width) {
  //  min-width: $slideout-min-width;
  //  max-width: 0;
  //}
  &__inside {
    display: flex;
    flex-direction: column;
    //display: grid;
    //grid-template-rows: min-content 1fr min-content min-content;
    //overflow-x: hidden;
    height: 100%;
  }
  &__header {
    //background: $oc-grape-0;
    padding: 1rem;
  }
  &__header-primary-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__header-secondary-title {
    color: $oc-gray-6;
    margin-top: .5rem;
  }

  &__body {
    overflow-y: auto;
    padding: 1rem;
    flex: 1;
  }

  &__buttons {
    //position: sticky;
    border-top: 2px solid $oc-indigo-7;
    background: $oc-indigo-0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    //flex-direction: row-reverse;
  }
  &__buttons-primary-btn {
    &--taking-action {
      pointer-events: none;
    }
  }
  &__buttons-secondary-btn {
    margin-right: 1rem;
    //color: $oc-indigo-9;
  }
}
</style>
