<template lang="pug">
div.slideout-root
  transition(name="fade")
    div.slideout-dark-bg(
      @click="hideThis"
      :class="{'pointer-events-none': state === 'taking-action'}"
      v-if="visible"
    )
  transition(name="slide")
    div.slideout(v-if="visible" :style="slideoutsStyle")
      div.slideout__inside
        div.slideout__header(v-if="!bodyOnly")
          div.slideout__header-primary-title
            slot(name="primaryTitle")
          div.slideout__header-secondary-title(v-if="$slots.secondaryTitle")
            slot(name="secondaryTitle")
        div.slideout__body(ref="scrollableBody")
          slot(name="body")
        div.slideout__action-notification
          div.notification(
            v-if="notification" 
            :class="[`notification--${notification.type}`]"
          )
            div.notification__title {{ notification.title }}
            div.notification__body {{ notification.body }}
        div.slideout__buttons(v-if="!bodyOnly")
          button.btn.btn--link.slideout__buttons-secondary-btn(
            @click="hideThis" 
            v-if="state === 'default'"
            :class="{'pointer-events-none': state === 'taking-action'}"
          )
            slot(name="secondaryButtonText")
          button.btn.btn--primary(
            data-cy="slideout-btn"
            @click="primaryAction"
            :class="{'pointer-events-none': state === 'taking-action'}"
          )
            slot(name="primaryButtonText" v-if="state === 'default'")
            slot(name="primaryButtonTextTakingAction" v-else-if="state === 'taking-action'")

</template>

<script >
import {
  disableBodyScroll, 
  clearAllBodyScrollLocks 
} from 'body-scroll-lock';

export default {
  props: {
    state: String, // "default" || "taking-action"
    visible: Boolean,
    notification: Object, // {type: "error" || "success", title: "title_text", body: "body_text"} || null when no notification
    hideThis: Function,
    primaryAction: Function,
    slideoutsStyle: Object, // style object
    bodyOnly: Boolean // hide title-bar and buttons therefore onlyBody
  },
  watch: {
    visible(_visible) {
      if (_visible) {
        this.$nextTick(() => {
          disableBodyScroll(this.$refs.scrollableBody);
        })
      } else {
        clearAllBodyScrollLocks();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.slide-enter-active {
  animation: slide-in-left .5s;
}

.slide-leave-active {
  animation: slide-in-left .4s reverse;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade-in .5s;
}

.fade-leave-active {
  animation: fade-in .4s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

.slideout-root {
  position: fixed;
  z-index: 999;
}

.slideout-dark-bg {
  background: black;
  opacity: .7;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slideout {
  will-change: transform;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  min-width: 30rem;
  background-color: white;

  &__inside {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    background: $oc-grape-0;
    padding: 1rem;
  }

  &__header-primary-title {
    font-size: 1.125rem;
  }

  &__header-secondary-title {
    color: $oc-gray-6;
    margin-top: .5rem;
  }

  &__body {
    overflow-y: auto;
    padding: 1rem;
    flex: 1;
  }

  &__buttons {
    border-top: 2px solid $oc-indigo-7;
    background: $oc-indigo-0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__buttons-primary-btn {
    &--taking-action {
      pointer-events: none;
    }
  }

  &__buttons-secondary-btn {
    margin-right: 1rem;
  }
}
</style>
