<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="_updater"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  // set title
  template(v-slot:primaryTitle) change fulfillment status

  // set form body
  template(v-slot:body)
    div.form__label-container
      label.form__label fulfillment status
    select(v-model="local_status")
      option unfulfilled
      option fulfilled
    
    // vuelidate example
    template(v-if="$v.local_status.$error")
      div(style="margin-top:.5rem;")
      template(v-if="!$v.local_status.required")
        div(style=""): b: small can't be blank

  // set text
  template(v-slot:secondaryButtonText) cancel

  // set text
  template(v-slot:primaryButtonText) save

  // set text
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  components: {
    SlideoutBase,
  },

  // optional vue lidate here
  mixins: [validationMixin],
  validations: {
    local_status: {
      required
    }
  },

  props: {
    formVisible: Boolean,
    hideForm: Function,

    // form data will be the arguments of this function
    // should be called in callUpdater method below
    updater: Function,

    // your props here
    // initial from data props
    // e.g.
    status: String
  },
  data() {
    return {
      slideoutState: null,

      // your local data here
      // should match with what you have it the props
      // say you have props: {status: String} you should have local_status: null here
      // !! the value should be "null" and the actual data should be set in resetData method below
      // e.g.
      local_status: null
    };
  },
  created() {
    this.$watch('formVisible', (visible) => {
      if (visible) {
        this.slideoutState = 'default';
        this.resetData();
      }
    }, { immediate: true });
  },
  methods: {
    resetData() {
      // your code here
      // say the form accept name
      // when you first open the form the "name" field has a value "kittiphat"
      // you change it "kitti" then close the form without saving
      // you reopen the form you want "name" to be "kittiphat"
      // that's whe we need to reset
      // e.g.
      this.local_status = this.status

    },
    formIsValid() {
      // your code here
      // validate the form on client side e.g. use vuelidate
      // !! return true if valid if return false it won't call server's api endpoint
      // e.g.
      this.$v.local_status.$touch();
      return this.$v.local_status.$invalid;

    },
    async callUpdater() {
      // your code here
      // call updater and pass form data as it arguments
      // you can pass it how you like i.e. pass it as multiple args or pass it as single object etc.
      // dont forget to use await to prevent it from exiting early
      // e.g.
      await this.updater(this.local_status);

    },
    _updater() {

      const formOk = (this.formIsValid() === true);
      if (!formOk) return;
      
      this.slideoutState = 'taking-action';
      this.callUpdater()
        .finally(() => {
          this.slideoutState = 'default';
        });
    }
  },
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>