<template lang="pug">
div.base-product-list-root
  div.header Base Products
  div.product-row(v-for="product in products")
    div {{ product.id }}
    div.product-row__name {{ product.name }}
    div
      span.product-row__status-badge(
        :class="product.enabled ? 'product-row__status-badge--enabled' : 'product-row__status-badge--disabled'"
      ) {{ product.enabled ? 'enabled' : 'disabled' }}
    nuxt-link.link(data-cy="details-link" :to="product.url"): center more
</template>
<script>
export default {
  props: {
    products: Array, // [{id: 'string', name: 'string', enabled: 'boolean', url: 'string'}, ...]
  },
  data() {
    return {
    };
  },
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.base-product-list-root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 4rem;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.product-row {
  display: grid;
  grid-template-columns: .5fr 2.5fr .5fr .5fr;
  column-gap: 1rem;
  //& > * {
  //  background: pink;
  //}
  border: 1px solid black;
  padding: 1rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__name {
    //font-weight: bold;
    //font-size: .875rem;
    text-decoration: underline;
  }
  &__status-badge {
    padding: .5rem .75rem;
    font-size: .75rem;
    font-weight: bold;
    &--enabled {
      background: $oc-green-8;
      color: white;
    }
    &--disabled {
      background: $oc-gray-5;
      color: white;
    }
  }
}
</style>