<template lang="pug">
div.admin-order-list
  template(v-if="isLoadingEntirePage")
    h1: center ...loading
  template(v-else)
    div.header Orders
    div.orders-container
      div.order-row.order-row--head
        div id
        div order-status
          div: select(
            data-cy="order-status-filter"
            :value="filterOrderStatus" 
            @change="(e) => filterOrderStatusChange(e.target.value)"
          )
            option(value="") all
            option open
            option archived
        div payment-status
          div: select(
            data-cy="payment-status-filter"
            :value="filterPaymentStatus"
            @change="(e) => filterPaymentStatusChange(e.target.value)"
          )
            option(value="") all
            option paid
            option unpaid
        div fulfillment-status
          div: select(
            data-cy="fulfillment-status-filter"
            :value="filterFulfillmentStatus"
            @change="(e) => filterFulfillmentStatusChange(e.target.value)"
          )
            option(value="") all
            option unfulfilled
            option fulfilled
        div date
        div -
      div.order-row(data-cy="order-item" v-for='order in orders')
        div {{ order.id }}
        div {{ order.orderStatus }}
        div {{ order.paymentStatus }}
        div {{ order.fulfillmentStatus }}
        div {{ order.date }}
        nuxt-link.link(data-cy="order-details-link" :to="order.url || ''") more
    slot(name="pagination")

</template>
<script>
export default {
  props: {
    orders: Array, // [{id: 'number', orderStatus: 'string', paymentStatus: 'string', fulfillmentStatus: 'string', date: 'string', url: 'string'}, ...]
    filterOrderStatus: String, // 'all' || 'open' || 'archived'
    filterPaymentStatus: String, // 'paid' || 'unpaid'
    filterFulfillmentStatus: String, // 'fulfilled' || 'unfulfilled'
    filterOrderStatusChange: Function, // function (status) {}
    filterPaymentStatusChange: Function, // function (status) {}
    filterFulfillmentStatusChange: Function, // funciton (status) {}
    isLoadingEntirePage: Boolean
  },
  data() {
    return {
    };
  },
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.admin-order-list {
  width: $breakpoint-l;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.orders-container {
  margin-bottom: 2rem;
}

.order-row {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr 1.25fr 1fr .5fr;
  //border: 1px solid black;
  padding: 2rem 1rem;
  //margin-bottom: 1rem;
  column-gap: 1rem;
  border-bottom: 1px solid $oc-gray-1;
  //font-size: 14px;
  &--head {
    font-size: small;
    font-weight: bold;
    border-bottom: 2px solid $oc-gray-3;
    background: $oc-gray-1;
  }
  //& > * {
  //  background: pink;
  //}
}
</style>