<i18n>
{
  "th": {
    "edit_artwork": "แก้ไขผลงาน",
    "optional": "เว้นว่างได้",
    "description": "คำบรรยาย",

    "cancel": "ยกเลิก",
    "save": "บันทึก",
    "saving": "กำลังบันทึก..."
  }
}
</i18n>
<template lang="pug">
div
  portal(to="artwork-description-form")
    div.form__label-container
      label.form__label {{ $t('description') }}
        span.optional-label {{ $t('optional') }}
    textarea.form__textarea(
      rows="8"
      v-model="$v.local_description.$model"
    )
  SlideoutBase(
    :visible="formVisible"
    :hideThis="hideForm"
    :primaryAction="updateDescription"
    :state="slideoutState"
    :notification="null"
    :slideoutsStyle="{}"
  )
    template(v-slot:primaryTitle) {{ $t('edit_artwork') }}
    template(v-slot:body)
      portal-target(name="artwork-description-form")
    template(v-slot:secondaryButtonText) {{ $t('cancel') }}
    template(v-slot:primaryButtonText) {{ $t('save') }}
    template(v-slot:primaryButtonTextTakingAction) {{ $t('saving') }}
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";

const getInitialData = (description) => ({
  local_description: description,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_description: {
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    description: String, // "description"
    updater: Function
  },
  data() {
    return getInitialData(this.description);
  },
  mounted() {
  },
  methods: {
    updateDescription() {
      this.$v.local_description.$touch();

      if (this.$v.local_description.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_description);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.description));
        this.$v.local_description.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";

.optional-label {
  display: inline;
  margin-left: .5rem;
  font-weight: normal;
  color: $oc-gray-6;
}
</style>
