<i18n>
{
  "th": {
    "edit_artwork": "แก้ไขผลงาน",
    "tags": "แท็ก",
    "add_tag": "เพิ่ม",
    "tag_is_too_long": "แท็กยาวเกินไป",
    "tag_must_not_contain": "แท็กต้องไม่มีตัวอักษรต้องห้าม",
    "no_more_tags": "มีแท็กมากเกินไป ลบแท็กเก่าออกก่อน",

    "cancel": "ยกเลิก",
    "save": "บันทึก",
    "saving": "กำลังบันทึก..."
  }
}
</i18n>
<template lang="pug">
div
  portal(to="artwork-tags-form")
    div.form__label-container
      label.form__label {{ $t('tags') }}
    div.input-wrapper
      input.form__input(v-model.trim="$v.local_tag.$model" v-on:keyup.enter="addTag")
      button.btn(@click="addTag") {{ $t('add_tag') }}
    template(v-if="$v.local_tag.$error")
      template(v-if="!$v.local_tag.maxLength")
        div.form__text-error {{ $t('tag_is_too_long') }}
      template(v-else-if="!$v.local_tag.notContain")
        div.form__text-error {{ $t('tag_must_not_contain') }}
      template(v-else-if="!$v.local_tag.tagsUnderLimit")
        div.form__text-error {{ $t('no_more_tags') }}
    div.tags
      template(v-for="tag in local_tags")
        div.tags__item(@click="removeTag(tag)") {{ tag }}
          | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          |   <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          | </svg>
  SlideoutBase(
    :visible="formVisible"
    :hideThis="hideForm"
    :primaryAction="updateTags"
    :state="slideoutState"
    :notification="null"
    :slideoutsStyle="{ 'width': '30rem' }"
  )
    template(v-slot:primaryTitle) {{ $t('edit_artwork') }}
    template(v-slot:body)
      portal-target(name="artwork-tags-form")
    template(v-slot:secondaryButtonText) {{ $t('cancel') }}
    template(v-slot:primaryButtonText) {{ $t('save') }}
    template(v-slot:primaryButtonTextTakingAction) {{ $t('saving') }}
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
import {
  TAG_MAX_LENGTH,
  TAG_REGEX,
  MAX_TAGS_COUNT
} from '~/../models/constraints';

const notContain = (val) => val ? !!val.match(TAG_REGEX) : true;

const getInitialData = (tags) => ({
  local_tag: '',
  local_tags: tags ? [...tags] : [],
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_tag: {
      required,
      notContain,
      maxLength: maxLength(TAG_MAX_LENGTH),
      tagsUnderLimit(value) {
        return this.local_tags.length < MAX_TAGS_COUNT ? true : !value;
      }
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    tags: Array, // ["tag1", "tag2", ...]
    updater: Function
  },
  data() {
    return getInitialData(this.tags);
  },
  mounted() {
  },
  methods: {
    addTag() {
      this.$v.local_tag.$touch();
      if (this.$v.local_tag.$error) return;

      const tag = this.local_tag;
      if (!this.local_tags.includes(tag)) {
        this.local_tags.push(tag);
      }
      this.local_tag = '';
    },
    removeTag(tag) {
      this.local_tags = this.local_tags.filter(i => i !== tag);
    },
    updateTags() {
      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_tags);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.tags));
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  & input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid $oc-gray-6;
    border-left: 0;
  }
}

.tags {
  margin-top: 1rem;
  &__item {
    display: inline-block;
    border: 1px solid $oc-gray-6;
    padding: .375rem .75rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    border-radius: 5px;
    & > svg  {
      margin-left: .25rem;
      margin-right: -.5rem;
    }
  }
}
</style>
