<i18n>
{
  "th": {
    "edit_artwork": "แก้ไขผลงาน",
    "title": "ชื่อผลงาน",
    "title_is_required": "กรุณาใส่ ชื่อผลงาน",
    "title_is_too_long": "ชื่อผลงาน ยาวเกินไป",

    "cancel": "ยกเลิก",
    "save": "บันทึก",
    "saving": "กำลังบันทึก..."
  }
}
</i18n>
<template lang="pug">
div
  portal(to="artwork-title-form")
    div.form__label-container
      label.form__label {{ $t('title') }}
    input.form__input(
      data-cy="title-input"
      v-model.trim="$v.local_title.$model"
    )
    template(v-if="$v.local_title.$error")
      template(v-if="!$v.local_title.required")
        div.form__text-error {{ $t('title_is_required') }}
      template(v-else-if="!$v.local_title.maxLength")
        div.form__text-error {{ $t('title_is_too_long') }}
  SlideoutBase(
    :visible="formVisible"
    :hideThis="hideForm"
    :primaryAction="updateTitle"
    :state="slideoutState"
    :notification="null"
    :slideoutsStyle="{}"
  )
    template(v-slot:primaryTitle) {{ $t('edit_artwork') }}
    template(v-slot:body)
      portal-target(name="artwork-title-form")
    template(v-slot:secondaryButtonText) {{ $t('cancel') }}
    template(v-slot:primaryButtonText) {{ $t('save') }}
    template(v-slot:primaryButtonTextTakingAction) {{ $t('saving') }}
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

const getInitialData = (title) => ({
  local_title: title,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_title: {
      required,
      maxLength: maxLength(255)
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    title: String, // "title"
    updater: Function
  },
  data() {
    return getInitialData(this.title);
  },
  mounted() {
  },
  methods: {
    updateTitle() {
      this.$v.local_title.$touch();

      if (this.$v.local_title.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_title);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.title));
        this.$v.local_title.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>
