<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="_updater"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle)
    div.top-title {{ title }}
    div.color-selection(v-if="colorsVisible")
      template(v-for="color in colors")
        div.color-selection__color-item(
          @click="_colorClicked(color)"
          :style="{'background': color.hex}"
        )
          div.color-selection__check-mark(v-if="color.selected")
            | <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            |   <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            | </svg>
  template(v-slot:body)
    div
      template(v-if="isLoadingEntirePage")
        h1 ...loading entire page
      div(v-show="!isLoadingEntirePage")
        div.toolbox
          div(style="margin-bottom:2rem;")
            b: small printing quality:
            span(v-if="dpi !== null" style="margin-left:1rem;"): b 
              span(v-if="dpi > 300" style="color:#37b24d;") great
              span(v-else-if="dpi > 150" style="color:black;") ok
              span(v-else style="color:#f03e3e;") poor
          div(style="margin-bottom:.5rem;") size
          input.slider(
            data-cy="size-slider"
            type="range"
            min="1"
            max="100"
            value="50"
            v-model="artworkSize"
          )
          div(style="margin-top:1rem;margin-bottom:.5rem;") center
          span.toolbox__icon(
            style="margin-right:1rem;"
            @click='centerArtworkX'
          )
            | <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-align-center" viewBox="0 0 16 16">
            |   <path d="M8 1a.5.5 0 0 1 .5.5V6h-1V1.5A.5.5 0 0 1 8 1zm0 14a.5.5 0 0 1-.5-.5V10h1v4.5a.5.5 0 0 1-.5.5zM2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z"/>
            | </svg>
          span.toolbox__icon(
            @click='centerArtworkY'
          )
            | <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-align-middle" viewBox="0 0 16 16">
            |   <path d="M6 13a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v10zM1 8a.5.5 0 0 0 .5.5H6v-1H1.5A.5.5 0 0 0 1 8zm14 0a.5.5 0 0 1-.5.5H10v-1h4.5a.5.5 0 0 1 .5.5z"/>
            | </svg>
        div.canvas-editor
          div.canvas-wrapper(ref="canvasWrapper")
            canvas.canvas(ref="canvas")
  template(v-slot:secondaryButtonText) cancel
  template(v-slot:primaryButtonText) save
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import { fabric } from "fabric";
import debounce from "lodash/debounce";
import SlideoutBase from '~/components/overlays/slideout';
const getInitialData = () => ({
  slideoutState: 'default',
  artworkOutside: false,
  artworkSize: null, // 0-100 from range slider
  dpi: null,
  selectedColor: null, // color that user selected

  canvas: null,
  backgroundImg: null,
  artwork: null,
  frame: null
})
export default {
  components: {
    SlideoutBase
  },
  props: {
      isLoadingEntirePage: Boolean,
      formVisible: Boolean,
      hideForm: Function,
      colorsVisible: Boolean,
      updater: Function,
      fetchData: Function, // async function() {}
      colorClicked: Function, // function(color) {}) {}
      title: String,
      calcResizeText: Function, // function(frame, artwork) {} returns string e.g. 4"x5"
      calcDPI: Function, // function(frame, artwork) {} returns number
      frameSize: String, // e.g. 8"x12"

      canvasNotifier: Number, // notifies when to initCanvas
      backgroundNotifier: Number, // notifies when to changeBackground

      //canvas
      canvas_width: Number,
      canvas_height: Number,

      //background
      background_url: String,
      background_width: Number,
      background_top: Number,
      background_left: Number,

      //artwork
      artwork_url: String,
      artwork_width: Number,
      artwork_top: Number,
      artwork_left: Number,

      //frame/printing_area
      frame_width: Number,
      frame_height: Number,
      frame_top: Number,
      frame_left: Number,

      colors: Array, // [{name: 'string', hex: 'string', selected: 'boolean', ...}, ...]
  },
  data() {
    return getInitialData();
  },
  methods: {
    async _updater() {
      const params = {
        selectedColor: this.selectedColor, // can be null when not selected
        artwork: this.artwork,
        frame: this.frame,
        artworkTouched: this.artworkTouched, // true or false
        canvas: this.canvas
      };

      // the updater function must check what to update for example
      // const postData = {};
      // if (params.selectedColor) postData.color_id = ...
      // if (params.artworkTouched) postData.artwork_real_width = ...
      // axios.post('path/to/update', postData)
      await this.updater(params);
    },
    async initCanvas() {
      const canvas = new fabric.Canvas(this.$refs.canvas, {
        selection: false
      });

      this.canvas = canvas;

      canvas.setWidth(this.canvas_width);
      canvas.setHeight(this.canvas_height);

      const backgroundImg = await new Promise((res) => {
        fabric.Image.fromURL(
          this.background_url,
          (img) => res(img),
          {crossOrigin: "Anonymous"}
        )
      })

      this.backgroundImg = backgroundImg;

      backgroundImg.scaleToWidth(this.background_width);
      backgroundImg.set({
        left: this.background_left,
        top: this.background_top,
        selectable: false,
        filters: [new fabric.Image.filters.Resize({scaleX: backgroundImg.scaleX, scaleY: backgroundImg.scaleY})]
      })
      backgroundImg.applyFilters();

      canvas.add(backgroundImg);

      const frame = new fabric.Rect({
        left: this.frame_left,
        top: this.frame_top,
        width: this.frame_width,
        height: this.frame_height,
        fill: "black",
        opacity: .1,
        selectable: false,
      });
      canvas.add(frame);

      this.frame = frame;

      const frameText = new fabric.Textbox(this.frameSize, {
        top: this.frame_top + this.frame_height,
        left: this.frame_left,
        fontSize: 18,
        textAlign: 'center',
        width: this.frame_width,
        backgroundColor: "#dee2e6",
        selectable: false
      });
      canvas.add(frameText);

      const artwork = await new Promise((res) => {
        fabric.Image.fromURL(
          this.artwork_url,
          (img) => res(img),
          {crossOrigin: "Anonymous"}
        )
      })
      artwork.set({
        top: this.artwork_top,
        left: this.artwork_left,
        lockScalingFlip: true,
        centeredScaling: true,
        minScaleLimit: 0.01,
        transparentCorners: false,
        cornerColor: "white",
        cornerStrokeColor: "#748ffc",
        borderColor: "#748ffc",
      })
      artwork.scaleToWidth(this.artwork_width);
      artwork.setControlVisible("mtr", false);
      artwork.setControlVisible("ml", false);
      artwork.setControlVisible("mb", false);
      artwork.setControlVisible("mr", false);
      artwork.setControlVisible("mt", false);
      canvas.add(artwork);

      this.artwork = artwork;

      const artworkText = new fabric.Text('', {
        fontSize: 18,
        backgroundColor: "#ffe066",
        originX: "center",
      });
      canvas.add(artworkText);


      const setArtworkTextAndDPI = () => {
        const size = this.calcResizeText(frame, artwork);
        const dpi = this.calcDPI(frame, artwork);
        artworkText.text = ' ' + size + ' @' + (dpi > 300 ? '300' : dpi) + 'dpi ';
        this.dpi = dpi;
      };
      canvas.on('before:render', setArtworkTextAndDPI)

      // update frameText when artwork goes outside
      const okFrameTextBg = frameText.backgroundColor;
      const detectOutside = () => {
        artwork.setCoords();
        if (!artwork.isContainedWithinObject(frame)) {
          this.artworkOutside = true;
          frameText.set('backgroundColor', '#f03e3e');
          frameText.set('fill', 'white');
        } else {
          this.artworkOutside = false;
          frameText.set('backgroundColor', okFrameTextBg);
          frameText.set('fill', 'black');
        }
      };
      canvas.on('before:render', detectOutside);

      artwork.on("deselected", () => {
        frame.set({visible: false});
        frameText.set({visible: false});
        artworkText.set({visible: false});
      });

      artwork.on("selected", () => {
        frame.set({visible: true});
        frameText.set({visible: true});
        artworkText.set({visible: true});
      });

      canvas.forEachObject(obj => obj.set({hoverCursor: "default"}));

      const debouncedArtworkFilter = debounce(() => {
        const resizeScale = artwork.scaleX > 0.1 ? artwork.scaleX : 0.1;
        artwork.filters = [new fabric.Image.filters.Resize({scaleX: resizeScale, scaleY: resizeScale})];
        artwork.applyFilters();
      }, 500)
      canvas.on('before:render', () => {
        debouncedArtworkFilter();

        artworkText.set({
          top: artwork.top - 32,
          left: artwork.left + artwork.getScaledWidth() / 2
        })
      });

      if (this.$refs.canvasWrapper.clientWidth < this.canvas_width) {
        const MIN_CANVAS_WIDTH = 300;
        const canvas_width_to_height = this.canvas_width / this.canvas_height;
        const new_canvas_width = this.$refs.canvasWrapper.clientWidth > MIN_CANVAS_WIDTH
          ? this.$refs.canvasWrapper.clientWidth
          : MIN_CANVAS_WIDTH;
        const new_canvas_height = new_canvas_width / canvas_width_to_height;
        canvas.setZoom(new_canvas_width/this.canvas_width);
        canvas.setWidth(new_canvas_width);
        canvas.setHeight(new_canvas_height);

      }

      canvas.setActiveObject(artwork);

    },
    async updateBackground() {
      await new Promise(res => {
        const imgElem = new Image();
        imgElem.crossOrigin = "Anonymous";
        imgElem.onload = () => {
          this.backgroundImg.setElement(imgElem);
          this.canvas.requestRenderAll();
          res();
        }
        imgElem.src = this.background_url;
      });
    },
    centerArtworkX() {
      const frameCenter = this.frame.getPointByOrigin('center', 'center');
      const newCenter = new fabric.Point(frameCenter.x, this.artwork.top)
      this.artwork.setPositionByOrigin(newCenter, 'center', 'top');
      this.artwork.setCoords();
      this.canvas.requestRenderAll();
    },
    centerArtworkY() {
      const frameCenter = this.frame.getPointByOrigin('center', 'center');
      const newCenter = new fabric.Point(this.artwork.left, frameCenter.y)
      this.artwork.setPositionByOrigin(newCenter, 'left', 'center');
      this.artwork.setCoords();
      this.canvas.requestRenderAll();
    },
    _colorClicked(color) {
      this.colorClicked(color);
      this.selectedColor = color;
    }
  },
  computed: {
    dpiTooLow() {
      const MIN_DPI = 150;

      // when dpi is 0, null, undefined
      if (!this.dpi) return false;

      if (this.dpi >= MIN_DPI) return false;

      return true;
    },
    artworkTouched() {
      if (!this.artwork) return false;

      if (this.artwork.left !== this.artwork_left) return true;

      if (this.artwork.top !== this.artwork_top) return true;

      if (this.artwork.getScaledWidth() !== this.artwork_width) return true;

      return false
    }
  },
  watch: {
    async formVisible(visible) {
      if (!visible) return;

      Object.assign(this.$data, getInitialData());
      // make sure that $refs.canvas available
      this.$nextTick(async () => {
        this.fetchData();
      });
    },
    async canvasNotifier() {
      await this.initCanvas();
    },
    backgroundNotifier() {
      this.updateBackground();
    },
    artworkSize(size) {
      if (!size) return; // make sure that size is not null i.e. size goes from number to null when the form is repoen
      const scale = size / 100;
      const centerPoint = this.artwork.getPointByOrigin('center', 'center');
      this.artwork.scaleX = scale;
      this.artwork.scaleY = scale;
      this.artwork.setPositionByOrigin(centerPoint, 'center', 'center');
      this.canvas.requestRenderAll();
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.top-title {
  font-size: .875rem;
  font-weight: bold;
}

.canvas-editor {
  display: flex;
}

.toolbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3rem;
  background: $oc-indigo-1;
  z-index: 999;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: .5rem 1rem;
  background: $oc-indigo-1;
  &__item {
    margin: 1rem 0;
  }
}

.color-selection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 2rem);
  padding: .75rem;
  grid-gap: .75rem;
  background: $oc-gray-3;
  margin: -1rem;
  margin-top: .5rem;

  &__color-item {
    border: 1px solid $oc-gray-6;
    height: .75rem;
    background: forestgreen;
    position: relative;
  }
  &__check-mark {
    position: absolute;
    top: -14px;
    left: 4px;
    font-size: 2rem;
  }
}

.overlay-loading {
  $z-idx: 1;
  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: $z-idx;
  }
  &__content-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $z-idx;
  }
}

.toolbox {
  position: absolute;
  width: 300px;
  right: 0px;
  transform: translateX(100%) translateX(1rem);
  background: white;
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 2rem;
  &__icon {
    cursor: pointer;
  }
}

.slider {
  width: 100%;
}
</style>
