<i18n>
{
  "th": {
    "artwork": "ผลงาน",
    "prints": "งานพิมพ์",

    "uploaded": "อัพโหลด",
    "edit": "แก้ไข",
    "description": "คำบรรยาย",

    "title": "ชื่อผลงาน",
    "visible_artwork": "แสดงสาธารณะ",

    "tags": "แท็ก",
    "no_tags": "ไม่มีแท็ก",

    "delete": "ลบผลงานนี้",
    "you_want_to_delete": "ต้องการลบผลงานนี้? ใช่หรือไม่?",

    "visible_print": "แสดงสาธารณะ",
    "earnings": "รายรับ"
  }
}
</i18n>
<template lang="pug">
div.artwork-item-root
  SimpleSpinner.spinner(v-if="isLoadingEntirePage")
  template(v-else)
      div.page-title {{ artworkTitle }}
      div.c-tabs(v-show="$store.state.developMode")
        div.c-tabs__item(
          :class="{'c-tabs__item--selected': tab === 'artwork'}" @click="tabChanged('artwork')"
        ) {{ $t('artwork') }}
        div.c-tabs__item(
          data-cy="prints-tab"
          :class="{'c-tabs__item--selected': tab === 'prints'}" @click="tabChanged('prints')"
        ) {{ $t('prints') }}
      template(v-if="tab === 'artwork'")
        div.upload-time {{ $t('uploaded') }} {{ artworkUploadedAt }}
        div.artwork
          div.artwork__grid-item
            img.artwork__img(:src="artworkSrc")
          div.artwork__grid-item
            div.artwork__item
              div.artwork__item-label {{ $t('title') }}
                button.btn.btn--link.edit-btn(
                  data-cy="edit-title-btn"
                  @click="artworkTitleEditClicked"
                ) {{ $t('edit') }}
              div(data-cy="artwork-title") {{ artworkTitle }}
            div.artwork__item
              div.artwork__item-label {{ $t('description') }}
                button.btn.btn--link.edit-btn(
                  @click="artworkDescriptionEditClicked"
                ) {{ $t('edit') }}
              textarea.form__textarea.artwork__desc-box(rows="6" :value="artworkDescription" readonly)
            div.artwork__item
              div.artwork__item-label {{ $t('tags') }}
                button.btn.btn--link.edit-btn(
                  @click="artworkTagsEditClicked"
                ) {{ $t('edit') }}
              div.tags(v-if="artworkTags && artworkTags.length")
                template(v-for="tag in artworkTags")
                  div.tags__item {{ tag }}
              div.tags.tags--empty(v-else) {{ $t('no_tags') }}
            div.artwork__item.artwork__item--switch-zone
              div
                div.artwork__item-label.artwork__item-label--with-switch {{ $t('visible_artwork') }}
                template(v-if="artworkVisible")
                  nuxt-link.btn.btn--secondary.artwork-link(:to="'/artwork/' + artworkId") artwork/{{ artworkId }}
              ToggleButton(
                data-cy="visible-switch"
                :value="artworkVisible"
                :sync="true"
                :color="{'checked': '#40c057', 'unchecked': '#adb5bd'}"
                @change="() => artworkVisibleToggled()"
              )
            div
              button.btn(@click="deleteArtwork") {{ $t('delete') }}
            div.artwork__item.artwork__item--switch-zone(v-if="$store.state.developMode")
              div
                div.artwork__item-label.artwork__item-label--with-switch allow people to buy artwork's prints
              ToggleButton(
                :value="false"
                :sync="true"
                :color="{'checked': '#40c057', 'unchecked': '#adb5bd'}"
              )
      template(v-if="tab === 'prints'")
          div.products(data-cy="prints-container")
            template(v-for="product in products")
              div.products__item(data-cy="print-item")
                div.products__item-switch-container
                  ToggleButton(
                    data-cy="print-visible-switch"
                    :value="product.visible"
                    :sync="true"
                    :color="{'checked': '#40c057', 'unchecked': '#adb5bd'}"
                    @change="() => productVisibleToggled(product)"
                  )
                  span(style="margin-left: .5rem;") 
                    small
                      b {{ $t('visible_print') }}
                div.products__item-img-container
                  div.products__item-img-label
                    button.btn.btn--link(
                      data-cy="print-edit-btn"
                      @click="productProductEditClicked(product)"
                    ) {{ $t('edit') }}
                  div.products__item-title {{ product.title }}
                  div.aspect-ratio-box
                    div.aspect-ratio-box__content-container
                      img.aspect-ratio-box__img(:src="product.imgSrc")
                div.products__item-profit-label {{ $t('earnings') }}
                  button.btn.btn--link.edit-btn(
                    data-cy="earnings-edit-btn" 
                    @click="productProfitEditClicked(product)"
                  ) {{ $t('edit') }}
                div.products__item-profit-val(data-cy="earnings") {{ product.profit }}
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';
import { ToggleButton } from 'vue-js-toggle-button';

export default {
  components: {
    SimpleSpinner,
    ToggleButton
  },
  props: {
    isLoadingEntirePage: Boolean,

    linkToArtworkList: String,

    tab: String, // 'artwork' || 'prints'

    artworkId: String,
    artworkSrc: String,
    artworkTitle: String,
    artworkDescription: String,
    artworkTags: Array,
    artworkVisible: Boolean,
    artworkUploadedAt: String,

    products: Array, // [{visible: Boolean, title: String, imgSrc: String, profit: String, ...optionalKeys}, ...]

    tabChanged: Function, // function(tab) see "tab" prop above

    artworkTitleEditClicked: Function, // function()
    artworkDescriptionEditClicked: Function,
    artworkTagsEditClicked: Function,
    artworkVisibleToggled: Function, // function(visible) // toggled visible state is passed not original
    artworkDeleteHandler: Function,
    productProductEditClicked: Function, // function(Product) 
    productProfitEditClicked: Function, // function(Product)
    productVisibleToggled: Function, // function(Product)
  },
  methods: {
    deleteArtwork() {
      if(!confirm(this.$t('you_want_to_delete'))) return;

      this.artworkDeleteHandler();
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.artwork-item-root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.spinner {
  margin-top: 2rem;
}

.page-title {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: bold;
}

.top-layout {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  @include for-and-up($breakpoint-m) {
    grid-template-columns: minmax(300px, 30%) 1fr;
  }
}

.sub-header {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.c-tabs {
  margin-bottom: 2rem;

  &__item {
    margin-right: 1rem;
    font-size: .875rem;
    color: $oc-gray-6;
    padding: .25rem .5rem;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    font-weight: bold;

    &--selected, &:hover {
      color: $oc-gray-9;
    }
  }
}

.upload-time {
  margin-bottom: .5rem;
  font-size: .875rem;
  color: $oc-gray-6;
}

.artwork {
  display: grid;
  grid-template-columns: minmax(300px, 40%) minmax(0, 400px);
  grid-column-gap: 4rem;
  &__item {
    margin-bottom: 2rem;
    &--switch-zone {
      display: flex;
      justify-content: space-between;
    }
  }
  &__img {
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid $oc-gray-6;
    width: auto;
    width: 100%;
    max-height: 320px;
    object-fit: contain;
    background-color: $oc-gray-2;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }
  &__item-label {
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .5rem;
    &--with-switch {
      margin-bottom: .5rem;
    }
  }
  &__desc-box {
    width: 100%;
    max-width: 350px;
  }
}

.tags {
  margin-top: 1rem;
  margin-bottom: 4rem;

  &--empty {
    margin-top: 0;
    color: $oc-gray-6;
  }

  &__item {
    display: inline-block;
    border: 1px solid $oc-gray-6;
    padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    font-size: 14px;
  }
}

.edit-btn {
  margin-left: .5rem;
}

.artwork-link {
  display: inline-block;
  padding: .25rem 1rem;
  border-radius: 3px;
}

.products {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr) );
  row-gap: 2rem;
  column-gap: 2rem;

  &__item {
    padding: 1rem;
    border: 1px solid $oc-gray-3;
    padding-top: 0;
    border-radius: 5px;
  }
  &__item-switch-container {
    border-bottom: 1px solid $oc-gray-3;
    padding: 1rem 0;
  }
  &__item-img-container {
    max-width: 100%;
    margin: 1rem 0;
  }
  &__item-img-label {
    margin-bottom: .25rem;
    font-weight: bold;
    font-size: .875rem;
  }
  &__item-title {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__item-profit-label {
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .25rem;
  }
}
</style>
