<template lang="pug">
div
  BaseProductItem(
    :productEnabled="baseprod_productEnabled"
    :pageTitle="baseprod_pageTitle"
    :productProps="baseprod_productProps"
    :colors="baseprod_colors"
    :secondOpts="baseprod_secondOpts"
    :variants="baseprod_variants"
    :toggleProduct="baseprod_toggleProduct"
    :toggleColor="baseprod_toggleColor"
    :setDefaultColor="baseprod_setDefaultColor"
    :toggleSecondOpt="baseprod_toggleSecondOpt"
    :previewColor="baseprod_previewColor"
    :isLoadingEntirePage="baseprod_isLoadingEntirePage"
    :isLoadingOverlay="baseprod_isLoadingOverlay"
    :initBaseCostForm="baseprod_initBaseCostForm"
    :initQuantityForm="baseprod_initQuantityForm"
  )
  FormPrinting(
    :canvas_width="formprinting_background_width"
    :canvas_height="formprinting_background_width"
    :background_url="formprinting_background_url"
    :background_width="formprinting_background_width"
    :background_top="0"
    :background_left="0"
    :artwork_url="formprinting_artwork_url"
    :artwork_width="10"
    :artwork_top="250"
    :artwork_left="250"
    :frame_width="formprinting_frame_width"
    :frame_height="formprinting_frame_height"
    :frame_top="formprinting_frame_top"
    :frame_left="formprinting_frame_left"

    :calcResizeText="() => 'n/a'"
    :calcDPI="() => 999"
    :frameSize="'n/a'"
    :updater="() => {}"

    :title="'color preview'"
    :colors="[]"
    :formVisible="formprinting_formVisible"
    :hideForm="formprinting_hideForm"
    :isLoadingEntirePage="false"
    :fetchData="formprinting_fetchData"
    :canvasNotifier="formprinting_canvasNotifier"
    :backgroundNotifier="1"
    :colorClicked="() => {}"
  )
  FormQuantity(
    :formVisible="formqty_formVisible"
    :hideForm="formqty_hideForm"
    :updater="formqty_updater"
    :quantity="formqty_quantity"
  )
  FormBaseCost(
    :formVisible="formbc_formVisible"
    :hideForm="formbc_hideForm"
    :updater="formbc_updater"
    :baseCost="formbc_baseCost"
  )
</template>
<script>
import BaseProductItem from '~/components/pages/admin/base_product_item';
import FormPrinting from '~/components/pages/author/campaign_item/form_printing';
import FormQuantity from '~/components/pages/admin/base_product_item/form_quantity';
import FormBaseCost from '~/components/pages/admin/base_product_item/form_base_cost';

import axios from 'axios';
import * as R from 'ramda';

export default {
  components: {
    BaseProductItem,
    FormPrinting,
    FormQuantity,
    FormBaseCost
  },
  layout: "admin",
  data() {
    return {
      local_baseProductData: null,
      local_previewdColor: null,
      local_selectedVariant: null,

      baseprod_isLoadingEntirePage: null,
      baseprod_isLoadingOverlay: null,

      formprinting_background_width: 500,
      formprinting_formVisible: false,
      formprinting_canvasNotifier: 1,

      formqty_formVisible: false,

      formbc_formVisible: false,
    }
  },
  computed: {
    baseprod_pageTitle() {
      if (!this.local_baseProductData) return;

      //return this.local_baseProductData.base_product.name;
      return (
        'product #' + this.local_baseProductData.base_product.id +
        ' [ ' + this.local_baseProductData.base_product.name + ' ]'
      )
    },
    baseprod_productEnabled() {
      if (!this.local_baseProductData) return;

      return this.local_baseProductData.base_product.enabled;
    },
    baseprod_productProps() {
      if (!this.local_baseProductData) return;

      const keyToProp = (key) => ({ key, value: this.local_baseProductData.base_product[key] });
      const keys = [
        'id',
        'name',
        'has_second_option',
        'bg_px_side_length',
        'frame_percent_left',
        'frame_percent_top',
        'frame_percent_width',
        'frame_mm_width',
        'frame_mm_height',
      ];
      return R.map(keyToProp, keys);
    },
    baseprod_colors() {
      if (!this.local_baseProductData) return;

      const colorMapper = (color) => {
        const keyToProp = (key) => ({ key, value: color[key] });
        const keys = [
          'id',
          'is_default'
        ];

        return {
          name: color.name,
          hex: color.hex,
          props: R.map(keyToProp, keys),
          enabled: color.enabled,
          isDefault: color.is_default,
          _original: color
        };
      };

      return R.map(colorMapper, this.local_baseProductData.base_product.base_product_colors)
    },
    baseprod_secondOpts() {
      if (!this.local_baseProductData) return;

      const optMapper = (opt) => {
        const keyToProp = (key) => ({ key, value: opt[key] });
        const keys = [
          'id',
          'value'
        ];

        return {
          props: R.map(keyToProp, keys),
          enabled: opt.enabled,
          _original: opt
        };
      }

      return R.map(optMapper, this.local_baseProductData.base_product.base_product_second_options)

    },
    baseprod_variants() {
      if (!this.local_baseProductData) return;

      const findVariant = (colorId, secondOptId) => {
        const match = (variant) => {
          return (
            (variant.base_product_color_id === colorId) && 
            (variant.base_product_second_option_id === secondOptId)
          )
        }
        return R.find(match, this.local_baseProductData.base_product.base_product_variants);
      }

      const colors_cross_second_opts = [];
      for (const color of this.local_baseProductData.base_product.base_product_colors) {
        for (const option of this.local_baseProductData.base_product.base_product_second_options) {

          const _variant = findVariant(color.id, option.id);
          const variant = {
            id: _variant?.id || '-',
            colorName: color.name,
            colorHex: color.hex,
            secondOptVal: option.value,
            baseCost: _variant ? (_variant.base_cost / 100).toLocaleString('th', {style: 'currency', currency: 'thb'}) : '-',
            quantity: _variant?.quantity,
            _colorId: color.id,
            _secondOptId: option.id,
            _original: _variant
          };
          colors_cross_second_opts.push(variant)
        }
      }

      return colors_cross_second_opts;
    },
    formprinting_background_url() {
      if (!this.local_previewdColor) return;

      return this.local_previewdColor._original._bg_url;
    },
    formprinting_artwork_url() {
      // just use white pixel
      // dont really need an artwork for testing the color/background
      return 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQYV2P4DwABAQEAWk1v8QAAAABJRU5ErkJggg==';
    },
    formprinting_frame_width() {
      if (!this.local_baseProductData) return;
      
      return this.local_baseProductData.base_product.frame_percent_width * this.formprinting_background_width;
    },
    formprinting_frame_height() {
      if (!this.local_baseProductData) return;
      
      const base_product = this.local_baseProductData.base_product;
      return this.formprinting_frame_width * (base_product.frame_mm_height / base_product.frame_mm_width);
    },
    formprinting_frame_top() {
      if (!this.local_baseProductData) return;

      return this.local_baseProductData.base_product.frame_percent_top * this.formprinting_background_width;
    },
    formprinting_frame_left() {
      if (!this.local_baseProductData) return;

      return this.local_baseProductData.base_product.frame_percent_left * this.formprinting_background_width;
    },
    formqty_quantity() {
      if (!this.local_selectedVariant) return;
      
      return this.local_selectedVariant.quantity;
    },
    formbc_baseCost() {
      if (!this.local_selectedVariant) return;

      return this.local_selectedVariant._original?.base_cost / 100;
    }

  },
  async mounted() {
    this.baseprod_isLoadingEntirePage = true;
    await this.local_updateBaseProductData();
    this.baseprod_isLoadingEntirePage = false;
  },
  methods: {
    async local_updateBaseProductData() {
      this.local_baseProductData = await this._fetchBaseProduct().then(res => res.data);
    },
    _fetchBaseProduct() {
      return axios.get(`/api/admin/base_product/${this.$route.params.id}`);
    },
    async baseprod_toggleProduct() {
      this.baseprod_isLoadingOverlay = true;
      const enabled = !this.local_baseProductData.base_product.enabled
      await axios.patch('/api/admin/base_product/' + this.local_baseProductData.base_product.id, { enabled })
      this.local_baseProductData.base_product.enabled = enabled;
      this.baseprod_isLoadingOverlay = false;
    },
    async baseprod_toggleColor(color) {
      this.baseprod_isLoadingOverlay = true;
      const enabled = !color._original.enabled
      await axios.patch('/api/admin/base_product_color/' + color._original.id, { enabled })
      color._original.enabled = enabled;
      this.baseprod_isLoadingOverlay = false;
    },
    async baseprod_setDefaultColor(color) {
      this.baseprod_isLoadingOverlay = true;
      const is_default = true;
      await axios.patch('/api/admin/base_product_color/' + color._original.id, { is_default })
      this.local_baseProductData = (await this._fetchBaseProduct()).data;
      this.baseprod_isLoadingOverlay = false;
    },
    async baseprod_toggleSecondOpt(opt) {
      this.baseprod_isLoadingOverlay = true;
      const enabled = !opt._original.enabled
      await axios.patch('/api/admin/base_product_second_option/' + opt._original.id, { enabled })
      opt._original.enabled = enabled;
      this.baseprod_isLoadingOverlay = false;
    },
    baseprod_previewColor(color) {
      //alert('hola')
      this.local_previewdColor = color;
      this.formprinting_formVisible = true;
    },
    baseprod_initBaseCostForm(variant) {
      this.local_selectedVariant = variant;
      this.formbc_formVisible = true;
    },
    baseprod_initQuantityForm(variant) {
      this.local_selectedVariant = variant;
      this.formqty_formVisible = true;
    },
    formprinting_hideForm() {
      this.formprinting_formVisible = false;
    },
    formprinting_fetchData() {
      // no need to fetch any data
      // all data needed is avaialable in just one api enddpoint call namely /api/admin/base_product/:id
      this.formprinting_canvasNotifier++;
    },
    formqty_hideForm() {
      this.formqty_formVisible = false;
    },
    async formqty_updater(quantity) {
      // do something with the arg
      // i.e. send post/patch request with it
      // don't forget to set the local state to match afterward
      const updateKey = 
        this.local_baseProductData.base_product.id + '_' +
        this.local_selectedVariant._colorId + '_' +
        this.local_selectedVariant._secondOptId;
      const data = { quantity };
      await axios.patch('/api/admin/base_product_variant/' + updateKey, data);
      await this.local_updateBaseProductData();
      this.formqty_formVisible = false;
    },
    formbc_hideForm() {
      this.formbc_formVisible = false;
    },
    async formbc_updater(baseCost) {
      // do something with the arg
      // i.e. send post/patch request with it
      // don't forget to set the local state to match afterward
      const updateKey = 
        this.local_baseProductData.base_product.id + '_' +
        this.local_selectedVariant._colorId + '_' +
        this.local_selectedVariant._secondOptId;
      const base_cost = parseInt(baseCost) * 100; // convert baht to satang
      const data = { base_cost };
      await axios.patch('/api/admin/base_product_variant/' + updateKey, data);
      await this.local_updateBaseProductData();
      this.formbc_formVisible = false;
    },

  }
};
</script>
<style lang="scss" scoped>
</style>
