<template lang="pug">
  ExploreByTag(
    :isLoadingItems="explore_isLoadingItems"
    :isFirstPage="explore_isFirstPage"
    :tag="explore_tag"
  )
    template(v-slot:artworks="{ galleryWidth }")
      ArtworkGallery(:items="gallery_items" :defaultWidth="galleryWidth")
    template(v-slot:pagination)
      DefaultPagination(
        :page="pagination_page"
        :pageCount="pagination_pageCount"
        :getPageURL="(page) => ({query: {...initial_$route.query, page}})"
      )
</template>
<script>
import axios from 'axios';

import ExploreByTag from '~/components/pages/explore_by_tag.vue';
import ArtworkGallery from '~/components/galleries/artworks.vue';
import DefaultPagination from '~/components/pagination/pagination.vue';

export default {
  head() {
    return {
      title: 'wadlen ชุมชนคนชอบวาด',
      titleTemplate: undefined
    }
  },
  key(route) {
    return window.history.state.key;
  },
  components: {
    ExploreByTag,
    DefaultPagination,
    ArtworkGallery
  },
  data() {
    return {
      local_artworksData: null,

      explore_isLoadingItems: true
    };
  },
  async created() {
    this.initial_$route = this.$route;
    await this.local_setArtworks();
  },
  methods: {
    local_getArtworks() {
      const query = 'sort=new' + '&page=' + this.query_page + '&tag=' + this.explore_tag;
      return axios.get('/api/artworks?' + query);
    },
    async local_setArtworks() {
      this.local_artworksData = await this.local_getArtworks().then(res => res.data);
      await new Promise(res => setTimeout(res, 300));
      this.explore_isLoadingItems = false;
    }
  },
  computed: {
    query_page() {
      return this.initial_$route.query.page || '1';
    },
    explore_isFirstPage() {
      return this.query_page === '1';
    },
    explore_tag() {
      return this.$route.params.tag;
    },
    pagination_page() {
      return parseInt(this.query_page);
    },
    pagination_pageCount() {
      if (!this.local_artworksData) return;

      return this.local_artworksData.page_count;
    },
    gallery_items() {
      if (!this.local_artworksData) return;

      const mapper = (i) => {
        return {
          title: i.title,
          img: i._url,
          aspectRatio: i.px_width / i.px_height,
          author: i.author.username,
          link: "/artwork/" + i.id
        }
      };

      return this.local_artworksData.artworks.map(mapper);
    }
  },
  watch: {
    // dont need this because now using nuxt(keep-alive)
    //async '$route.query'() {
    //  await this.local_setArtworks();
    //}
  }
};
</script>
<style lang="scss" scoped>
</style>