<template lang="pug">
ArtworkItem(
  :isLoadingEntirePage="artworkitem_isLoadingEntirePage"
  :timestamp="artworkitem_timestamp"
  :artworkTitle="artworkitem_artworkTitle"
  :description="artworkitem_description"
  :tags="artworkitem_tags"
  :artworkSrc="artworkitem_artworkSrc"
  :originalArtworkSrc="artworkitem_originalArtworkSrc"
  :artworkWidth="artworkitem_artworkWidth"
  :artworkHeight="artworkitem_artworkHeight"
  :authorName="artworkitem_authorName"
  :authorUrl="artworkitem_authorUrl"
  :authorAvatar="artworkitem_authorAvatar"
  :liked="artworkitem_liked"
  :liking="artworkitem_liking"
  :like="artworkitem_like"
)
  template(v-slot:comments)
    SimpleComments(
      v-if="local_commentsVisible"
      :newComments="comments_newComments"
      :comments="comments_comments" 
      :loadMoreComments="comments_loadMoreComments"
      :loadingComments="comments_loadingComments"
      :onEditorFocus="comments_onEditorFocus"
      :addComment="comments_addComment"
      :isAddingComment="comments_isAddingComment"
    )
</template>
<script>
import axios from 'axios';

import ArtworkItem from '~/components/pages/artwork_item.vue';
import SimpleComments from '~/components/comments.vue';

export default {
  components: {
    ArtworkItem,
    SimpleComments
  },
  data() {
    return {
      local_artworkItemData: null,
      local_commentsData: null,
      local_commentsVisible: false,
      local_noMoreComments: false,
      artworkitem_isLoadingEntirePage: true,
      artworkitem_liking: false,
      comments_loadingComments: false,
      comments_newComments: null,
      comments_isAddingComment: false
    }
  },
  head() {
    if (!this.local_artworkItemData) return;

    const title =  this.local_artworkItemData.artwork.title;

    return {
      title,
      meta: [
        {
          property: 'og:image',
          content: this.artworkitem_artworkSrc
        }
      ]
    }
  },
  computed: {
    artworkitem_artworkTitle() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.title;
    },
    artworkitem_artworkSrc() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork._url;
    },
    artworkitem_originalArtworkSrc() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.original_img_url;
    },
    artworkitem_artworkWidth() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.px_width;
    },
    artworkitem_artworkHeight() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.px_height;
    },
    artworkitem_description() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.description;
    },
    artworkitem_tags() {
      if (!this.local_artworkItemData) return;
      const mapper = (tag) => {
        return {
          value: tag,
          link: '/tag/' + tag
        }
      };
      return this.local_artworkItemData.artwork.tags.map(mapper);
    },
    artworkitem_timestamp() {
      if (!this.local_artworkItemData) return;
      return this.$dayjs(this.local_artworkItemData.artwork.created_at).fromNow();
    },
    artworkitem_authorName() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.author.username;
    },
    artworkitem_authorUrl() {
      if (!this.local_artworkItemData) return;
      return `/user/${this.local_artworkItemData.artwork.author.username}`;
    },
    artworkitem_authorAvatar() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.author.avatar_url;
    },
    artworkitem_liked() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.i_liked;
    },
    comments_comments() {
      if (!this.local_commentsData) return;

      return this.local_commentsData.comments.map(this.local_commentMapper);
    }
  },
  async fetch() {
    this.artworkitem_isLoadingEntirePage = true;
    this.local_artworkItemData = await this.local_getArtwork().then(res => res.data);
    if (process.client) {
      await new Promise(res => setTimeout(res, 300));
    }
    this.artworkitem_isLoadingEntirePage = false;
    this.local_commentsVisible = true;
  },
  methods: {
    local_getArtwork() {
      return axios.get('/api/artwork/' + this.$route.params.id);
    },
    local_getProducts() {
      const query = '?artwork=' + this.$route.params.id +
        '&page=1&size=25&sort=popular';
      return axios.get('/api/overlaid_products' + query);
    },
    async artworkitem_like() {
      if(!this.$store.state.loggedInUser) {
        this.$router.push('/login');
        return;
      }

      try {
        this.artworkitem_liking = true;
        await axios.post('/api/artwork/'  + this.$route.params.id + '/like');
        this.local_artworkItemData.artwork.i_liked = true;
      } catch (err) {
        console.error(err);
      } finally {
        this.artworkitem_liking = false;
      }
    },
    local_commentMapper(i) {
      return {
        author: i.username,
        avatar_url: i.avatar_url,
        body: i.body,
        created_at: this.$dayjs(i.created_at).fromNow()
      }
    },
    async comments_loadMoreComments() {
      if (this.local_noMoreComments) return;

      try {
        this.comments_loadingComments = true;
        let after = '';
        if (this.local_commentsData) {
          const last = this.local_commentsData.comments[this.local_commentsData.comments.length - 1];
          after = '?after=' + last.id;
        }
        const local_commentsData = await axios.get(`/api/artwork/${this.$route.params.id}/comments` + after)
          .then(res => res.data);
        await new Promise(res => setTimeout(res, 300));
        if (local_commentsData.comments.length === 0) this.local_noMoreComments = true;
        if (!this.local_commentsData) {
          this.local_commentsData = local_commentsData;
        } else {
          this.local_commentsData.comments = 
            [...this.local_commentsData.comments, ...local_commentsData.comments];
        }
        this.comments_loadingComments = false;
      } catch(err) {
        console.error(err);
      }
    },
    comments_onEditorFocus() {
      if(!this.$store.state.loggedInUser) {
        this.$router.push('/login');
      }
    },
    async comments_addComment(text, clearInput) {
      this.comments_isAddingComment = true;
      const commentData = await axios.post(`/api/artwork/${this.$route.params.id}/comment`, { body: text })
        .then(res => res.data);
      await new Promise(res => setTimeout(res, 300));
      const comment = this.local_commentMapper(commentData.comment);
      if (!this.comments_newComments) this.comments_newComments = [];
      this.comments_newComments = [comment, ...this.comments_newComments];
      clearInput();
      this.comments_isAddingComment = false;
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
</style>