<template lang="pug">
div.admin-layout-root
  div.nav
    div.nav__logo
      div.logo
        div.logo__logo Bahurat
        div.logo__sub-logo administration
    div.nav__nav-links
      nuxt-link.link.nav__nav-links-item(to="/admin/orders") Orders
      nuxt-link.link.nav__nav-links-item(data-cy="products-link" to="/admin/base-products") BaseProducts
    div.nav__return-link(style="")
      nuxt-link(to="/")
        button.btn.backhome-btn back to home
  // slot is needed. it specify the location of the content
  slot
</template>
<script>
export default {
  data() {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.admin-layout-root {
  //width: $breakpoint-xl;
  //margin: auto;
}

.logo {
  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__sub-logo {
    font-size: .75rem;
  }
}

.nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  border-bottom: 1px solid $oc-gray-4;
  padding: 2rem 2rem;
  &__logo {
    display: flex;
    align-items: center;
  }
  &__nav-links {
    display: flex;
    align-items: center;
  }
  &__nav-links-item {
    &:first-child {
      margin-left: 6rem;
    }
    &:not(:last-child) {
      margin-right: 6rem;
    }
  }
  &__return-link {
    display: flex;
    align-items: center;
  }
}

.backhome-btn {
  white-space: nowrap;
}
</style>