<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="updateBaseCost"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle) change base_cost
  template(v-slot:body)
    div.form__label-container
      label.form__label baseCost
      div.form__text-helper must follow the following rules
    Cleave.form__input(
      data-cy="base-cost-input"
      :options=`{
        numeral: true,
        numeralThousandsGroupStyle: 'thousand',
        numeralIntegerScale: 4,
        numeralDecimalScale: 0,
        numeralPositiveOnly: true,
        prefix: '฿ ',
        rawValueTrimPrefix: true
      }`
      v-model.number='local_baseCost'
    )
    template(v-if="$v.local_baseCost.$error")
      div(style="margin-top:.5rem;")
      template(v-if="!$v.local_baseCost.required")
        div(style=""): b: small can't be blank
  template(v-slot:secondaryButtonText) cancel
  template(v-slot:primaryButtonText) save
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Cleave from "vue-cleave-component";

const getInitialData = (baseCost) => ({
  local_baseCost: baseCost,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
    Cleave
  },
  mixins: [validationMixin],
  validations: {
    local_baseCost: {
      required
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    baseCost: Number, // "baseCost"
    updater: Function
  },
  data() {
    return getInitialData(this.baseCost);
  },
  mounted() {
  },
  methods: {
    updateBaseCost() {
      this.$v.local_baseCost.$touch();

      if (this.$v.local_baseCost.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_baseCost);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.baseCost));
        this.$v.local_baseCost.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>