<template lang="pug">
div.admin_product_item_root
  template(v-if="isLoadingOverlay")
    div(style="position:fixed;left:0;top:0;width:100%;height:100%;z-index:999;background:black;opacity:.5;") 
      div(style="top:30%;position:relative;display:flex;justify-content:center;")
        looping-rhombuses-spinner(:animation-duration='2500', :rhombus-size='12', color='white')
  template(v-if="isLoadingEntirePage")
    h1: center ...page is loading
  template(v-else)
    div.top-header {{ pageTitle }}
    div.overview-body
      div.overview-body__item
        div.overview-body__item-title product
        div.overview-body__item-body
          div.overview-card
            ToggleButton.product-toggle-btn(
              data-cy="product-enable-switch"
              :value="productEnabled"
              :sync="true"
              @change="toggleProduct"
              :color="{'checked': '#40c057', 'unchecked': '#CED4DA'}"
            )
            div.overview-card__key-value-container(v-for="prop in productProps")
              div.overview-card__key {{ prop.key }}
              div.overview-card__value {{ prop.value }}
      div.overview-body__item
        div.overview-body__item-title colors
        div.overview-body__item-body
          div.overview-card(v-for="color in colors")
            ToggleButton.product-toggle-btn(
              data-cy="color-enable-switch"
              :value="color.enabled"
              :sync="true"
              @change="() => toggleColor(color)"
              :color="{'checked': '#40c057', 'unchecked': '#CED4DA'}"
            )
            div(style="display:inline;margin-left:1rem;margin-top:-1rem;")
              button(v-if="!color.isDefault" @click="setDefaultColor(color)") set-default
              span(v-else style="background:yellow;padding:.125rem .5rem;"): b default
            button.btn.btn--primary.custom-preview-btn(@click="previewColor(color)") preview
            div.overview-card__key-value-container
              div.overview-card__key name
              div.overview-card__value
                span(
                  style=`
                    display:inline-block;
                    width:12px;
                    height:12px;
                    margin-right:.5rem;
                  `
                  :style="{ background: color.hex }"
                ) 
                span {{ color.name }}
            div.overview-card__key-value-container(v-for="prop in color.props")
              div.overview-card__key {{ prop.key }}
              div.overview-card__value {{ prop.value }}
      div.overview-body__item
        div.overview-body__item-title second_opts
        div.overview-body__item-body
          div.overview-card(v-for="option in secondOpts")
            ToggleButton.product-toggle-btn(
              data-cy="second-opt-enable-switch"
              :value="option.enabled"
              :sync="true"
              @change="() => toggleSecondOpt(option)"
              :color="{'checked': '#40c057', 'unchecked': '#CED4DA'}"
            )
            div.overview-card__key-value-container(v-for="prop in option.props")
              div.overview-card__key {{ prop.key }}
              div.overview-card__value {{ prop.value }}
    div.variants-body
      div.variants-body__row.variants-body__row--head
        div.variants-body__id id
        div.variants-body__color color
        div.variants-body__second_opt second_opt
        div.variants-body__base-cost base_cost
        div.variants-body__quantity qty
      div.variants-body__row(data-cy="product-variant" v-for="variant in variants")
        div.variants-body__id {{ variant.id }}
        div.variants-body__color
          span(
            style=`
              display:inline-block;
              width:12px;
              height:12px;
              margin-right:.5rem;
            `
            :style="{ background: variant.colorHex }"
          ) 
          span {{ variant.colorName }}
        div.variants-body__second_opt {{ variant.secondOptVal }}
        div.variants-body__base-cost(data-cy="base-cost") {{ variant.baseCost }}
          span(style="margin-left: 1rem;")
            button.btn.btn--link(data-cy="base-cost-edit-btn" @click="initBaseCostForm(variant)") change
        div.variants-body__quantity(data-cy="qty") {{ variant.quantity }}
          span(style="margin-left: 1rem;")
            button.btn.btn--link(data-cy="qty-edit-btn" @click="initQuantityForm(variant)") change

</template>
<script>
import { ToggleButton } from 'vue-js-toggle-button';
import { LoopingRhombusesSpinner } from 'epic-spinners';

export default {
  components: {
    ToggleButton,
    LoopingRhombusesSpinner
  },
  props: {
    isLoadingEntirePage: Boolean,
    isLoadingOverlay: Boolean,
    pageTitle: String,
    productEnabled: Boolean,
    productProps: Array, // [{key: any, value: any}, ...more]
    colors: Array, // [{props: [{key: any, value: any}, ...more], name: 'string', hex: 'string', enabled: 'boolean', isDefault: 'boolean, ...optionalProps}, ...more]
    secondOpts: Array, // [{props: [{key: any, value: any}, ...more], enabled: 'boolean'}, ...more]
    variants: Array, // [{id: 'Number', colorName: 'string', colorHex: 'string', secondOptVal: 'string', baseCost: 'number', quantity: 'number'}, ...more]
    toggleProduct: Function, // function () {}
    toggleColor: Function, // function (color) {}
    setDefaultColor: Function, // function (color) {}
    toggleSecondOpt: Function, // function (secondOpt) {}
    previewColor: Function, // function (color) {}
    initBaseCostForm: Function, // function (variant) {}
    initQuantityForm: Function,  // function (variant) {}
  },
  data() {
    return {
    };
  },
  computed: {
  },
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.admin_product_item_root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.top-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.secondary-header {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
}

.overview-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;

  &__item {
  }
  &__item-title {
    font-size: .75rem;
    font-weight: bold;
  }
  &__item-body {
    border: 1px solid black;
    padding: 1rem;
  }
}

.overview-card {
  background: $oc-gray-7;
  font-size: .875rem;
  padding: 1rem;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__key-value-container {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__key {
    background: $oc-gray-4;
    font-weight: bold;
    padding: .25rem;
  }
  &__value {
    background: $oc-gray-3;
    padding: .25rem;
  }
}

.custom-preview-btn {
  font-size: .75rem;
  padding: .5rem;
  position: absolute;
  right: 0;
  top: 0rem;
}

.product-toggle-btn {
  margin-bottom: 1rem;
}

.variants-body {
  margin-top: 2rem;
  &__row {
    display: grid;
    padding: 1rem;
    border: 1px solid black;
    grid-template-columns: .75fr 1.125fr 1.125fr 1.5fr .5fr;
    column-gap: 1rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &--head {
      font-weight: bold;
      font-size: .75rem;
    }
  }
}

.base-cost-input {
  width: 5rem;
}

.quantity-select {
  width: 3rem;
}
</style>