<i18n>
{
  "th": {
    "account_settings": "ตั้งค่าบัญชี",
    "avatar": "อวาตาร์",
    "avatar_help_text": "jpg, png ขนาดไม่เกิน 100kb รูปขนาดใหญ่จะถูกย่ออัตโนมัติ",
    "select_file": "เลือกไฟล์",
    "please_select_file": "กรุณาเลือกไฟล์",
    "file_is_too_big": "ไฟล์มีขนาดใหญ่เกินไป",
    "cancel": "ยกเลิก",
    "upload": "อัพโหลด",
    "uploading": "กำลังอัพโหลด..."
  }
}
</i18n>
<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="updateAvatar"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{ 'width': '30rem' }"
)
  template(v-slot:primaryTitle) {{ $t('account_settings') }}
  template(v-slot:body)
    input.upload-input(
      data-cy="avatar-input"
      ref="fileInput" 
      type="file" 
      accept="image/png, image/jpeg" 
      @change="(e) => setFile(e.target.files[0]) && $v.file.$touch()"
    )
    div.upload-bg
      div
        template(v-if="file")
          img.preview-img(:src="fileURL" data-cy="avatar-img")
          div.file-name
            | {{ file.name }}
            button.btn.btn--link.delete-btn(@click="file = null") delete
        template(v-else)
          div.form__label-container
            label.form__label {{ $t('avatar') }}
            div.form__text-helper {{ $t('avatar_help_text') }}
          button.btn.btn--secondary(@click="$refs.fileInput.click()") {{ $t('select_file') }}
        template(v-if="$v.file.$error && !settingFile")
          div.form__text-error(v-if="!$v.file.required") {{ $t('please_select_file') }}
          div.form__text-error(v-else-if="!$v.file.maxSize") {{ $t('file_is_too_big') }}
  template(v-slot:secondaryButtonText) {{ $t('cancel') }}
  template(v-slot:primaryButtonText) {{ $t('upload') }}
  template(v-slot:primaryButtonTextTakingAction) {{ $t('uploading') + betterUploadProgress }}
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import _pica from "pica";

import SlideoutBase from '~/components/overlays/slideout';

const pica = _pica();

const getInitialData = () => ({
  file: null,
  slideoutState: 'default',
  uploadProgress: 0,
  settingFile: false
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    file: {
      required,
      maxSize: (file) => file ? file.size <= 100 * 1024 : true // kb * bytes
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    updater: Function // function(file, setProgress)
  },
  data() {
    return getInitialData();
  },
  computed: {
    fileURL() {
      if (!this.file) return;

      return URL.createObjectURL(this.file);
    },
    betterUploadProgress() {
      let progress = this.uploadProgress;

      if (progress === null) return '';

      return progress + '%';
    }
  },
  methods: {
    updateAvatar() {
      this.$v.file.$touch();

      if (this.$v.file.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.file, this._setProgress);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    },
    _setProgress(val) {
      this.uploadProgress = val;
    },
    async setFile(file) {
      this.settingFile = true;
      const canvas = document.createElement('canvas');
      const outCanvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      const url = URL.createObjectURL(file);
      const img = new Image();
      await new Promise(res => {
        img.onload = res;
        img.src = url;
      });
      let avatarSize;
      let avatarSizeAdjust;
      let sourceX;
      let sourceY;
      if (img.width > img.height) {
        avatarSize = img.height;
        sourceX = Math.floor((img.width - avatarSize) / 2);
        sourceY = 0
      } else {
        avatarSize = img.width;
        sourceX = 0;
        sourceY = Math.floor((img.height - avatarSize) / 2);
      }
      avatarSizeAdjust = avatarSize > 150 ? 150 : avatarSize;
      canvas.width = avatarSize;
      canvas.height = avatarSize;
      outCanvas.width = avatarSizeAdjust;
      outCanvas.height = avatarSizeAdjust;
      context.drawImage(img, sourceX, sourceY, avatarSize, avatarSize, 0, 0, avatarSize, avatarSize);
      const blob = await pica.resize(canvas, outCanvas).then(result => pica.toBlob(result, 'image/jpeg', 0.90));
      blob.name = file.name;
      this.file = blob;
      this.settingFile = false;
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData());
        this.$v.file.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.upload-input {
  display: none;
}

.upload-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: $oc-gray-1;
  min-height: 250px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.preview-img {
  max-width: 100%;
}

.file-name {
  font-size: 14px;
}

.delete-btn {
  margin-left: .25rem;
}
</style>