<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="updateUsername"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle) edit username
  template(v-slot:body)
    div.form__label-container
      label.form__label username
      div.form__text-helper must follow the following rules
    input.form__input(
      maxlength='100'
      v-model='local_username'
    )
    template(v-if="$v.local_username.$error")
      div(style="margin-top:.5rem;")
      template(v-if="!$v.local_username.required")
        div(style=""): b: small can't be blank
  template(v-slot:secondaryButtonText) cancel
  template(v-slot:primaryButtonText) save
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

const getInitialData = (username) => ({
  local_username: username,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_username: {
      required
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    username: String, // "username"
    updater: Function
  },
  data() {
    return getInitialData(this.username);
  },
  mounted() {
  },
  methods: {
    updateUsername() {
      this.$v.local_username.$touch();

      if (this.$v.local_username.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_username);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.username));
        this.$v.local_username.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>