<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="p_update"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle) edit bank_account
  template(v-slot:body)
    div.form__label-container
      label.form__label bank_account
      div.form__text-helper must follow the following rules
    input.form__input(
      maxlength='100'
      v-model='local_val'
    )
    template(v-if="$v.local_val.$error")
      div(style="margin-top:.5rem;")
      template(v-if="!$v.local_val.required")
        div(style=""): b: small can't be blank
  template(v-slot:secondaryButtonText) cancel
  template(v-slot:primaryButtonText) save
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

const getInitialData = (val) => ({
  local_val: val,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_val: {
      required
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    val: String, // change the type to suit your need e.g. Number, String, Boolean, ...
    updater: Function
  },
  data() {
    return getInitialData(this.val);
  },
  mounted() {
  },
  methods: {
    p_update() {
      this.$v.local_val.$touch();

      if (this.$v.local_val.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_val);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.val));
        this.$v.local_val.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>