<i18n>
{
  "th": {
    "account_settings": "ตั้งค่าบัญชี",
    "about": "เกี่ยวกับ",
    "about_help_text": "เขียนเกี่ยวกับตัวคุณ หรือบอกอะไรกับคนอื่นๆก็ได้",

    "cancel": "ยกเลิก",
    "save": "บันทึก",
    "saving": "กำลังบันทึก..."
  }
}
</i18n>
<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="updateAbout"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle) {{ $t('account_settings') }}
  template(v-slot:body)
    div.form__label-container
      label.form__label {{ $t('about') }}
      div.form__text-helper {{ $t('about_help_text') }}
    textarea.form__textarea(
      data-cy="about-input"
      rows="8"
      v-model="$v.local_about.$model"
    )
  template(v-slot:secondaryButtonText) {{ $t('cancel') }}
  template(v-slot:primaryButtonText) {{ $t('save') }}
  template(v-slot:primaryButtonTextTakingAction) {{ $t('saving') }}
</template>
<script>
import { validationMixin } from "vuelidate";

import SlideoutBase from '~/components/overlays/slideout';

const getInitialData = (about) => ({
  local_about: about,
  slideoutState: 'default'
});

export default {
  mixins: [validationMixin],
  components: {
    SlideoutBase,
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    about: String, // "about"
    updater: Function // function (about) {}
  },
  validations: {
    local_about: {
    }
  },
  data() {
    return getInitialData(this.about);
  },
  mounted() {
  },
  methods: {
    updateAbout() {
      this.$v.local_about.$touch();

      if (this.$v.local_about.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_about);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.about));
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>
