<i18n>
{
  "th": {
    "account_settings": "ตั้งค่าบัญชี",
    "banner": "แบนเนอร์",
    "banner_help_text": "jpg, png ขนาดไม่เกิน 1mb",
    "select_file": "เลือกไฟล์",
    "please_select_file": "กรุณาเลือกไฟล์",
    "file_is_too_big": "ไฟล์มีขนาดใหญ่เกินไป",
    "cancel": "ยกเลิก",
    "upload": "อัพโหลด",
    "uploading": "กำลังอัพโหลด..."
  }
}
</i18n>
<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="updateBanner"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{ 'width': '30rem' }"
)
  template(v-slot:primaryTitle) {{ $t('account_settings') }}
  template(v-slot:body)
    input.upload-input(
      data-cy="banner-input"
      ref="fileInput" 
      type="file" 
      accept="image/png, image/jpeg" 
      @change="(e) => (file = e.target.files[0]) && $v.file.$touch()"
    ) 
    div.upload-bg
      div
        template(v-if="file")
          img.preview-img(:src="fileURL")
          div.file-name
            | {{ file.name }}
            button.btn.btn--link.delete-btn(@click="file = null") delete
        template(v-else)
          div.form__label-container
            label.form__label {{ $t('banner') }}
            div.form__text-helper {{ $t('banner_help_text') }}
          button.btn.btn--secondary(@click="$refs.fileInput.click()") {{ $t('select_file') }}
        template(v-if="$v.file.$error")
          div.form__text-error(v-if="!$v.file.required") {{ $t('please_select_file') }}
          div.form__text-error(v-else-if="!$v.file.maxSize") {{ $t('file_is_too_big') }}
  template(v-slot:secondaryButtonText) {{ $t('cancel') }}
  template(v-slot:primaryButtonText) {{ $t('upload') }}
  template(v-slot:primaryButtonTextTakingAction) {{ $t('uploading') + betterUploadProgress }}
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

const getInitialData = () => ({
  file: null,
  slideoutState: 'default',
  uploadProgress: 0
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    file: {
      required,
      maxSize: (file) => file ? file.size <= 1 * 1024 * 1024 : true // mb * kb * bytes
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    updater: Function // function(file, setProgress)
  },
  data() {
    return getInitialData();
  },
  computed: {
    fileURL() {
      if (!this.file) return;

      return URL.createObjectURL(this.file);
    },
    betterUploadProgress() {
      let progress = this.uploadProgress;

      if (progress === null) return '';

      return progress + '%';
    }
  },
  methods: {
    updateBanner() {
      this.$v.file.$touch();

      if (this.$v.file.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.file, this._setProgress);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    },
    _setProgress(val) {
      this.uploadProgress = val;
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData());
        this.$v.file.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.upload-input {
  display: none;
}

.upload-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: $oc-gray-1;
  min-height: 250px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.preview-img {
  max-width: 100%;
}

.file-name {
  font-size: 14px;
}

.delete-btn {
  margin-left: .25rem;
}
</style>