<i18n>
{
  "th": {
    "account_settings": "ตั้งค่าบัญชี",

    "username": "ชื่อผู่ใช้",
    "email": "อีเมล",
    "about": "เกี่ยวกับ",
    "banner_and_avatar": "แบนเนอร์ และ อวาตาร์",

    "edit": "แก้ไข",
    "upload_banner": "อัพโหลด แบนเนอร์",
    "upload_avatar": "อัพโหลด อวาตาร์"
  }
}
</i18n>
<template lang="pug">
div.account-root
  SimpleSpinner.spinner(v-if="isLoadingEntirePage")
  template(v-else)
    div.account-top-title {{ $t('account_settings') }}
    div.account-body
      div.account-body__item-wrapper
        div.account-body__item-label {{ $t('username') }} 
        div {{ username }}
      div.account-body__item-wrapper
        div.account-body__item-label {{ $t('email') }}
        div {{ email }}
      div.account-body__item-wrapper
        div.account-body__item-label {{ $t('about') }}
        div
          textarea.form__textarea(
            data-cy="about"
            rows="6"
            readonly
          ) {{ about }}
        button.btn.btn--link.edit-btn(
          data-cy="about-edit-btn"
          @click="editClickedHandler('about')"
        ) {{ $t('edit') }}
      div.account-body__item-wrapper.account-body__banner
        div.account-body__item-label {{ $t('banner_and_avatar') }}
        template
          img.account-body__item-banner-img(
            data-cy="banner"
            v-if="banner" 
            :src="banner"
          )
          div.account-body__banner-placeholder(v-else)
        template
          img.account-body__item-avatar-img(
            data-cy="avatar"
            v-if="avatar" 
            :src="avatar"
          )
          div.account-body__avatar-placeholder(v-else)
        div.upload-btn-wrapper
          button.btn.btn--link(
            data-cy="banner-edit-btn"
            @click="editClickedHandler('banner')"
          ) {{ $t('upload_banner') }}
        div.upload-btn-wrapper
          button.btn.btn--link(
            data-cy="avatar-edit-btn"
            @click="editClickedHandler('avatar')"
          ) {{ $t('upload_avatar') }}
    slot
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    isLoadingEntirePage: Boolean,

    username: String, //
    email: String, //
    banner: String, //
    avatar: String, //
    about: String, //

    editClickedHandler: Function // function('about' || 'banner' || 'avatar')
  },
  components: {
    SimpleSpinner
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$page-max-width: $breakpoint-l; 
$content-max-width: 25rem;


.account-root {
  max-width: $page-max-width;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.spinner {
  //margin-top: 2rem;
}

.account-top-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.account-body {
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 2.5rem;
  &__item-wrapper {
    @include for-and-up($breakpoint-l) {
      //margin-top: 2rem;

    }
  }
  &__item-label {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: .875rem;
  }


  &__item-helper-text {
    color: $oc-gray-7;
    margin-top: .25rem;
    margin-bottom: .5rem;
    font-size: .875rem;
  }

  &__banner {
    grid-column: 2;
    grid-row: 1 / 5;
  }

  @mixin placeholder {
    color: $oc-gray-5;
    font-size: .75rem;
    padding: .25rem;
    box-sizing: border-box;
  }

  @mixin banner-margin {
    margin-top: 1rem;
  }

  &__item-banner-img {
    @include banner-margin;
    display: block;
    max-width: 100%;
    max-height: 200px;
  }

  &__banner-placeholder {
    @include banner-margin;
    @include placeholder;
    width: 100%;
    height: 100px;
    background: $loading-bg;
  }

  @mixin avatar-margin {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__item-avatar-img {
    @include avatar-margin;
    width: 60px;
    height: 60px;
    object-fit: cover;
    background: $loading-bg;
  }

  &__avatar-placeholder {
    @include avatar-margin;
    @include placeholder;
    width: 60px;
    height: 60px;
    background: $loading-bg;
  }
}

.upload-btn-wrapper {
  margin-top: 1rem;

}

.edit-btn {
  margin-top: .5rem;
}

</style>
