<template lang="pug">
div.highlight-root(v-html="highlighedText")
</template>
<script>
import Autolinker from 'autolinker';

export default {
  props: {
      text: String
  },
  computed: {
      highlighedText() {
          const opts = {
              stripPrefix: false
          };
          const _text = Autolinker.link(this.text, opts);

          return _text;
      }
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";

.highlight-root /deep/ a {
    color: $oc-indigo-7;
    text-decoration: none;
}
</style>