<i18n>
{
  "th": {
    "write_comment": "แสดงความคิดเห็น ชื่นชมผลงาน",
    "comment": "แสดงความคิดเห็น",
    "commenting": "แสดงความคิดเห็น..."
  }
}
</i18n>
<template lang="pug">
div.comments-root
  div.new-comment
    div.new-comment__input-wrapper
      textarea.new-comment__input(
        rows="1" 
        @input="textareaResize"
        @focus="_onEditorFocus"
        v-model="commentInput"
        :placeholder="$t('write_comment')"
      )
      div.new-comment__counter(
        v-if="focused" 
        :class="{ 'new-comment__counter--error': commentInput.length > maxCharacters }"
      ) {{ commentInput.length }}/{{ maxCharacters }}
    div.new-comment__btn-wrapper(v-if="focused")
      template(v-if="commentDisabled")
        button.btn(key="disabled-btn" disabled) {{ $t('comment') }}
      template(v-else)
        template(v-if="isAddingComment")
          button.btn.btn--primary {{ $t('commenting') }}
        template(v-else)
          button.btn.btn--primary(@click="_addComment") {{ $t('comment') }}
  template(v-for="(i, idx) in newComments")
    div.comment(:key="'new-comment-' + (newComments.length - idx - 1)")
      div.comment__top
        img.comment__avatar(:src="i.avatar_url")
        div.comment__author {{ i.author }}
        div.comment__timestamp {{ i.created_at }}
      div.comment__body {{ i.body }}
  template(v-for="i in comments")
    div.comment
      div.comment__top
        img.comment__avatar(:src="i.avatar_url")
        div.comment__author {{ i.author }}
        div.comment__timestamp {{ i.created_at }}
      div.comment__body {{ i.body }}
  template(v-if="loadingComments")
    SimpleSpinner.spinner
  template(v-else)
    lazy-component(@show="lazyShow")
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    loadingComments: Boolean,
    newComments: Array,
    comments: Array,
    loadMoreComments: Function,
    allCommentsLoaded: Boolean,
    onEditorFocus: Function,
    addComment: Function, // function(text, clearInput) {}
    isAddingComment: Boolean
  },
  components: {
    SimpleSpinner
  },
  data() {
    return {
      commentInput: '',
      focused: false,
      maxCharacters: 256
    }
  },
  computed: {
    commentDisabled() {
      return (this.commentInput.length === 0) || (this.commentInput.length > this.maxCharacters);
    }
  },
  methods: {
    textareaResize(e) {
      e.target.style.height = 'auto';
      e.target.style.height = e.target.scrollHeight + 'px';
    },
    async lazyShow() {
      await this.loadMoreComments();
    },
    clearInput() {
      this.commentInput = '';
    },
    _addComment() {
      this.addComment(this.commentInput, this.clearInput)
    },
    _onEditorFocus() {
      this.focused = true;
      this.onEditorFocus();
    }
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.comments-root {
  margin-top: 3rem;
}

.new-comment {
  border: 1px solid $oc-gray-5;
  padding: 1rem;
  &__input-wrapper {
    display: flex;
  }
  &__input {
    resize: none;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
  &__counter {
    color: $oc-gray-6;
    font-size: 12px;
    margin-left: 1rem;
    &--error {
      color: $oc-red-8;
    }
  }
  &__btn-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
  }
  &__please-login {
    color: $oc-gray-6;
  }
}

.comment {
  margin-top: 3rem;
  &__top {
    display: flex;
    margin-bottom: .5rem;
  }
  &__avatar {
    $size: 28px;
    height: $size;
    width: $size;
    border-radius: 3px;
    background: $loading-bg;
  }
  &__author {
    margin-left: .5rem;
    font-size: 14px;
    font-weight: bold;
  }
  &__timestamp {
    margin-left: .5rem;
    font-size: 14px;
    color: $oc-gray-7;
  }
  &__body {
    white-space: pre-wrap;
    line-height: 1.5;
  }
}

.spinner {
  margin-top: 1rem;
}
</style>
