<template lang="pug">
div.earnings-root
  SimpleSpinner.spinner(v-if="isLoading")
  template(v-else)
    div.page-title Earnings
    div.earnings-card
      div
        div.earnings-card__key balance
        div {{ balance }}
      div
        div.earnings-card__key bank acccount
          button.btn.btn--link.earnings-card__edit-btn(@click="bankAccEditOnClick") edit
        div {{ bankAccount }}
    div.table-tabs
      div.table-tabs__item(
        @click="switchToTable('transactions')"
        :class='{ "table-tabs__item--selected": currentTable === "transactions"}'
      ) transactions
      div.table-tabs__item(
        @click="switchToTable('recently_sold')"
        :class='{ "table-tabs__item--selected": currentTable === "recently_sold"}'
      ) recently sold
    template(v-if="isLoadingTable")
      SimpleSpinner.spinner
    template(v-else)
      table.trx-table(v-if="currentTable === 'transactions'")
        thead.trx-table__thead
          tr.trx-table__row.trx-table__row--header
            th.trx-table__cell date
            th.trx-table__cell.trx-table__cell--description description
            th.trx-table__cell.trx-table__cell--amount money in
            th.trx-table__cell.trx-table__cell--amount money out
            th.trx-table__cell.trx-table__cell--amount balance
        tbody.trx-table__tbody
          tr.trx-table__row(v-for="item in transactions")
            td.trx-table__cell {{ item.date }}
            td.trx-table__cell.trx-table__cell--description {{ item.description }}
            td.trx-table__cell.trx-table__cell--amount {{ item.moneyIn }}
            td.trx-table__cell.trx-table__cell--amount {{ item.moneyOut }}
            td.trx-table__cell.trx-table__cell--balance {{ item.balance }}
      table.trx-table(v-else-if="currentTable === 'recently_sold'")
        thead.trx-table__thead
          tr.trx-table__row.trx-table__row--header
            th.trx-table__cell date
            th.trx-table__cell artwork
            th.trx-table__cell product
            th.trx-table__cell.trx-table__cell--rAlign profit/unit
            th.trx-table__cell.trx-table__cell--rAlign fee/unit
            th.trx-table__cell.trx-table__cell--rAlign quantity
        tbody.trx-table__tbody
          tr.trx-table__row(v-for="item in recentlySoldItems")
            td.trx-table__cell {{ item.date }}
            td.trx-table__cell.trx-table__cell--campaign-title {{ item.artworkTitle }}
            td.trx-table__cell {{ item.productName }}
            td.trx-table__cell.trx-table__cell--rAlign {{ item.profit }}
            td.trx-table__cell.trx-table__cell--rAlign {{ item.fee }}
            td.trx-table__cell.trx-table__cell--rAlign {{ item.quantity }}
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  components: {
    SimpleSpinner
  },
  props: {
    currentTable: String, // 'transactions' || 'recently_sold'
    transactions: Array, // [{date: '11/1//11/', description: 'earnings', moneyIn: '$10', moneyOut: '', balance: '$999'}, ...]
    recentlySoldItems: Array, // [{artworkTitle: "title", productName: "title", profit: 123, fee: 10, date: "12/12/12"}]
    switchToTable: Function, // function(currentTable) {} see "currentTable" above
    bankAccEditOnClick: Function,
    balance: String,
    bankAccount: String,
    isLoadingTable: Boolean,
    isLoading: Boolean
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.earnings-root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.earnings-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__key {
    font-size: .875rem;
    margin-bottom: .125rem;
  }
  &__edit-btn {
    font-size: .875rem;
    display: inline-block;
    margin-left: .5rem;
  }
}

.table-tabs {
  border-bottom: 1px solid $oc-gray-4;
  margin-top: 2rem;
  margin-bottom: 1rem;
  &__item {
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
    user-select: none;
    color: $oc-gray-6;
    &--selected {
      color: $oc-gray-9;
      font-weight: bold;
      border-bottom: 2px solid $oc-indigo-7;
    }
  }
}

.trx-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  &__thead, &__tbody {
    overflow-x: auto;
    white-space: nowrap;
  }
  &__row {
    font-size: .875rem;
    white-space: nowrap;
    border-radius: 5px;
    border-bottom: 1px solid $oc-gray-4;
    background: white;
    &--header {
      border-bottom: 2px solid $oc-gray-5;
      color: $oc-gray-6;
      background: $oc-gray-2;
    }
    &:nth-child(odd):not(&--header) {
      //background: white;
    }
    &:nth-child(even) {
      //background: $oc-gray-0;
    }
  }
  &__cell {
    background: inherit;
    text-align: left;
    padding: 1.5rem 1rem;
    white-space: normal;
    &:first-child {
    }
    &--description {
    }
    &--amount {
      text-align: right;
    }
    &--balance {
      text-align: right;
    }
  }
}
</style>

