<template lang="pug">
  PrintersOrderItem(
    :id="orderitem_id"
    :items="orderitem_items"
    :contact="orderitem_contact"
    :shipping="orderitem_shipping"
    :isLoadingEntirePage="isLoadingEntirePage"
  )
</template>
<script>
import PrintersOrderItem from '~/components/pages/printers_order_item.vue';
import axios from 'axios';

export default {
  layout: 'empty',
  components: {
    PrintersOrderItem
  },
  data() {
    return {
      local_orderData: null,
      isLoadingEntirePage: false,
    }
  },
  async created() {
    this.isLoadingEntirePage = true;
    this.local_orderData = (await this._getOrder()).data;
    this.isLoadingEntirePage = false;
  },
  methods: {
    _getOrder() {
      return axios.get(`/api/admin/order/${this.$route.params.id}`);
    },
  },
  computed: {
    orderitem_id() {
      if (!this.local_orderData) return;
      return this.local_orderData.order.id;
    },
    orderitem_shipping() {
      if (!this.local_orderData) return;

      return {
        name: this.local_orderData.order.shipping_full_name,
        address: this.local_orderData.order.shipping_address,
        district: this.local_orderData.order.shipping_district,
        province: this.local_orderData.order.shipping_province,
        zipCode: this.local_orderData.order.shipping_postal_code
      };
    },
    orderitem_contact() {
      if (!this.local_orderData) return;

      return {
        //phoneNumber: this.local_orderData.order.phone_number || '-'
      };
    },
    orderitem_items() {
      if (!this.local_orderData) return;

      const mapper = (item) => {
        const price = (item.unit_price / 100).toLocaleString('th', { style: 'currency', currency: 'THB' });
        return {
          previewURL: item._overlaid_product_img_url,
          artworkURL: item.artwork._url,
          artwork: item.artwork.title,
          product: item.base_product.name,
          variant: item._variant_name,
          quantity: item.quantity,
          width: item.artwork_mm_width + ' mm',
          left: item.artwork_mm_left + ' mm',
          top: item.artwork_mm_top + ' mm'
        }
      }
      return this.local_orderData.order.lines.map(mapper);
    },
  }
};
</script>
<style lang="scss" scoped>
</style>