<template lang="pug">
div
  ErrorToast(ref="errorToast")
  OverlayLoading(ref='loading' style='z-index:9999;')
  CampaignItem(
    :isLoadingEntirePage="campaignitem_isLoadingEntirePage"

    :linkToArtworkList="'/me/artworks'"

    :tab="campaignitem_tab"
    :tabChanged="campaignitem_tabChanged"

    :artworkUploadedAt="campaignitem_artworkUploadedAt"
    :artworkId="campaignitem_artworkId"
    :artworkSrc="campaignitem_artworkSrc"
    :artworkTitle="campaignitem_artworkTitle"
    :artworkDescription="campaignitem_artworkDescription"
    :artworkTags="campaignitem_artworkTags"
    :artworkVisible="campaignitem_artworkVisible"

    :products="campaignitem_products"

    :artworkTitleEditClicked="campaignitem_artworkTitleEditClicked"
    :artworkDescriptionEditClicked="campaignitem_artworkDescriptionEditClicked"
    :artworkTagsEditClicked="campaignitem_artworkTagsEditClicked"
    :artworkVisibleToggled="campaignitem_artworkVisibleToggled"
    :artworkDeleteHandler="campaignitem_artworkDeleteHandler"
    :productProductEditClicked="campaignitem_productProductEditClicked"
    :productProfitEditClicked="campaignitem_productProfitEditClicked"
    :productVisibleToggled="campaignitem_productVisibleToggled"
  )
  FormTitle(
    :formVisible="formtitle_formVisible"
    :hideForm="formtitle_hideForm"
    :updater="formtitle_updater"
    :title="formtitle_title"
  )
  FormDescription(
    :formVisible="formdesc_formVisible"
    :hideForm="formdesc_hideForm"
    :updater="formdesc_updater"
    :description="formdesc_description"
  )
  FormTags(
    :formVisible="formtags_formVisible"
    :hideForm="formtags_hideForm"
    :updater="formtags_updater"
    :tags="campaignitem_artworkTags"
  )
  FormProfit(
    :formVisible="formprofit_formVisible"
    :hideForm="formprofit_hideForm"
    :updater="formprofit_updater"
    :profit="formprofit_profit"
  )
  FormPrinting(
    ref="printingForm"

    :canvas_width="formprinting_canvas_sidelength"
    :canvas_height="formprinting_canvas_sidelength"
    :background_url="formprinting_background_url"
    :background_width="formprinting_background_width"
    :background_top="formprinting_background_top"
    :background_left="formprinting_background_left"
    :artwork_url="formprinting_artwork_url"
    :artwork_width="formprinting_artwork_width"
    :artwork_top="formprinting_artwork_top"
    :artwork_left="formprinting_artwork_left"
    :frame_width="formprinting_frame_width"
    :frame_height="formprinting_frame_height"
    :frame_top="formprinting_frame_top"
    :frame_left="formprinting_frame_left"

    :title="formprinting_title"
    :colors="formprinting_colors"
    :colorsVisible="formprinting_colorsVisible"

    :formVisible="formprinting_formVisible"
    :hideForm="formprinting_hideform"

    :fetchData="formprinting_fetchData"
    :colorClicked="formprinting_colorClicked"
    :calcResizeText="formprinting_calcResizeText"
    :calcDPI="formprinting_calcDPI"
    :frameSize="formprinting_frameSize"
    :updater="formprinting_updater"
  )
</template>
<script>
import axios from 'axios';
import * as R from 'ramda';

import OverlayLoading from '~/components/overlays/loading.vue';
import CampaignItem from '~/components/pages/author/campaign_item';
import FormTitle from '~/components/pages/author/campaign_item/form_title';
import FormDescription from '~/components/pages/author/campaign_item/form_description.vue';
import FormTags from '~/components/pages/author/campaign_item/form_tags';
import FormProfit from '~/components/pages/author/campaign_item/form_profit';
import FormPrinting from '~/components/pages/author/campaign_item/form_printing';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  middleware: 'authenticated',
  components: {
    ErrorToast,
    CampaignItem,
    FormTitle,
    FormDescription,
    FormTags,
    FormProfit,
    FormPrinting,
    OverlayLoading
  },
  data() {
    return {
      local_selectedProduct: null,
      local_artworkItemData: null,
      local_productListData: null,

      campaignitem_isLoadingEntirePage: true,
      campaignitem_tab: 'artwork',

      formtitle_formVisible: false,
      formdesc_formVisible: false,
      formtags_formVisible: false,
      formprofit_formVisible: false,
      formprinting_formVisible: false,

      local_getOverlaidProductItemData: null,
      local_selectedColor: null,
      formprinting_canvas_sidelength: 500 // px
    }
  },
  head() {
    if (!this.local_artworkItemData) return;

    const title =  this.local_artworkItemData.artwork.title + ' - แก้ไข';

    return {
      title,
      titleTemplate: ''
    }
  },
  async created() {
    const [artworks, products] = await Promise.all([
      this._getArtworkItem().then(res => res.data),
      this._getProductList().then(res => res.data)
    ])
    this.local_artworkItemData = artworks;
    this.local_productListData = products;

    await new Promise(res => setTimeout(res, 300));
    this.campaignitem_isLoadingEntirePage = false;
  },
  methods: {
    _getArtworkItem() {
      return axios.get(`/api/me/artwork/${this.q_artworkId}`);
    },
    _getProductList() {
      return axios.get(`/api/me/artwork/${this.q_artworkId}/overlaid_products`);
    },
    _setSelectedProduct(product) {
      this.local_selectedProduct = product;
    },
    campaignitem_tabChanged(tab) {
      this.campaignitem_tab = tab;
    },
    campaignitem_artworkTitleEditClicked() {
      this.formtitle_formVisible = true;
    },
    campaignitem_artworkDescriptionEditClicked() {
      this.formdesc_formVisible = true;
    },
    campaignitem_artworkTagsEditClicked() {
      this.formtags_formVisible = true;
    },
    async campaignitem_artworkVisibleToggled() {
      // do
      // loading = true
      // axios.post('/artwork/:id', {visible});
      // loading = false
      this.$refs.loading.showLoading();
      const visible = !this.local_artworkItemData.artwork.visible;
      await axios.patch(`/api/me/artwork/${this.q_artworkId}`, { visible })
        .then(async () => {
          await new Promise(res => setTimeout(res, 300));
          this.local_artworkItemData.artwork.visible = visible;
        })
        .catch(async (err) => {
          this.$refs.errorToast.setError(err);
        })
        .finally(() => {
          this.$refs.loading.hideLoading();
        });
    },
    async campaignitem_artworkDeleteHandler() {
      this.$refs.loading.showLoading();
      try {
        await axios.delete(`/api/me/artwork/${this.q_artworkId}`);
        await new Promise(res => setTimeout(res, 300));
        this.$router.replace('/me/artworks');
      } catch(err) {
        this.$refs.errorToast.setError(err);
      }
      this.$refs.loading.hideLoading();
    },
    campaignitem_productProfitEditClicked(product) {
      this._setSelectedProduct(product);
      this.formprofit_formVisible = true;
    },
    campaignitem_productProductEditClicked(product) {
      this._setSelectedProduct(product);
      this.formprinting_formVisible = true;
    },
    async campaignitem_productVisibleToggled(product) {
      // should toggle to visibility of "product"
      // e.g. product.visible = !product.visible;
      // axios.patch('/api/product/:id', { visible })
      this.$refs.loading.showLoading();
      const visible = !product.visible;
      await axios.patch(`/api/me/overlaid_product/${product.original.id}`, { visible })
        .then(async () => {
          await new Promise(res => setTimeout(res, 300));
          product.original.visible = visible;
        })
        //.catch(() => {})
        .finally(() => {
          this.$refs.loading.hideLoading();
        });
    },

    formtitle_hideForm() {
      this.formtitle_formVisible = false;
    },
    formdesc_hideForm() {
      this.formdesc_formVisible = false;
    },
    formtags_hideForm() {
      this.formtags_formVisible = false;
    },
    async formtitle_updater(title) {
      // update the campaign with new "title"
      // e.g. post(this.artwork_id, title)
      try {
        await axios.patch(`/api/me/artwork/${this.q_artworkId}`, { title });
        this.local_artworkItemData.artwork.title = title; // update local data
        this.formtitle_formVisible = false; // close the form
      } catch(err) {
        this.$refs.errorToast.setError(err);
      }
    },
    async formdesc_updater(description) {
      try {
        await axios.patch(`/api/me/artwork/${this.q_artworkId}`, { description });
        this.local_artworkItemData.artwork.description = description; // update local data
        this.formdesc_formVisible = false; // close the form
      } catch(err) {
        this.$refs.errorToast.setError(err);
      }
    },
    async formtags_updater(tags) {
      try {
        await axios.patch(`/api/me/artwork/${this.q_artworkId}`, { tags });
        this.local_artworkItemData.artwork.tags = tags; // update local data
        this.formtags_formVisible = false; // close the form
      } catch(err) {
        this.$refs.errorToast.setError(err);
      }
    },
    formprofit_hideForm() {
      this.formprofit_formVisible = false;
    },
    async formprofit_updater(profit) {
      // update the campaign with new "profit"
      // e.g. post(this.artwork_id, profit)
      //await axios.post(`/me/artwork/${q_artworkId}`, {profit});
      this.formprofit_formVisible = false;
      const profitSatang = profit * 100; // make sure that profit not string it should be int baht
      await axios.patch(`/api/me/overlaid_product/${this.local_selectedProduct.original.id}`, { profit: profitSatang });
      this.local_selectedProduct.original.profit = profitSatang;
      this.formprofit_formVisible = false; // close the form
    },
    formprinting_hideform() {
      this.formprinting_formVisible = false;
    },
    async formprinting_updater(params) {
      const {
        selectedColor,
        artwork,
        frame,
        artworkTouched,
        canvas
      } = params

      const postData = {
        artwork_mm_width: this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_width,
        artwork_mm_top: this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_top,
        artwork_mm_left: this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_left,
        default_base_product_color_id: this.local_getOverlaidProductItemData.overlaid_product.default_base_product_color_id,
      };

      if (selectedColor) {
        postData.default_base_product_color_id = selectedColor.originalColor.id;
      }

      if (artworkTouched) {
        postData.artwork_mm_width = Math.round(artwork.getScaledWidth() / this._pixel_to_mm);
        postData.artwork_mm_top = Math.round((artwork.top - frame.top) / this._pixel_to_mm);
        postData.artwork_mm_left = Math.round((artwork.left - frame.left) / this._pixel_to_mm);
      }

      await axios.patch(`/api/me/overlaid_product/${this.local_selectedProduct.original.id}`, postData);

      // update preview img
      canvas.discardActiveObject();
      this.local_selectedProduct.original._img_url = canvas.toDataURL({
        format: 'jpeg'
      })

      this.formprinting_formVisible = false;
    },
    _getOverlaidProductItem() {
      return axios.get(`/api/me/overlaid_product/${this.local_selectedProduct.original.id}`);
    },
    async formprinting_fetchData() {
      this.$refs.loading.showLoading();
      this.local_getOverlaidProductItemData = (await this._getOverlaidProductItem()).data;
      this.$nextTick(async () => {
        await this.$refs.printingForm.initCanvas();
        await new Promise(res => setTimeout(res, 300));
        this.$refs.loading.hideLoading();
      });
    },
    formprinting_colorClicked(color) {
      this.$refs.loading.showLoading();
      this.local_selectedColor = color.originalColor;
      this.$nextTick(async () => {
        await this.$refs.printingForm.updateBackground();
        await new Promise(res => setTimeout(res, 300));
        this.$refs.loading.hideLoading();
      });
    },
    formprinting_calcResizeText(frame, artwork) {

      const {
        frame_mm_width,
        frame_mm_height
      } = this.local_getOverlaidProductItemData.overlaid_product.base_product;

      const artwork_mm_width = frame_mm_width * (artwork.getScaledWidth() / frame.getScaledWidth());
      const artwork_mm_height = frame_mm_height * (artwork.getScaledHeight() / frame.getScaledHeight());

      const inchWidth = (artwork_mm_width / 25.4).toFixed(1);
      const inchHeight = (artwork_mm_height / 25.4).toFixed(1);

      return inchWidth + '"x' + inchHeight + '"'; 
    },
    formprinting_calcDPI(frame, artwork) {

      const { frame_mm_width } = this.local_getOverlaidProductItemData.overlaid_product.base_product;
      const artwork_mm_width = frame_mm_width * (artwork.getScaledWidth() / frame.getScaledWidth());
      const artworkInWidth = artwork_mm_width / 25.4

      const { px_width: artworkPxWidth } = this.local_getOverlaidProductItemData.overlaid_product.artwork;

      const dpi = Math.round(artworkPxWidth / artworkInWidth);

      return dpi;
    }
  },
  computed: {
    q_artworkId() {
      return this.$route.params.id;
    },
    campaignitem_artworkUploadedAt() {
      if (!this.local_artworkItemData) return;
      return this.$dayjs(this.local_artworkItemData.artwork.created_at).fromNow();
    },
    campaignitem_artworkId() {
      return this.q_artworkId;
    },
    campaignitem_artworkSrc() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork._url;
    },
    campaignitem_artworkTitle() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.title;
    },
    campaignitem_artworkDescription() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.description;
    },
    campaignitem_artworkTags() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.tags;
    },
    campaignitem_artworkVisible() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.visible;
    },
    campaignitem_products() {
      if (!this.local_productListData) return;

      const mapper = (p) => ({
        visible: p.visible,
        title: p.base_product.name,
        imgSrc: p._img_url,
        profit: (p.profit/100).toLocaleString('th', {style: 'currency', currency: 'THB'}),
        formProfit: p.profit/100,
        original: p
      });
      return R.map(mapper, this.local_productListData.overlaid_products);
    },

    formtitle_title() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.title;
    },
    formdesc_description() {
      if (!this.local_artworkItemData) return;
      return this.local_artworkItemData.artwork.description;
    },

    formprofit_profit() {
      if (!this.local_selectedProduct) return;
      return this.local_selectedProduct.formProfit;
    },
    formprinting_title() {
      if (!this.local_getOverlaidProductItemData) return;

      return this.local_getOverlaidProductItemData.overlaid_product.base_product.name;
    },
    _defaultColor() {
      if (!this.local_getOverlaidProductItemData) return;

      return R.find(
        R.propEq('_is_default', true), 
        this.local_getOverlaidProductItemData.overlaid_product.base_product.base_product_colors
      );
    },
    formprinting_colors() {
      if (!this.local_getOverlaidProductItemData) return;

      const selectedColor = this.local_selectedColor || this._defaultColor;

      const mapper = (i) => ({
        id: i.id,
        name: i.name,
        hex: i.hex,
        background_url: i._bg_url,
        selected: selectedColor.id === i.id,
        originalColor: i
      });

      return R.map(mapper, this.local_getOverlaidProductItemData.overlaid_product.base_product.base_product_colors);
    },
    formprinting_colorsVisible() {
      if (!this.local_getOverlaidProductItemData) return;

      return this.local_getOverlaidProductItemData.overlaid_product.base_product.base_product_colors.some(i => i.name);
    },
    formprinting_background_url() {
      if (!this.local_getOverlaidProductItemData) return;

      return (this.local_selectedColor || this._defaultColor)._bg_url
    },
    formprinting_background_width() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.formprinting_canvas_sidelength;
    },
    formprinting_background_top() {
      if (!this.local_getOverlaidProductItemData) return;
      return 0;
    },
    formprinting_background_left() {
      if (!this.local_getOverlaidProductItemData) return;
      return 0;
    },
    formprinting_artwork_url() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.local_getOverlaidProductItemData.overlaid_product.artwork._url;
    },
    _pixel_to_mm() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.formprinting_frame_width/this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_mm_width;
    },
    formprinting_artwork_width() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_width
      * this._pixel_to_mm;
    },
    formprinting_artwork_top() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.formprinting_frame_top 
      + (this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_top
      * this._pixel_to_mm);
    },
    formprinting_artwork_left() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.formprinting_frame_left 
      + (this.local_getOverlaidProductItemData.overlaid_product.artwork_mm_left
      * this._pixel_to_mm);
    },
    formprinting_frame_width() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_percent_width 
      * this.formprinting_canvas_sidelength;
    },
    formprinting_frame_height() {
      if (!this.local_getOverlaidProductItemData) return;
      return (this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_mm_height
      / this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_mm_width)
      * this.formprinting_frame_width;
    },
    formprinting_frame_top() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_percent_top
      * this.formprinting_canvas_sidelength;
    },
    formprinting_frame_left() {
      if (!this.local_getOverlaidProductItemData) return;
      return this.local_getOverlaidProductItemData.overlaid_product.base_product.frame_percent_left
      * this.formprinting_canvas_sidelength;
    },
    formprinting_frameSize() { 
      if (!this.local_getOverlaidProductItemData) return;

      const {
        frame_mm_width,
        frame_mm_height
      } = this.local_getOverlaidProductItemData.overlaid_product.base_product;
      const inchWidth = (frame_mm_width / 25.4).toFixed(1)
      const inchHeight = (frame_mm_height / 25.4).toFixed(1)
      return inchWidth + '"x' + inchHeight + '"'; 
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
