<template lang="pug">
UserPage(
  :isLoading="user_isLoading"
  :minimalProfile="user_minimalProfile"
  :bannerUrl="user_bannerUrl"
  :profileImgUrl="user_profileImgUrl"
  :username="user_username"
  :accountCreatedAt="user_accountCreatedAt"
  :about="user_about"
  :navigation="query_nav"
  :navChangeHandler="user_navChangeHandler"
)
  template(v-slot:artworks)
    ArtworkGallery(
      :items="artworks_items" 
      :noSparseRow="artworks_noSparseRow"
    )
  template(v-slot:shop)
    UserShop(:items="shop_items")
  template(v-slot:pagination)
    DefaultPagination(
      :page="pagination_page"
      :pageCount="pagination_pageCount"
      :getPageURL="(page) => ({query: {...initial_$route.query, profile: 'minimal', page}})"
    )
</template>
<script>
import axios from 'axios';

import UserPage from '~/components/pages/user.vue';
import UserShop from '~/components/galleries/shop.vue';
import ArtworkGallery from '~/components/galleries/artworks.vue';
import DefaultPagination from '~/components/pagination/pagination.vue';

const PAGE_SIZE = 25;

export default {
  key(route) {
    //return window.history.state.key;
    return route.fullPath;
  },
  components: {
    UserPage,
    UserShop,
    ArtworkGallery,
    DefaultPagination
  },
  data()  {
    return {
      local_userData: null,
      local_artworksData: null,
      local_shopData: null,

      user_isLoading: true,
      user_minimalProfile: this.$route.query.profile === 'minimal'
    }
  },
  head() {
    const title =  this.$route.params.username;

    return {
      title
    }
  },
  async created() {
    this.initial_$route = this.$route;
    await this.local_loadAll();
  },
  methods: {
    local_getUserProfile() {
      return axios.get('/api/user/' + this.$route.params.username);
    },
    local_getArtworks() {
      const query = `sort=new&page=${this.query_page}&size=${PAGE_SIZE}&author=${this.$route.params.username}`;
      return axios.get('/api/artworks?' + query);
    },
    local_getProducts() {
      const query = 'sort=new' + '&page=' + this.query_page;
      return axios.get('/api/overlaid_products?' + query);
    },
    async local_setUserProfile() {
      this.local_userData = await this.local_getUserProfile().then(res => res.data);
    },
    async local_setArtworks() {
      this.local_artworksData = await this.local_getArtworks().then(res => res.data);
    },
    async local_setProducts() {
      this.local_shopData = await this.local_getProducts().then(res => res.data);
    },
    async local_loadAll() {
      this.user_isLoading = true;

      const tasks = [];
      if (!this.local_userData) {
        tasks.push(this.local_setUserProfile());
      }

      if (this.query_nav === 'artworks') {
        tasks.push(this.local_setArtworks());
      } else if (this.query_nav === 'shop') {
        tasks.push(this.local_setProducts());
      }

      await Promise.all(tasks);

      await new Promise(res => setTimeout(res, 300));
      this.user_isLoading = false;
    },
    user_navChangeHandler(nav) {
      if (nav === 'artworks') {
        this.$router.push({ path: '/user/' + this.$route.params.username });
        return;
      }

      if (nav === 'shop') {
        this.$router.push({ path: '/shop/' + this.$route.params.username });
        return;
      }
    }
  },
  computed: {
    query_page() {
      return this.initial_$route.query.page || '1';
    },
    query_nav() {
      if (this.initial_$route.path.startsWith('/user/')) {
        return 'artworks';
      } 
      
      if (this.initial_$route.path.startsWith('/shop/')) {
        return 'shop';
      }
    },
    user_bannerUrl() {
      if (!this.local_userData) return;

      return this.local_userData.user_profile._banner_url; 
    },
    user_profileImgUrl() {
      if (!this.local_userData) return;

      return this.local_userData.user_profile.avatar_url; 
    },
    user_username() {
      return this.initial_$route.params.username;
    },
    user_accountCreatedAt() {
      if (!this.local_userData) return;

      return new Date(this.local_userData.user_profile.created_at).getFullYear().toString();
    },
    user_about() {
      if (!this.local_userData) return;

      return this.local_userData.user_profile.about; 
    },
    shop_items() {
      if (!this.local_shopData) return;

      const mapper = (i) => {
        return {
          imgUrl: i._img_url,
          title: i.artwork.title,
          detailsUrl: '/product/' + i.id
        };
      }
      return this.local_shopData.overlaid_products.map(mapper);
    },
    artworks_items() {
      if (!this.local_artworksData) return;

      const mapper = (i) => {
        return {
          title: i.title,
          img: i._url,
          aspectRatio: i.px_width / i.px_height,
          author: i.author.username,
          link: "/artwork/" + i.id
        }
      };
      return this.local_artworksData.artworks.map(mapper);
    },
    artworks_noSparseRow() {
      if (!this.local_artworksData) return;

      return this.local_artworksData.artworks.length === PAGE_SIZE;
    },
    pagination_page() {
      return parseInt(this.query_page);
    },
    pagination_pageCount() {
      if (this.query_nav === 'artworks') {
        return this.local_artworksData?.page_count;
      }

      if (this.query_nav === 'shop') {
        return this.local_shopData?.page_count;
      }
    }
  },
  watch: {
    // dont need this because now using nuxt(keep-alive)
    //async '$route.query'() {
    //  await this.local_loadAll();
    //}
  }
}
</script>
<style lang="scss" scoped>
</style>