<template lang="pug">
BaseProductList(
  :products="baseproducts_products"
)
</template>
<script>
import BaseProductList from '~/components/pages/admin/base_product_list';

import axios from 'axios';
import * as R from 'ramda';

export default {
  components: {
    BaseProductList,
  },
  layout: "admin",
  data() {
    return {
      local_productsData : null
    }
  },
  computed: {
    baseproducts_products() {
      if (!this.local_productsData) return;

      const mapper = (product) => {
        return {
          id: product.id,
          name: product.name,
          enabled: product.enabled,
          url: `/admin/base-product/${product.id}`
        }
      };

      return R.map(mapper, this.local_productsData.base_products);
    }
  },
  async mounted() {
    this.local_productsData = (await this._getProducts()).data;
  },
  methods: {
    _getProducts() {
      return axios.get('/api/admin/base_products')
    }
  }
};
</script>
<style lang="scss" scoped>
</style>

