<template lang="pug">
OrderList(
  :orders="orders_orders"
  :filterOrderStatus="orders_filterOrderStatus"
  :filterPaymentStatus="orders_filterPaymentStatus"
  :filterFulfillmentStatus="orders_filterFulfillmentStatus"
  :filterOrderStatusChange="orders_filterOrderStatusChange"
  :filterPaymentStatusChange="orders_filterPaymentStatusChange"
  :filterFulfillmentStatusChange="orders_filterFulfillmentStatusChange"
  :isLoadingEntirePage="orders_isLoadingEntirePage"
)
  template(v-slot:pagination)
    DefaultPagination(
      :page="query_page"
      :pageCount="pagination_pageCount"
      :getPageURL="(page) => ({query: {...$route.query, page}})"
    )
</template>
<script>
import * as R from 'ramda';
import axios from 'axios';

import DefaultPagination from '~/components/pagination/pagination.vue';
import OrderList from '~/components/pages/admin/order_list';

export default {
  components: {
    OrderList,
    DefaultPagination
  },
  layout: "admin",
  data() {
    return {
      local_ordersData: null,
      orders_isLoadingEntirePage: false,
    }
  },
  async created() {
    await this.local_loadOrders();
  },
  methods: {
    orders_filterOrderStatusChange(status) {
      const query = {
        ...this.$route.query,
        order_status: status || undefined
      };
      this.$router.push({ query });
    },
    orders_filterPaymentStatusChange(status) {
      const query = {
        ...this.$route.query,
        payment_status: status || undefined
      };
      this.$router.push({ query });
    },
    orders_filterFulfillmentStatusChange(status) {
      const query = {
        ...this.$route.query,
        fulfillment_status: status || undefined
      };
      this.$router.push({ query });
    },
    local_getOrders() {
      const query = R.pipe(
        R.pick(
          ['page', 'order_status', 'payment_status', 'fullfillment_status']
        ),
        R.filter((i) => i !== undefined),
        R.toPairs, // => [['page', 1], ['payment_status', 'abc'], ...]
        R.map(R.join('=')),
        R.join('&')
      )({ page: 1, ...this.$route.query }); // defalut page to 1

      return axios.get('/api/admin/orders?' + query);
    },
    async local_loadOrders() {
      this.orders_isLoadingEntirePage = true;
      this.local_ordersData = (await (this.local_getOrders())).data;
      this.orders_isLoadingEntirePage = false;
    }
  },
  computed: {
    orders_filterOrderStatus() {
      return this.$route.query.order_status || '';
    },
    orders_filterPaymentStatus() {
      return this.$route.query.payment_status || '';
    },
    orders_filterFulfillmentStatus() {
      return this.$route.query.fulfillment_status || '';
    },
    orders_orders() {
      if (!this.local_ordersData) return;

      const mapper = (order) => {
        return {
          id: order.id,
          orderStatus: order.order_status,
          paymentStatus: order.payment_status,
          fulfillmentStatus: order.fulfillment_status,
          date: new Date(order.created_at).toLocaleDateString(),
          url: '/admin/order/' + order.id
        }
      }

      return this.local_ordersData.orders.map(mapper);
    },
    pagination_pageCount() {
      return this.local_ordersData?.page_count;
    },
    query_page() {
      return parseInt(this.$route.query.page) || 1
    }
  },
  watch: {
    '$route.query': async function() {
      await this.local_loadOrders();
    }
  }
};
</script>
<style lang="scss" scoped>
</style>