<template lang="pug">
div.about-root 
  h1 เกี่ยวกับเรา
  p wadlen (วาดเล่น) คือ พื้นที่สำหรับชื่นชมและแชร์ผลงานศิลปะสำหรับทุกคน
</template>
<script>
export default {
  head() {
    const title =  'เกี่ยวกับเรา';

    return {
      title
    }
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.about-root {
  max-width: $breakpoint-l;
  margin: auto;
}
</style>
