<template lang="pug">
ActivateAccount(
  :state="activateAcc_state"
  :errorMsg="activateAcc_errorMsg"
)
</template>
<script>
import axios from 'axios';

import ActivateAccount from '~/components/pages/activate-account.vue';
import errors from '~/utilities/errors';

export default {
  layout: 'login',
  components: {
    ActivateAccount
  },
  data() {
    return {
      activateAcc_state: 'activating',
      activateAcc_errorMsg: null,
    };
  },
  head() {
    const title = 'ยืนยันบัญชี';

    return {
      title
    }
  },
  computed: {
  },
  async created() {
    await axios.post('/api/user/activate/'+ this.$route.query.token)
      .then(async () => {
        await new Promise(res => setTimeout(res, 300));
        this.activateAcc_state = 'activated';
      })
      .catch(async (error) => {
        this.activateAcc_state = 'error';
        this.activateAcc_errorMsg = errors.translateError(error);
      });
  },
  methods: {
  }
};
</script>
<style lang="scss" scoped>
</style>