<template lang="pug">
div
  OverlayLoading(ref='loading')
  CartPage(
    :items="cart_items"
    :subtotal="cart_subtotal"
    :checkoutLink="'/checkout'"
    :itemQtyChangeHandler="cart_itemQtyChangeHandler"
    :itemDeletedHandler="cart_itemDeletedHandler"
    :isEmpty="cart_isEmpty"
    :isLoading="cart_isLoading"
    :canCheckout="cart_canCheckout"
  )
</template>
<script>
import axios from 'axios';
import * as R from 'ramda';

import CartPage from '~/components/pages/cart.vue';
import OverlayLoading from '~/components/overlays/loading.vue';

export default {
  components: {
    CartPage,
    OverlayLoading
  },
  data() {
    return {
      local_cartData: null,
      cart_isLoading: true,
    };
  },
  computed: {
    cart_isEmpty() {
      if (!this.local_cartData) return;

      return this.local_cartData.cart.lines.length === 0;
    },
    cart_items() {
      if (!this.local_cartData) return;

      const mapper = (i) => ({
        error: i.error && {title: null, body: i.error},
        productImg: i.overlaid_product_img_url, 
        campaignTitle: i.overlaid_product.artwork.title, 
        campaignLink: '/product/' + i.overlaid_product.id, 
        productTitle: i.overlaid_product.base_product.name, 
        productSubtitle: i.variant_name, 
        price: (i.unit_price / 100).toLocaleString('th', {style: 'currency', currency: 'THB'}), // convert from satang to baht 
        quantity: i.quantity,
        original: i
      });

      return R.map(mapper, this.local_cartData.cart.lines);
    },
    cart_subtotal() {
      if (!this.local_cartData) return;

      return (this.local_cartData.cart.line_total / 100).toLocaleString('th', {style: 'currency', currency: 'THB'})
    },
    cart_canCheckout() {
      if (!this.local_cartData) return;

      return this.local_cartData.cart.can_checkout;
    }
  },
  async created() {
    this.local_cartData = await this.local_getCart().then(res => res.data);
    await new Promise(res => setTimeout(res, 300));
    this.cart_isLoading = false;
  },
  methods: {
    local_getCart() {
      return axios.get('/api/me/cart');
    },
    async cart_itemQtyChangeHandler(item, quantity) {
      this.$refs.loading.showLoading();
      const data = { quantity };
      this.local_cartData = (await axios.patch('/api/me/cart/line/' + item.original.id, data)).data;
      await new Promise(res => setTimeout(res, 300));
      this.$refs.loading.hideLoading();
    },
    async cart_itemDeletedHandler(item) {
      this.$refs.loading.showLoading();
      this.local_cartData = (await axios.delete('/api/me/cart/line/' + item.original.id)).data;
      await new Promise(res => setTimeout(res, 300));
      this.$refs.loading.hideLoading();
    }
  },
  watch: {
    cart_isEmpty(newVal, oldVal) {
      // it's undefined when items have been load yet
      if (newVal === true) {
        this.$store.commit('set_cartBtnVisible', false);
      } else if (newVal === false) {
        this.$store.commit('set_cartBtnVisible', true);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>