<template lang="pug">
div
  OverlayLoading(ref='loading')
  CheckoutPage(
    :items="checkout_items"
    :step="checkout_step"
    :validateShipping="checkout_validateShipping"
    :validatePayment="checkout_validatePayment"
    :editPayment="checkout_editPayment"
    :editShipping="checkout_editShipping"
    :isLoadingEntirePage="checkout_isLoadingEntirePage"
    :confirmCheckout="checkout_confirmCheckout"
    :subtotal="checkout_subtotal"
    :shippingCost="checkout_shippingCost"
    :total="checkout_total"
  )
</template>
<script>
import axios from 'axios';

import CheckoutPage from '~/components/pages/checkout.vue';
import OverlayLoading from '~/components/overlays/loading.vue';

export default {
  layout: "empty",
  components: {
    CheckoutPage,
    OverlayLoading
  },
  data() {
    return {
      local_checkoutData: null,

      checkout_step: 1,
      checkout_isLoadingEntirePage: false,
    }
  },
  async created() {
    this.checkout_isLoadingEntirePage = true;
    this.$Progress.start();
    this.local_checkoutData = await this.local_createCheckout().then(res => res.data);
    this.$Progress.finish();
    this.checkout_isLoadingEntirePage = false;
  },
  methods: {
    local_createCheckout() {
      return axios.post('/api/checkout');
    },
    async checkout_validateShipping(shipping) {
      const data = {
        shipping_full_name: shipping.fullName,
        shipping_address: shipping.address,
        shipping_district: shipping.district,
        shipping_province: shipping.province,
        shipping_postal_code: shipping.zipCode,
        shipping_country_code: shipping.country,
        email: shipping.email,
        phone: shipping.phoneNumber || '-'
      };

      try {
        this.$refs.loading.showLoading();
        this.local_checkoutData = (await axios.patch('/api/checkout/' + this.checkout_id, data)).data;
        await new Promise(res => setTimeout(res, 300));
      } finally {
        this.$refs.loading.hideLoading();
      }

      this.checkout_step = 2;

    },
    async checkout_validatePayment(payment) {
      let data;
      if (payment.method === 'credit_card') {
        alert('need to implement psp');
        // call payment gateway here
        data = {
          payment_method: payment.method,
          payment_gateway: 'omise',
          payment_card_id: 'fake-card-id',
          payment_return_uri: '-'
        }
      }

      try {
        this.$refs.loading.showLoading();
        this.local_checkoutData = await axios.patch('/api/checkout/' + this.checkout_id, data)
          .then(res => res.data);
        await new Promise(res => setTimeout(res, 300));
      } finally {
        this.$refs.loading.hideLoading();
      }

      this.checkout_step = 3;
    },
    checkout_editShipping() {
      this.checkout_step = 1;
    },
    checkout_editPayment() {
      this.checkout_step = 2;
    },
    async checkout_confirmCheckout() {
      try {
        this.$refs.loading.showLoading();
        await axios.post('/api/checkout/' + this.checkout_id + '/complete');
        await new Promise(res => setTimeout(res, 300));
      } finally {
        this.$refs.loading.hideLoading();
      }

      this.checkout_step = 4;
    }
  },
  computed: {
    checkout_id() {
      if (!this.local_checkoutData) return;

      return this.local_checkoutData.checkout.id;
    },
    checkout_items() {
      if (!this.local_checkoutData) return;

      const mapper = (line) => {
        return {
          imgUrl: line.overlaid_product_img_url,
          artwork: line.artwork.title,
          product: line.base_product.name,
          variant: line.variant_name,
          price: (line.unit_price/100).toLocaleString('th', {style: 'currency', currency: 'THB'}),
          quantity: line.quantity
        };
      }

      return this.local_checkoutData.checkout.lines.map(mapper);
    },
    checkout_subtotal() {
      if (!this.local_checkoutData) return;

      return (this.local_checkoutData.checkout.line_total/100).toLocaleString('th', {style: 'currency', currency: 'THB'});
    },
    checkout_shippingCost() {
      if (!this.local_checkoutData) return;

      return (this.local_checkoutData.checkout.shipping_cost/100).toLocaleString('th', {style: 'currency', currency: 'THB'})
    },
    checkout_total() {
      if (!this.local_checkoutData) return;

      return (this.local_checkoutData.checkout.total/100).toLocaleString('th', {style: 'currency', currency: 'THB'})
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
