<template lang="pug">
div.about-root 
  h1 ระเบียบการใช้งาน
  p wadlen คือพื้นที่ชมงานศิลปะสำหรับทุกคน เราจึงตั้งกฎระเบียบนี้มาเพื่อทำให้คนทุกกลุ่มสามารถเข้าชมผลงานใน wadlen ได้อย่างปลอดภัยและเพลิดเพลิน
  br
  p: h3 ข้อห้าม
  p ภาพที่เข้าข่ายดังต่อไปนี้คือภาพที่ห้ามลงและจะถูกพิจรณาให้ลบออกจาก wadlen ถ้าหากมีการอัพโหลด
  ul
    li.list-item ภาพที่มีเนื้อหาให้ร้ายหรือดูหมิ่นผู้อื่น
    li.list-item ภาพที่มีเนื้อหาหยาบคาย
    li.list-item ภาพที่สื่อไปในทางลามกอนาจาร มีการแสดงอวัยวะเพศอย่างเปิดเผย และสื่อไปทางกิจกรรมทางเพศ
    li.list-item ภาพที่เป็นภาพถ่ายในชีวิตจริง เช่น ภาพคน หรือสถานที่
</template>
<script>
export default {
  head() {
    const title =  'ระเบียบการใช้งาน';

    return {
      title
    }
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.about-root {
  max-width: $breakpoint-l;
  margin: auto;
}

.list-item {
  //margin-bottom: .5rem;
  line-height: 2;
}
</style>
