<template lang="pug">
div.contact-root 
  h1 contact
  p coming soon
</template>
<script>
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.contact-root {
  max-width: $breakpoint-l;
  margin: auto;
}
</style>
