<template lang="pug">
div
  ErrorToast(ref="errorToast")
  ForgotPasswordForm(
    :recover="recover"
    :isRecovering="isRecovering"
    :showSeeEmail="showSeeEmail"
  )
</template>
<script>
import axios from 'axios';

import ForgotPasswordForm from '~/components/pages/forgot_password.vue';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  components: {
    ForgotPasswordForm,
    ErrorToast
  },
  layout: 'login',
  data() {
    return {
      isRecovering: false,
      showSeeEmail: false
    }
  },
  head() {
    const title = 'ลืม รหัสผ่าน';

    return {
      title
    }
  },
  created() {
  },
  methods: {
    async recover(email) {
      this.isRecovering = true;
      try {
        await axios.post('/api/user/forgot_password', { email });
        this.showSeeEmail = true;
      } catch(err) {
        this.isRecovering = false;
        this.$refs.errorToast.setError(err);
      }
    }
  },
  computed: {
  }
};
</script>
<style lang="scss" scoped>
</style>
