<template lang="pug">
div
  ErrorToast(ref="errorToast")
  LoginForm(
    :forgotPasswordUrl="'/forgot-password'"
    :signUpUrl="'/signup'"
    :signIn="signIn"
    :isSigningIn="isSigningIn"
  )
</template>
<script>
import axios from 'axios';

import LoginForm from '~/components/pages/login.vue';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  components: {
    ErrorToast,
    LoginForm
  },
  layout: 'login',
  data() {
    return {
      isSigningIn: false
    }
  },
  head() {
    const title = 'เช้าสู่ระบบ';

    return {
      title
    }
  },
  methods: {
    async signIn({ email, password }) {
      this.isSigningIn = true;
      try {
        await axios.post('/api/login', { email, password });
        this.$store.dispatch('initState');
        this.$router.push('/');
      } catch (err) {
        this.isSigningIn = false;
        this.$refs.errorToast.setError(err);
      }
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";
</style>