<template lang="pug">
div(style="padding:.5rem;") ...logging out
</template>
<script>
import axios from 'axios';

export default {
  layout: 'empty',
  async created() {
    try {
      await axios.post('/api/logout');
      await new Promise(res => setTimeout(res, 300));
    } catch (err) {
      console.error(err);
    } finally {
      window.location.href = '/';
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";
</style>