<template lang="pug">
div
  ErrorToast(ref="errorToast")
  ResetPasswordForm(
    :changePassword="changePassword"
    :isChanging="isChanging"
    :showSuccessMessage="showSuccessMessage"
    :loginUrl="'/login'"
  )
</template>
<script>
import axios from 'axios';

import ErrorToast from '~/components/overlays/error-toast.vue';
import ResetPasswordForm from '~/components/pages/reset_password.vue';

export default {
  components: {
    ErrorToast,
    ResetPasswordForm
  },
  layout: 'login',
  data() {
    return {
      isChanging: false,
      showSuccessMessage: false
    }
  },
  head() {
    const title = 'เปลี่ยน รหัสผ่าน';

    return {
      title
    }
  },
  created() {
  },
  methods: {
    async changePassword(password) {
      try {
        this.isChanging = true;
        const data = {
          password_reset_token: this.$route.query.token,
          password
        };
        await axios.post('/api/user/reset_password', data);
        this.showSuccessMessage = true;
      } catch(err) {
        this.isChanging = false;
        this.$refs.errorToast.setError(err);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>