<template lang="pug">
div
  ErrorToast(ref="errorToast")
  SignUpForm(
    :loginUrl="'/login'"
    :signUp="signUp"
    :isSigningUp="isSigningUp"
    :displayCheckYourEmail="displayCheckYourEmail"
    :emailResent="emailResent"
    :resendEmail="resendEmail"
    :isResendingEmail="isResendingEmail"
  )
</template>
<script>
import axios from 'axios';

import SignUpForm from '~/components/pages/signup.vue';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  components: {
    SignUpForm,
    ErrorToast
  },
  layout: 'login',
  data() {
    return {
      isSigningUp: false,
      displayCheckYourEmail: false,
      emailResent: false,
      isResendingEmail: false
    }
  },
  head() {
    const title = 'สมัครสมาชิก';

    return {
      title
    }
  },
  created() {
  },
  methods: {
    async signUp({ username, email, password }) {
        this.isSigningUp = true;
        const data = {username, email, password};
        try {
          await axios.post('/api/user/signup', data);
          this.displayCheckYourEmail = true;
        } catch (err) {
          this.isSigningUp = false;
          this.$refs.errorToast.setError(err);
        }
    },
    async resendEmail(email) {
        this.isResendingEmail = true;
        // fix here
        // implement resend-confirmation-email endpoint
        await new Promise(res => setTimeout(res, 100));
        this.emailResent = true;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
