<template lang="pug">
  TrackOrder(
    :isLoading="trkodr_loading"
    :items="trkodr_items"
    :order_id="trkodr_order_id"
    :order_payment="trkodr_order_payment"
    :order_is_paid_for="trkodr_order_is_paid_for"
    :order_date="trkodr_order_date"
    :order_tracking="trkodr_order_tracking"
    :shipping_name="trkodr_shipping_name"
    :shipping_address="trkodr_shipping_address"
    :shipping_district="trkodr_shipping_district"
    :shipping_province="trkodr_shipping_province"
    :shipping_zip="trkodr_shipping_zip"
    :contact_phone="trkodr_contact_phone"
    :contact_email="trkodr_contact_email"
    :summary_subtotal="trkodr_summary_subtotal"
    :summary_shipping="trkodr_summary_shipping"
    :summary_grand_total="trkodr_summary_grand_total"
  )
</template>
<script>
import axios from 'axios';

import TrackOrder from '~/components/pages/track_order.vue';

export default {
    components: {
        TrackOrder
    },
    data() {
        return {
            local_orderData: null,
            trkodr_loading: true
        }
    },
    computed: {
        trkodr_items() {
            //{itemImg: "https://via.placeholder.com/450x300", campaignTitle: "campaignTitle", productTitle: "productTitle", productSubtitle: "productSubtitle", price: 199, quantity: 10},
            const mapper = (i) => {
                return {
                    itemImg: i._overlaid_product_img_url,
                    campaignTitle: i._artwork_title,
                    productTitle: i._base_product_name,
                    productSubtitle: i._base_product_variant_name,
                    price: (i.unit_price / 100).toLocaleString('th', {style: 'currency', currency: 'THB'}),
                    quantity: i.quantity
                }
            };
            return this.local_orderData?.order.lines.map(mapper);
        },
        trkodr_order_id() {
            return this.local_orderData?.order.id;
        },
        trkodr_order_payment() {
            return this.local_orderData?.order.payment_method.method_name;
        },
        trkodr_order_is_paid_for() {
            return this.local_orderData?.order.paid;
        },
        trkodr_order_date() {
            if (!this.local_orderData) return;
            return new Date(this.local_orderData.order.created_at).toLocaleDateString();
        },
        trkodr_order_tracking() {
        },
        trkodr_shipping_name() {
            return this.local_orderData?.order.shipping_full_name;
        },
        trkodr_shipping_address() {
            return this.local_orderData?.order.shipping_address;
        },
        trkodr_shipping_district() {
            return this.local_orderData?.order.shipping_district;
        },
        trkodr_shipping_province() {
            return this.local_orderData?.order.shipping_province;
        },
        trkodr_shipping_zip() {
            return this.local_orderData?.order.shipping_postal_code;
        },
        trkodr_contact_phone() {
            return this.local_orderData?.order.phone;
        },
        trkodr_contact_email() {
            return this.local_orderData?.order.email;
        },
        trkodr_summary_subtotal() {
            if (!this.local_orderData) return;
            return (this.local_orderData.order.line_total / 100).toLocaleString('th', {style: 'currency', currency: 'THB'});
        },
        trkodr_summary_shipping() {
            if (!this.local_orderData) return;
            return (this.local_orderData.order.shipping_cost / 100).toLocaleString('th', {style: 'currency', currency: 'THB'});
        },
        trkodr_summary_grand_total() {
            if (!this.local_orderData) return;
            return (this.local_orderData.order.total / 100).toLocaleString('th', {style: 'currency', currency: 'THB'});
        }
    },
    async created() {
        this.trkodr_loading = true;
        this.local_orderData = await axios.get('/api/order/' + this.$route.query.id + '?token=' + this.$route.query.token)
            .then(res => res.data);
        await new Promise(res => setTimeout(res, 300));
        this.trkodr_loading = false;
    }
}
</script>
<style lang="scss" scoped>
</style>
