<template lang="pug">
div.simple-spinner-root
    div.loader
</template>
<script>
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";

.simple-spinner-root {
    text-align: center;
    display: flex;
    justify-content: center;
}

.loader {
    $wall: 4px;
    border: $wall solid #ccc; /* Light grey */
    border-top: $wall solid transparent; /* Blue */
    border-radius: 50%;
    $size: 32px;
    width: $size;
    height: $size;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
