<template lang="pug">
    CampaignItem(
      :campaignTitle="campaignitem_campaignTitle",
      :primaryImg="campaignitem_primaryImg",
      :thumbnails="campaignitem_thumbnails",
      :authorUsername="campaignitem_authorUsername",
      :authorHomeUrl="campaignitem_authorHomeUrl",
      :products="campaignitem_products"
      :colors="campaignitem_colors",
      :sizes="campaignitem_sizes",
      :colorsVisible="campaignitem_colorsVisible",
      :sizesVisible="campaignitem_sizesVisible",
      :messageAbovePrimaryBtn="campaignitem_messageAbovePrimaryBtn",
      :price="campaignitem_price",
      :addToCartBtnState="campaignitem_addToCartBtnState",
      :productChangedHandler="campaignitem_productChangedHandler"
      :colorSelectedHandler="campaignitem_colorSelectedHandler",
      :sizeSelectedHandler="campaignitem_sizeSelectedHandler",
      :thumbnailSelectedHandler="campaignitem_thumbnailSelectedHandler",
      :addToCart="campaignitem_addToCart",
      :addSuccessNotification="campaignitem_addSuccessNotification",
      :isLoadingEntirePage="campaignitem_isLoadingEntirePage"
    )
</template>
<script>
import axios from 'axios';
import * as R from 'ramda';

import CampaignItem from '~/components/pages/campaign_item.vue';

export default {
  components: {
    CampaignItem,
  },
  data() {
    return {
      local_campaignItemData: null,
      local_siblingProductsData: null,

      campaignitem_primaryImg: null,
      campaignitem_addToCartBtnState: "default", // "default" || "loading"
      campaignitem_addSuccessNotification: false, // true || false
      campaignitem_isLoadingEntirePage: true,

      local_selectedColor: null,
      local_selectedSize: null,
    }
  },
  async created() {
    // set product, color and size
    this.local_campaignItemData = await this._getProduct()
      .then(res => res.data);
    this.local_selectedColor = this.local_campaignItemData
      .overlaid_product.base_product.base_product_colors
      .find((i) => i._is_default);
    this.local_selectedSize = this.local_campaignItemData
      .overlaid_product.base_product.base_product_second_options[0];
    // set siblingProducts
    this.local_siblingProductsData = await this.local_getSiblingProducts()
      .then(res => res.data);

    await new Promise(res => setTimeout(res, 300));
    this.campaignitem_isLoadingEntirePage = false;
  },
  methods: {
    local_getSiblingProducts() {
      return axios.get('/api/overlaid_products?page=1&sort=new&size=100&artwork=' + this.local_artworkId)
    },
    _getProduct() {
      return axios.get('/api/overlaid_product/' + this.q_productId)
    },
    campaignitem_productChangedHandler(productId) {
      this.$router.push({params: {id: productId}});
    },
    campaignitem_colorSelectedHandler(color) {
      this.local_selectedColor = color.original;
    },
    campaignitem_sizeSelectedHandler(size) {
      // the logic to select new item and also determine the price
      // example
      this.local_selectedSize = size.original;
    },
    async campaignitem_addToCart(showSuccessMsg) {
      if (!this._selectedVariant) return;

      this.campaignitem_addToCartBtnState = "loading";

      const payload = {
        overlaid_product_id: this.q_productId,
        base_product_color_id: this._selectedVariant.base_product_color_id, 
        base_product_second_option_id: this._selectedVariant.base_product_second_option_id
      }
      await axios.post('/api/me/cart/line', payload);
      // this is necessary, some delay before turning button from loading to normal
      setTimeout(() => {
        this.campaignitem_addToCartBtnState = "default";
        this.$store.commit('set_cartBtnVisible', true);
        showSuccessMsg();
      }, 500);

    },
    campaignitem_thumbnailSelectedHandler(thumbnail) {
      // update campaignitem_primaryImg and update all thumbnails' state
      // e.g. selected
      // example
      this.campaignitem_primaryImg = thumbnail.url;
    },
    _updatePrice() {

    }
  },
  computed: {
    local_artworkId() {
      if (!this.local_campaignItemData) return;
      return this.local_campaignItemData.overlaid_product.artwork.id;
    },
    q_productId() {
      // implement the code here
      // e.g.
      return this.$route.params.id;
    },
    campaignitem_campaignTitle() {
      if (!this.local_campaignItemData) return;
      return this.local_campaignItemData.overlaid_product.artwork.title;
    },
    campaignitem_authorUsername() {
      if (!this.local_campaignItemData) return;
      return this.local_campaignItemData.overlaid_product.author.username;
    },
    campaignitem_authorHomeUrl() {
      if (!this.local_campaignItemData) return;
      return `/user/${this.local_campaignItemData.overlaid_product.author.username}`;
    },
    campaignitem_products() {
      if (!this.local_siblingProductsData) return;

      const mapper = (i) => {
        return {
          id: i.id,
          title: i.base_product.name,
          selected: i.id === this.local_campaignItemData.overlaid_product.id
        }
      };
      return this.local_siblingProductsData.overlaid_products.map(mapper);
    },
    campaignitem_colors() {
      if (!this.local_campaignItemData) return;

      const selectedId = this.local_selectedColor.id;

      const mapper = (val) => {
        return {
          title: val.name,
          hex: val.hex,
          selected: val.id === selectedId,
          original: val
        };
      };

      return R.map(mapper, this.local_campaignItemData.overlaid_product.base_product.base_product_colors);
    },
    campaignitem_sizes() {
      if (!this.local_campaignItemData) return;

      const selectedId = this.local_selectedSize.id;

      const mapper = val => ({
        title: val.value,
        selected: val.id === selectedId,
        original: val
      });

      return R.map(mapper, this.local_campaignItemData.overlaid_product.base_product.base_product_second_options);
    },
    campaignitem_colorsVisible() {
      if (!this.local_campaignItemData) return;

      return this.local_campaignItemData.overlaid_product.base_product.base_product_colors.some(i => i.name);
    },
    campaignitem_sizesVisible() {
      if (!this.local_campaignItemData) return;

      return this.local_campaignItemData.overlaid_product.base_product.base_product_second_options.some(i => i.value);
    },
    _selectedVariant() {
      if (!this.local_campaignItemData) return;
      const colorId = this.local_selectedColor.id;
      const sizeId = this.local_selectedSize.id;

      const matchVariant = R.whereEq({
        base_product_color_id: colorId,
        base_product_second_option_id: sizeId
      });

      //// undefined if not found
      return R.find(matchVariant, this.local_campaignItemData.overlaid_product.base_product.base_product_variants);
    },
    campaignitem_price() {
      if (!this.local_campaignItemData) return;

      if (!this._selectedVariant) return;

      return (this._selectedVariant._price / 100)
        .toLocaleString('th', {style: 'currency', currency: 'THB'});
    },
    campaignitem_messageAbovePrimaryBtn() {
      if (!this.local_campaignItemData) return;

      return this._selectedVariant ? "price" : "out_of_stock";
    },
    
    campaignitem_thumbnails() {
      if (!this.local_campaignItemData) return;
      const artworkThumbnail = {url: this.local_campaignItemData.overlaid_product.artwork._url};
      const productThumbnail = {url: this.local_selectedColor._overlaid_product_img_url};
      return [artworkThumbnail, productThumbnail];
    }
  },
  watch: {
    campaignitem_colors() {
      // things to do after colors get updated
      // e.g. update campaignitem_primaryImg and thumbnails
      // and update price
      this.campaignitem_primaryImg = this.local_selectedColor._overlaid_product_img_url;

    },
    campaignitem_sizes() {
    }

  }
};
</script>
<style lang="scss" scoped>
</style>