<i18n>
{
  "th": {
    "by": "โดย"
  }
}
</i18n>
<template lang="pug">
div.artworks-gallery-root
  div.layout-two(ref="artworksWrapper")
    template(v-for="[height, items, isLastRow] in processedItems")
      template(v-for="(item, index) in items")
        div(v-if="index === 0")
        div.layout-two__item(:style=`{
              'margin-left': index === 0 ? '' : LAYOUTE_TWO_VERTICAL_GAP + 'px',
              'margin-bottom': isLastRow ? '' : (LAYOUTE_TWO_HORIZONTAL_GAP + 'px')
            }`)
          nuxt-link.layout-two__item-img-container(
            :to="item.link"
            data-cy="artwork-link"
          )
            img.layout-two__item-img(
              :key="item.link"
              v-lazy=`{
                src: item.img
              }`
              :style=`{
                  height: height + 'px',
                  width: (height * item.aspectRatio) + 'px'
              }`
            )
            div.info-wrapper
              div.info
                div.info__title {{ item.title }}
                div.info__author
                  span.info__by {{ $t("by") }}
                  | {{ item.author }}
</template>
<script>
import * as R from 'ramda';
import debounce from "lodash/debounce";

export default {
  props: {
    items: Array, // [{title: String, author: String, img: String, aspectRatio: Number, link: String, ...}]
    noSparseRow: Boolean
  },
  data() {
    return {
      layoutTwoContainerWidth: null,

      LAYOUTE_TWO_VERTICAL_GAP: 16, // px
      LAYOUTE_TWO_HORIZONTAL_GAP: 16, // px
      MAX_ROW_HEIGHT: 400
    }
  },
  mounted() {
    if (!this.layoutTwoContainerWidth) {
      this.layoutTwoContainerWidth = this.$refs.artworksWrapper.offsetWidth;
    }

    this.resizeObserver = new ResizeObserver(debounce(() => {
      if (!this.$refs.artworksWrapper.offsetWidth) return; // prevent from resize to 0
      this._updateLayoutTwoWidth(this.$refs.artworksWrapper);
    }, 300));
    this.resizeObserver.observe(this.$refs.artworksWrapper);
  },
  destroyed() {
    this.resizeObserver.disconnect();
  },
  computed: {
    processedItems() {
      if (!this.items) return;
      const opts = {
        verticalGap: this.LAYOUTE_TWO_VERTICAL_GAP
      };
      return this._itemsIntoRows(this.items, this.MAX_ROW_HEIGHT, this.layoutTwoContainerWidth, opts);
    }
  },
  methods: {
    _updateLayoutTwoWidth(elem) {
      this.layoutTwoContainerWidth = elem.offsetWidth;
    },
    _itemsIntoRows(items, maxHeight, containerWidth, opts) {
      const rows = [];
      let _items = [...items];
      let row = [];

      const computeFillingHeight = (b /* items */ ) => {
        const sumOfAspectRatios = R.pipe(R.map, R.sum)(R.prop('aspectRatio'), b);
        const adjustedContainerWidth = opts.verticalGap ? 
          (containerWidth - R.pipe(R.length, R.dec, R.multiply(opts.verticalGap))(b)) :
          containerWidth;
        return adjustedContainerWidth/sumOfAspectRatios;
      };

      while (_items.length > 0) {
        const [first, ...rest] = _items;
        _items = rest;
        row.push(first);

        const fillingHeight = computeFillingHeight(row);
        if (fillingHeight <= maxHeight) {
          rows.push([fillingHeight, row]);
          row = [];
        } else {
          if (_items.length === 0) {
            if (rows.length > 0 && this.noSparseRow) {
              while (row.length > 0) {
                const [rowFirst, ...rowRest] = row;
                row = rowRest;
                const tallestRow = rows.reduce((acc, val) => val[0] > acc[0] ? val : acc);
                tallestRow[1].push(rowFirst);
                tallestRow[0] = computeFillingHeight(tallestRow[1]);
              }
            } else {
              rows.push([maxHeight, row]);
            }
          }
        }
      }

      const isLastRow = true;
      rows[rows.length - 1]?.push(isLastRow); // set isLastRow = true

      return rows;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.artworks-gallery-root {
  margin: auto;
}

.layout-two {
  white-space: nowrap;
  &__item {
    display: inline-grid; // to prevent bottom gap
    vertical-align: top; // to prevent bottom gap
  }
  &__item-img {
    display: block;
    background: $loading-bg;
  }
  &__item-img-container {
    position: relative;
  }
}

.info-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  color: transparent;
  &:hover {
    background-image: linear-gradient(180deg,transparent,rgba(6,7,13,.5));
    color: white;
  }
}

.info {
  padding: .5rem;
  box-sizing: border-box;
  align-self: flex-end;
  overflow: hidden;
  &__title {
    font-weight: bold;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__author {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__by {
    margin-right: .375rem;
  }
}
</style>