<template lang="pug">
div.shop
  template(v-for="i in items")
    div.shop__item
      nuxt-link.shop__item-img-wrapper(:to="i.detailsUrl || ''")
        div.aspect-ratio-box
          div.aspect-ratio-box__content-container
            img.aspect-ratio-box__img.shop__item-img.cy-product-img(:src="i.imgUrl")
      nuxt-link.shop__item-title(:to="i.detailsUrl || ''") {{ i.title }}
</template>
<script>
export default {
    //layout: "empty",
  props: {
    items: Array, // [{imgUrl: String, title: String, detailsUrl: String}, ...]
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;

  &__item {
    overflow: hidden;
  }

  &__item-img-wrapper {
    background-color: $loading-bg;
    display: block;
  }

  &__item-img {
    width: 100%;
    display: block;
  }

  &__item-title {
    text-decoration: none;
    color: $oc-gray-9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-top: .25rem;
  }
}
</style>