<template lang="pug">
div
  div.pagination
    div.pagination__inside
      template(v-for="p in pages")
        nuxt-link.pagination__item.pagination__item--elipsis(v-if="p === null" to="") ...
        nuxt-link.pagination__item(
          v-else 
          :to="getPageURL(p)" 
          :class="{'pagination__item--selected': p === page}"
        ) {{ p || '...' }}
</template>
<script>
import * as R from 'ramda';

export default {
  props: {
    page: Number,
    pageCount: Number,
    getPageURL: Function, // function(page) {} returns string
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    pages() {
      return [...this.prefixPages, ...this.closestPages, ...this.suffixPages];
    },
    closestPages() {

      const pageRange = R.range(1, R.inc(this.pageCount));
      const distanceFromCurPageDiff = (a, b) => Math.abs(this.page-a) - Math.abs(this.page-b);
      const closestPages = R.pipe(
        R.sort(distanceFromCurPageDiff), 
        R.take(5), 
        R.sort(R.subtract)
      )(pageRange);

      return closestPages;
    },
    prefixPages() {
      const colsestPages_first = this.closestPages[0];

      if (colsestPages_first === undefined) return [];

      if (colsestPages_first === 1) return [];
      else if (colsestPages_first === 2) return [1];
      else if (colsestPages_first === 3) return [1, 2]
      else return [1, null]
    },
    suffixPages() {
      const colsestPages_last = R.last(this.closestPages);
      
      if (colsestPages_last === undefined) return [];

      if (colsestPages_last === this.pageCount) return [];
      else if (colsestPages_last === (this.pageCount - 1) ) return [this.pageCount];
      else if (colsestPages_last === (this.pageCount - 2) ) return [(this.pageCount -1), this.pageCount];
      else return [null, this.pageCount]
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";

.pagination {
  &__inside {
    display: inline-block;
    border-radius: 5px;
  }
  &__item {
    display: inline-block;
    text-decoration: none;
    color: $oc-indigo-7;
    padding: .5rem .75rem;
    &:first-child {
      padding-left: 0;
    }
    &--selected {
      pointer-events: none;
      font-weight: bold;
      color: $oc-gray-9;
    }
    &--elipsis {
      pointer-events: none;
    }
  }
}
</style>