<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="_updater"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{}"
)
  template(v-slot:primaryTitle) Update Payment Status
  template(v-slot:body)
    div.form__label-container
      label.form__label payment status
    select(v-model="local_status")
      option unpaid
      option paid
    template(v-if="$v.local_status.$error")
      div(style="margin-top:.5rem;")
      template(v-if="!$v.local_status.required")
        div(style=""): b: small can't be blank
  template(v-slot:secondaryButtonText) cancel
  template(v-slot:primaryButtonText) save
  template(v-slot:primaryButtonTextTakingAction) saving...
</template>
<script>
import SlideoutBase from '~/components/overlays/slideout';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

const getInitialData = (status) => ({
  local_status: status,
  slideoutState: 'default'
});

export default {
  components: {
    SlideoutBase,
  },
  mixins: [validationMixin],
  validations: {
    local_status: {
      required
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    status: String, // "status"
    updater: Function
  },
  data() {
    return getInitialData(this.status);
  },
  mounted() {
  },
  methods: {
    _updater() {
      this.$v.local_status.$touch();

      if (this.$v.local_status.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        await this.updater(this.local_status);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData(this.status));
        this.$v.local_status.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/styles/components.scss";
</style>