<template lang="pug">
div.admin-order-item-root
  template(v-if="isLoadingEntirePage")
    h1: center ...loading
  template(v-else)
    div(style="display:grid;grid-template-columns: 1fr min-content;")
      div.header Order {{ '#' + id }}
      nuxt-link.link(
        data-cy="printer-link"
        :to="printersURL || ''" 
        style="display:flex;align-items:center;white-space:nowrap;"
      ) 
        button.btn.btn--primary see printing instruction
    div.main-layout
      div.main-layout__left-col
        div.overview
          div.overview__group
            div.overview__header  overview
            div.overview__pair-container
              div.overview__pair-key id
              div.overview__pair-value {{ id }}
              div.overview__pair-key status
              div.overview__pair-value.overview__pair-value--editable(
                data-cy="order-status"
                @click="initOrderStatusForm"
              ) {{ orderStatus }}
              div.overview__pair-key pay-method
              div.overview__pair-value {{ paymentMethod }}
              div.overview__pair-key pay-status
              div.overview__pair-value.overview__pair-value--editable(
                data-cy="payment-status"
                @click="initPaymentStatusForm"
              ) {{ paymentStatus }}
              div.overview__pair-key fulfillment
              div.overview__pair-value.overview__pair-value--editable(
                data-cy="fulfillment-status"
                @click="initFulfillmentStatusForm"
              ) {{ fulfillmentStatus }}
              div.overview__pair-key order-total
              div.overview__pair-value {{ orderTotal }}
              div.overview__pair-key date-created
              div.overview__pair-value {{ dateCreated }}
          div.overview__group
            div.overview__header shipping
            div.overview__body(v-if="shipping")
              div {{ shipping.name }}
              div {{ shipping.address }}
              div {{ shipping.district }}
              div {{ shipping.province }}
              div {{ shipping.zipCode }}
          div.overview__group
            div.overview__header contact
            div.overview__body(v-if="contact")
              div {{ contact.phoneNumber }}
              div {{ contact.email }}
        div.history
          div.history__header history
            span(style="margin-right:1rem;")
            button.btn.btn--link(@click="initAddNoteForm") add note
          div.history__body
            div.history__event-group(v-for="event in history")
              div.history__event-date {{ event.timestamp }} by {{ event.author }}
              div.history__event-val {{ event.message }}
      div.main-layout__right-col
        div.order-items
          div.order-items__item(v-for="item in items")
            div.order-items__return(v-if='item.quantityReturned') {{ item.quantityReturned }} returned
            div.order-items__img
              img(
                :src="item.imgUrl"
                style=`
                  max-width:100%;
                `
              )
            div.order-items__details
              div {{ item.artworkTitle }}
              div {{ item.product }}
              div {{ item.productVariant || '-' }}
              div {{ item.price }}
                span: small: b  / item
            div.order-items__qty
              div.order-items__qty-label quantity
              div.order-items__qty-field {{ item.quantity }}
              button.btn.btn--link return

</template>
<script>
export default {
  props: {
    id: Number,
    printersURL: String,
    orderStatus: String,
    paymentMethod: String,
    paymentStatus: String,
    fulfillmentStatus: String,
    orderTotal: String,
    dateCreated: String,
    shipping: Object, // {name: 'string', address: 'string', district: 'string', province: 'string', zipCode: 'string'}
    contact: Object, // {phoneNumber: 'string', email: 'string'}
    history: Array, // [{author: 'string', timestamp: 'string', message: 'string'}]
    items: Array, // [{imgUrl: 'string', artworkTitle: 'string', product: 'string', productVariant: 'string', price: 'string', quantity: 'number', quantityReturned: 'number', ...}]
    initOrderStatusForm: Function, // function () {}
    initPaymentStatusForm: Function, // function () {}
    initFulfillmentStatusForm: Function, // function () {}
    initAddNoteForm: Function, // function () {}
    isLoadingEntirePage: Boolean
  },
  data() {
    return {
    };
  },
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.admin-order-item-root {
  width: $breakpoint-l;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.header {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: bold;
}

.main-layout {
  display: grid;
  grid-template-columns: 1.125fr 1.875fr;
  column-gap: 4rem;
}

.overview {
  border: 1px solid black;
  padding: 2rem;
  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__header {
    //font-size: 
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__body {
    line-height: 1.5;
  }
  &__pair-container {
    display: grid;
    grid-template-columns: 10rem 1fr;
    line-height: 2;
  }
  &__pair-key {
    font-size: .875rem;
    //font-weight: bold;
    //color: $oc-gray-6;
  }
  &__pair-value {
    &--editable {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.history {
  margin-top: 4rem;
  &__header {
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__body {
    padding-top: 2rem;
    padding-left: 2rem;
    border-left: 1px solid $oc-gray-5;
  }
  &__event-group {
    margin-bottom: 4rem;
  }
  &__event-date {
    font-size: .75rem;
    margin-bottom: .5rem;
  }
}

.order-items {
  &__item {
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }
  &__return {
    grid-column: 1/-1;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: .75rem;
    background: $oc-gray-2;
    //color: white;
    padding: .5rem .5rem;
  }
  &__details {
    line-height: 2;
  }
  &__qty-label {
    font-size: .75rem;
    margin-bottom: .5rem;
  }
  &__qty-field {
    padding: .5rem;
    border: 1px solid $oc-gray-5;
  }

}
</style>