<template lang="pug">
div
  OrderItem(
    :id="orderitem_id"
    :printersURL="orderitem_printersURL"
    :orderStatus="orderitem_orderStatus"
    :paymentMethod="orderitem_paymentMethod"
    :paymentStatus="orderitem_paymentStatus"
    :fulfillmentStatus="orderitem_fulfillmentStatus"
    :orderTotal="orderitem_orderTotal"
    :dateCreated="orderitem_dateCreated"
    :shipping="orderitem_shipping"
    :contact="orderitem_contact"
    :history="orderitem_history"
    :items="orderitem_items"
    :initOrderStatusForm="orderitem_initOrderStatusForm"
    :initPaymentStatusForm="orderitem_initPaymentStatusForm"
    :initFulfillmentStatusForm="orderitem_initFulfillmentStatusForm"
    :initAddNoteForm="orderitem_initAddNoteForm"
    :isLoadingEntirePage="orderitem_isLoadingEntirePage"
  )
  FormFullfillmentStatus(
    :formVisible="formFullmentStatus_formVisible"
    :hideForm="formFullmentStatus_hideForm"
    :updater="formFullmentStatus_updater"

    :status="orderitem_fulfillmentStatus"
  )
  FormOrderStatus(
    :formVisible="formOrderStatus_formVisible"
    :hideForm="formOrderStatus_hideForm"
    :updater="formOrderStatus_updater"

    :status="orderitem_orderStatus"
  )
  FormPaymentStatus(
    :formVisible="formPaymentStatus_formVisible"
    :hideForm="formPaymentStatus_hideForm"
    :updater="formPaymentStatus_updater"

    :status="orderitem_paymentStatus"
  )
  FormAddNote(
    :formVisible="formAddNote_formVisible"
    :hideForm="formAddNote_hideForm"
    :updater="formAddNote_updater"
  )
</template>
<script>
import OrderItem from '~/components/pages/admin/order_item';
import FormFullfillmentStatus from '~/components/pages/admin/order_item/form_fulfillment_status';
import FormOrderStatus from '~/components/pages/admin/order_item/form_order_status';
import FormPaymentStatus from '~/components/pages/admin/order_item/form_payment_status';
import FormAddNote from '~/components/pages/admin/order_item/form_add_note';
import axios from 'axios';
import * as R from 'ramda';

export default {
  components: {
    OrderItem,
    FormFullfillmentStatus,
    FormOrderStatus,
    FormPaymentStatus,
    FormAddNote
  },
  layout: "admin",
  data() {
    return {
      local_orderData: null,
      
      orderitem_isLoadingEntirePage: false,

      formFullmentStatus_formVisible: false,
      formOrderStatus_formVisible: false,
      formPaymentStatus_formVisible: false,
      formAddNote_formVisible: false
    }
  },
  computed: {
    orderitem_id() {
      if (!this.local_orderData) return;

      return this.$route.params.id;
    },
    orderitem_printersURL() {
      if (!this.local_orderData) return;

      return '/admin/printer/order/' + this.$route.params.id;
    },
    orderitem_orderStatus() {
      if (!this.local_orderData) return;

      return this.local_orderData.order.order_status;
    },
    orderitem_paymentMethod() {
      if (!this.local_orderData) return;

      return this.local_orderData.order.payment_method;
    },
    orderitem_paymentStatus() {
      if (!this.local_orderData) return;

      return this.local_orderData.order.payment_status;
    },
    orderitem_fulfillmentStatus() {
      if (!this.local_orderData) return;

      return this.local_orderData.order.fulfillment_status;
    },
    orderitem_orderTotal() {
      if (!this.local_orderData) return;

      const inBaht = Math.floor(this.local_orderData.order.total / 100);
      return inBaht.toLocaleString('th', {style: 'currency', currency: 'THB'});
    },
    orderitem_dateCreated() {
      if (!this.local_orderData) return;

      return (new Date(this.local_orderData.order.created_at)).toDateString();
    },
    orderitem_shipping() {
      if (!this.local_orderData) return;

      return {
        name: this.local_orderData.order.shipping_full_name,
        address: this.local_orderData.order.shipping_address,
        district: this.local_orderData.order.shipping_district,
        province: this.local_orderData.order.shipping_province,
        zipCode: this.local_orderData.order.shipping_postal_code
      };
    },
    orderitem_contact() {
      if (!this.local_orderData) return;

      return {
        phoneNumber: this.local_orderData.order.phone || '-',
        email: this.local_orderData.order.email
      };
    },
    orderitem_items() {
      if (!this.local_orderData) return;

      const mapper = (item) => {
        const price = (item.unit_price / 100).toLocaleString('th', { style: 'currency', currency: 'THB' });
        return {
          imgUrl: item._overlaid_product_img_url,
          artworkTitle: item.artwork.title,
          product: item.base_product.name,
          productVariant: item._variant_name,
          price,
          quantity: item.quantity,
          quantityReturned: item.returns
        }
      }
      return R.map(mapper, this.local_orderData.order.lines);
    },
    orderitem_history() {
      if (!this.local_orderData) return;

      const mapper = (event) => {
        const timestamp = (new Date(event.created_at)).toDateString();
        return {
          timestamp,
          message: event.description,
          user: event.user?.username
        }
      };
      return R.map(mapper, this.local_orderData.order.logs);
    }
  },
  async mounted() {
    this.orderitem_isLoadingEntirePage = true;
    this.local_orderData = await this._getOrder().then(res => res.data);
    this.orderitem_isLoadingEntirePage = false;
  },
  methods: {
    _getOrder() {
      return axios.get(`/api/admin/order/${this.$route.params.id}`);
    },
    local_updateOrder(data) {
      return axios.patch('/api/admin/order/' + this.orderitem_id, data);
    },
    orderitem_initOrderStatusForm() {
      this.formOrderStatus_formVisible = true;
    },
    orderitem_initPaymentStatusForm() {
      this.formPaymentStatus_formVisible = true;
    },
    orderitem_initFulfillmentStatusForm() {
      this.formFullmentStatus_formVisible = true;
    },
    orderitem_initAddNoteForm() {
      this.formAddNote_formVisible = true;
    },
    formFullmentStatus_hideForm() {
      this.formFullmentStatus_formVisible = false;
    },
    async formFullmentStatus_updater(status) {
      const data = { fulfillment_status: status }
      await this.local_updateOrder(data);
      this.local_orderData.order.fulfillment_status = status;
      this.formFullmentStatus_formVisible = false;
    },
    formOrderStatus_hideForm() {
      this.formOrderStatus_formVisible = false;
    },
    async formOrderStatus_updater(status) {
      const data = { order_status: status }
      await this.local_updateOrder(data);
      this.local_orderData.order.order_status = status;
      this.formOrderStatus_formVisible = false;
    },
    formPaymentStatus_hideForm() {
      this.formPaymentStatus_formVisible = false;
    },
    async formPaymentStatus_updater(status) {
      const data = { payment_status: status }
      await this.local_updateOrder(data);
      this.local_orderData.order.payment_status = status;
      this.formPaymentStatus_formVisible = false;
    },
    formAddNote_hideForm() {
      this.formAddNote_formVisible = false;
    },
    FormAddNote_updater() {
      alert('not implemented addNote');
    },
  }
};
</script>
<style lang="scss" scoped>
</style>
