@import "open-color/open-color.scss";
//scss-utils
//**colors
$success-color: $oc-green-6;
$error-color: $oc-red-6;
$warning-color: $oc-yellow-6; 
$disabled-color: $oc-gray-6;
$primary-color: $oc-indigo-6;

$loading-bg: $oc-gray-1;

//**breakpoints
$breakpoint-s: 20rem; // 320px
$breakpoint-m: 42rem; // 672px
$breakpoint-l: 66rem; // 1056px
$breakpoint-xl: 82rem; // 1312px
$breakpoint-max: 99rem; // 1584px

@mixin for-and-up($breakpoint) {
    @media (min-width: $breakpoint) { @content; }
    // example
    //  .selector {
    //    color: red;
    //    
    //    @include for-and-up($breakpoint-s) {
    //      color: blue;
    //    }
    //  }
}


//class-utils
.pointer-events-none {
    pointer-events: none !important;
}


// components
.link {
    //cursor: default;
    color: $oc-indigo-7;
    text-decoration: none;
    user-select: none;
    &:hover {
        //text-decoration: underline;
    }
}

.breadcrumb {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        line-height: 150%;
    }
    &__item {
        //position: relative;
        display: flex;
        margin-right: .5rem;
        &::after {
            margin-left: .5rem;
            content: "/";
        }
        &--last-item {
            //cursor: default;
            &::after {
                content: "";
            }
        }
    }
}

.tabs {
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        border-bottom: 1px solid $oc-gray-4;
        margin-top: 0;
        margin-bottom: 0;
        overflow: auto;
    }
    &__item {
        padding: 0 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        //cursor: default;
        user-select: none;
        white-space: nowrap;
        &:hover:not(&--selected):not(&--disabled) {
            border-color: $oc-gray-6;
            background-color: $oc-gray-0;
        }
        &--selected {
            background-color: $oc-grape-9;
            color: white;
            border-color: $oc-grape-9;
        }
        &--disabled {
            color: $oc-gray-6;
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__item {
        color: $oc-gray-9;
        padding: 1rem 1.5rem;
        text-decoration: none !important;
        //&:first-of-type {
        //    padding-left: 0;
        //}
        &--selected {
            //border: 1px solid $oc-gray-7;
            background: $oc-gray-1;
        }
    }
    &__arrow {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
    &__arrow-text {
      font-size: 1rem;
      $spacing: .5rem;
      &--left {
        margin-left: $spacing;
      }
      &--right {
        margin-right: $spacing;
      }
    }
}

.btn {
    font-size: .875rem;
    padding:.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid transparent;
    background-color: $oc-gray-3;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: $oc-gray-9;
    text-align: center;
    &:hover {
        background-color: $oc-gray-4;
    }
    &:disabled {
        cursor: default;
        $disabled-style: &;
        background-color: $oc-gray-3;
        color: $oc-gray-6;
        &:hover, &:active {
            @extend #{$disabled-style};
            box-shadow: none;
        }
    }
    &--primary {
        background-color: $oc-indigo-7;
        color: white;
        &:hover {
            background-color: $oc-indigo-8;
        }
        &:active {
            background-color: $oc-indigo-9;
        }
    }
    &--secondary {
        $color: $oc-indigo-7;
        border: 1px solid $color;
        color: $color;
        background-color: white;
        &:hover {
            border-color: $oc-indigo-9;
            color: $oc-indigo-9;
            background-color: $oc-gray-0;
        }
    }
    &--clear {
        background-color: transparent;
    }
    &--link {
        padding: 0;
        background: transparent;
        box-shadow: none !important;
        color: $oc-indigo-7;
        &:hover {
            text-decoration: underline;
            background-color: transparent;
        }
    }
}

.form {
    &__label-container {
        margin-bottom: .5rem;
    }
    &__label {
        font-size: .875rem;
        font-weight: bold;
        margin-bottom: .125rem;
        display: block;
    }
    &__text-helper {
        line-height: 135%;
        font-size: .875rem;
        color: $oc-gray-7;
    }
    &__text-error {
        font-size: .875rem;
        color: $oc-red-8;
        margin-top: .5rem;
    }
    &__input {
        height: 2.5rem;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 5px;
        border: 1px solid $oc-gray-6;
        width: 100%;
        outline: 1px solid transparent;
        outline-offset: -1px;
        &:focus, &:active {
            outline-color: $oc-indigo-7;
            border-color: transparent;
        }
        &--dark {
            background-color: $oc-gray-1;
            border: none;
        }
        &--error {
            border: 1px solid $oc-red-8 !important;
        }
    }
    &__textarea {
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .6875rem;
        padding-bottom: .6875rem;
        border-radius: 5px;
        border: 1px solid $oc-gray-6;
        width: 100%;
        outline: 1px solid transparent;
        outline-offset: -1px;
        &:focus, &:active {
            outline-color: $oc-indigo-7;
            border-color: transparent;
        }
        &--dark {
            background-color: $oc-gray-1;
            border: none;
        }
        &--error {
            border: 1px solid $oc-red-8;
        }
    }
    &__select-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__select {
        background-color: white;
        height: 2.5rem;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 5px;
        border: 1px solid $oc-gray-6;
        font-size: .875rem;
        width: 100%;
        outline: 1px solid transparent;
        outline-offset: -1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus, &:active {
            outline-color: $oc-indigo-7;
            border-color: transparent;
        }
        &--dark {
            background-color: $oc-gray-1;
            border: none;
        }
        &--error {
            border: 1px solid $oc-red-8;
        }
    }
    &__select-arrow {
        position: absolute;
        right: 1rem;
        pointer-events: none;
    }
}

.aspect-ratio-box {
    //background-color: $oc-gray-0;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    &__content-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.notification {
    padding: 1rem;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    &--error {
        background-color: $oc-red-2;
    }
    &--info {
        background-color: $oc-indigo-2;
    }
    &--warning {
        background-color: $oc-yellow-2;
    }
    &--success {
        background-color: $oc-green-2;
    }
    &__title {
        font-weight: bold;
        margin-right: .25rem;
    }
}