@import "open-color/open-color.scss";

$text-color: $oc-gray-9;

body {
    font-family: Arial, Sarabun, Helvetica, sans-serif !important;
    color: $text-color;
    background-color: $oc-gray-0;
    overflow-y: scroll;
}

textarea {
    color: $text-color;
}
