<template lang="pug">
div
  UserAccount(
    :isLoadingEntirePage="account_isLoadingEntirePage"
    :username="account_username"
    :email="account_email"
    :banner="account_banner"
    :avatar="account_avatar"
    :about="account_about"
    :editClickedHandler="account_editClickedHandler"
  )
  ErrorToast(ref="errorToast")
  FormAbout(
    :formVisible="fabout_formVisible"
    :hideForm="fabout_hideForm"
    :updater="fabout_updater"
    :about="account_about"
  )
  FormBanner(
    :formVisible="fbanner_formVisible"
    :hideForm="fbanner_hideForm"
    :updater="fbanner_updater"
  )
  FormAvatar(
    :formVisible="favatar_formVisible"
    :hideForm="favatar_hideForm"
    :updater="favatar_updater"
  )
</template>
<script>
import axios from 'axios';

import axios_progress from '~/utilities/axios_progress';

import UserAccount from '~/components/pages/author/account';
import FormAbout from '~/components/pages/author/account/form_about';
import FormBanner from '~/components/pages/author/account/form_banner';
import FormAvatar from '~/components/pages/author/account/form_avatar';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  middleware: 'authenticated',
  components: {
    UserAccount,
    ErrorToast,
    FormAbout,
    FormBanner,
    FormAvatar
  },
  data() {
    return {
      local_myAccountData: null,
      account_isLoadingEntirePage: true,

      // forms
      fabout_formVisible: false,
      fbanner_formVisible: false,
      favatar_formVisible: false
    }
  },
  head() {
    const title =  'ตั้งค่าบัญชี';

    return {
      title,
      titleTemplate: ''
    }
  },
  async created() {
    this.local_myAccountData = (await this._getMyAccount()).data;
    await new Promise(res => setTimeout(res, 300));
    this.account_isLoadingEntirePage = false;
  },
  methods: {
    _getMyAccount() {
      return axios.get('/api/me/account');
    },
    account_editClickedHandler(edited) {
      if (edited === 'about') this.fabout_formVisible = true;
      if (edited === 'banner') this.fbanner_formVisible = true;
      if (edited === 'avatar') this.favatar_formVisible = true;
    },
    fbanner_hideForm() {
      this.fbanner_formVisible = false;
    },
    favatar_hideForm() {
      this.favatar_formVisible = false;
    },
    fabout_hideForm() {
      this.fabout_formVisible = false;
    },
    async fabout_updater(about) {
      // e.g.
      // axios.patch('/api/me/account', {username});
      await axios.patch('/api/me/account', { about })
        .then(() => {
          this.local_myAccountData.account.about = about;
          this.fabout_hideForm();
        })
        .catch(this.$refs.errorToast.setError);
    },
    async fbanner_updater(file, setProgress) {
      // code here
      const formData = new FormData();
      formData.append('file', file);
      await axios.post('/api/me/account/banner', formData, { onUploadProgress: axios_progress.makeHandler(setProgress) })
        .then(() => {
          this.local_myAccountData.account._banner_url = URL.createObjectURL(file);
          this.fbanner_hideForm();
        })
        .catch(this.$refs.errorToast.setError);
    },
    async favatar_updater(file, setProgress) {
      // code here
      const formData = new FormData();
      formData.append('file', file);
      await axios.post('/api/me/account/avatar', formData, { onUploadProgress: axios_progress.makeHandler(setProgress) })
        .then(() => {
          this.local_myAccountData.account.avatar_url = URL.createObjectURL(file);
          this.favatar_hideForm();
        })
        .catch(this.$refs.errorToast.setError);
    }
  },
  computed: {
    account_username() {
      if (!this.local_myAccountData) return;
      return this.local_myAccountData.account.username;
    },
    account_email() {
      if (!this.local_myAccountData) return;
      return this.local_myAccountData.account.email;
    },
    account_banner() {
      if (!this.local_myAccountData) return;
      return this.local_myAccountData.account._banner_url;
    },
    account_avatar() {
      if (!this.local_myAccountData) return;
      return this.local_myAccountData.account.avatar_url;
    },
    account_about() {
      if (!this.local_myAccountData) return;
      return this.local_myAccountData.account.about;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>