<template lang="pug">
div
  ErrorToast(ref="errorToast")
  CampaignList(
    :isLoadingEntirePage="artworks_isLoadingEntirePage"
    :isEmptyState="artworks_isEmptyState"
    :campaigns="artworks_campaigns"
    :newBtnClickedHandler="artworks_newBtnClickedHandler"
  )
    template(v-slot:pagination)
      DefaultPagination(
        :page="q_page"
        :pageCount="_pageCount"
        :getPageURL="(page) => ({query: {...$route.query, page}})"
      )
  FormAddNew(
    :formVisible="uploadform_formVisible"
    :hideForm="uploadform_hideForm"
    :uploader="uploadform_uploader"
    :guidelinesURL="'/community-guidelines'"
  )
</template>
<script>
import * as R from 'ramda';
import axios from 'axios';

import axios_progress from '~/utilities/axios_progress';

import CampaignList from '~/components/pages/author/campaign_list';
import FormAddNew from '~/components/pages/author/campaign_list/form_add_new.vue';
import DefaultPagination from '~/components/pagination/pagination.vue';
import ErrorToast from '~/components/overlays/error-toast.vue';

export default {
  middleware: 'authenticated',
  components: {
    ErrorToast,
    CampaignList,
    FormAddNew,
    DefaultPagination
  },
  data() {
    return {
      local_campaignListData: null,

      artworks_isLoadingEntirePage: true,

      uploadform_formVisible: false,
    }
  },
  head() {
    const title =  'ผลงาน ของฉัน/ผม';

    return {
      title,
      titleTemplate: ''
    }
  },
  async created() {
    await this.updateArtworkListData();
  },
  methods: {
    _getMyArtworkList() {
      return axios.get(`/api/me/artworks?page=${this.q_page}&sort=new`)
    },
    async updateArtworkListData() {
      this.artworks_isLoadingEntirePage = true;
      this.local_campaignListData = (await this._getMyArtworkList()).data;
      await new Promise(res => setTimeout(res, 300));
      this.artworks_isLoadingEntirePage = false;
    },
    artworks_newBtnClickedHandler() {
      this.uploadform_formVisible = true;
    },
    async uploadform_uploader({ file, title, description, tags }, setProgress) {
      // you probably want to do something
      // like axios.upload(file), setProgress(0-100)
      // e.g.
      // await new Promise(res => setTimeout(res, 1000));
      const formData = new FormData();
      formData.append('file', file);
      formData.append('title', title);
      formData.append('description', description);
      if (tags.length) formData.append('tags', tags);

      try {
        const data = await axios.post('/api/me/artwork', formData, { onUploadProgress: axios_progress.makeHandler(setProgress) })
          .then(res => res.data);
        const artworkId = data.artwork.id;
        this.uploadform_formVisible = false;
        this.$router.push(`/artwork/${artworkId}`);
      } catch(err) {
        this.$refs.errorToast.setError(err);
      }
    },
    uploadform_hideForm() {
      this.uploadform_formVisible = false;
    }
  },
  computed: {
    q_page() {
      // implement the real code here
      return Number.parseInt(this.$route.query.page) || 1;
    },
    artworks_isEmptyState() {
      if (!this.local_campaignListData) return false;
      if (!this.local_campaignListData.page_count) return true;
    },
    artworks_campaigns() {
      if (!this.local_campaignListData) return;
      const mapper = (i) => ({
        title: i.title,
        artworkSrc: i._url,
        link: `/me/artwork/${i.id}`
      });
      return R.map(mapper, this.local_campaignListData.artworks);
    },
    _pageCount() {
      if (!this.local_campaignListData) return;
      return this.local_campaignListData.page_count;
    }
  },
  watch: {
    async '$route.query.page'() {
      await this.updateArtworkListData();
    },
    '$route.query.upload': {
      handler() {
        this.$nextTick(async () => {
          const uploadClicked = this.$route.query.upload;
          if (!uploadClicked) return;
          this.uploadform_formVisible = true;
          await new Promise(res => setTimeout(res, 300));
          const location = {
            query: {
              ...this.$route.query,
              upload: undefined
            }
          };
          this.$router.replace(location);
        });
      },
      immediate: true
    }
  }
};
</script>
<style lang="scss" scoped>
</style>