<template lang="pug">
div
  AccountEarnings(
    :currentTable="earnings_currentTable"
    :transactions="earnings_transactions"
    :recentlySoldItems="earnings_recentlySoldItems"
    :isLoading="earnings_isLoading"
    :isLoadingTable="earnings_isLoadingTable"
    :switchToTable="earnings_switchToTable"
    :balance="'FAKE 2,000'"
    :bankAccount="bankacc_bankAccount"
    :bankAccEditOnClick="bankacc_bankAccEditOnClick"
  )
  ErrorToast(ref="errorToast")
  FormBankAccount(
    :formVisible="bankacc_formVisible"
    :hideForm="bankacc_hideForm"
    :updater="bankacc_updater"
    :val="bankacc_bankAccount"
  )
</template>
<script>
import AccountEarnings from '~/components/pages/author/earnings.vue';
import FormBankAccount from '~/components/pages/author/account/form_bankaccount';
import ErrorToast from '~/components/overlays/error-toast.vue';

import axios from 'axios';
import * as R from 'ramda';

export default {
  middleware: 'authenticated',
  components: {
    ErrorToast,
    AccountEarnings,
    FormBankAccount
  },
  data() {
    return {
      transactionListData: null,
      local_soldItemListData: null,

      earnings_isLoading: true,
      earnings_isLoadingTable: false,
      earnings_currentTable: 'transactions', // 'transactions' || 'recently_sold'

      bankacc_formVisible: false,
      bankacc_bankAccount: 'fake-acc-number-1234'
    }
  },
  computed: {
    earnings_transactions() {

      if (!this.transactionListData) return;
      if (!this.transactionListData.seller_transactions) return [];

      const mapper = (i) => ({
          date: new Date(i.created_at).toLocaleDateString(),
          description: i.description,
          [i.money_in >= 0 ? 'moneyIn' : 'moneyOut']: (Math.abs(i.money_in) / 100).toLocaleString('th', {style: 'currency', currency: 'thb'}),
          balance: (i.balance / 100).toLocaleString('th', {style: 'currency', currency: 'thb'})
      });
      return R.map(mapper, this.transactionListData.seller_transactions);
    },
    earnings_recentlySoldItems() {
      if (!this.local_soldItemListData) return;
      if (!this.local_soldItemListData.sold_items || R.isEmpty(this.local_soldItemListData.sold_items)) return [];

      const mapper = (i) => ({
        artworkTitle: i.artwork.title,
        productName: i.base_product.name,
        fee: (i.author_unit_fee / 100).toLocaleString('th', {style: 'currency', currency: 'thb'}),
        profit: (i.author_unit_profit / 100).toLocaleString('th', {style: 'currency', currency: 'thb'}),
        quantity: i.quantity,
        date: new Date(i.created_at).toLocaleDateString()
      });
      return R.map(mapper, this.local_soldItemListData.sold_items);
    }
  },
  async created() {
    this.transactionListData = await this._getTransactionList().then(res => res.data);
    await new Promise(res => setTimeout(res, 300));
    this.earnings_isLoading = false;
  },
  methods: {
    _getTransactionList() {
      return axios.get('/api/me/seller_transactions');
    },
    _getSoldItemList() {
      return axios.get(`/api/me/sold_items`);
    },
    async earnings_switchToTable(table) {
      this.earnings_currentTable = table;
      if (table === 'recently_sold') {
        this.earnings_isLoadingTable = true;
        this.local_soldItemListData = await this._getSoldItemList().then(res => res.data);
        await new Promise(res => setTimeout(res, 300));
        this.earnings_isLoadingTable = false;
      }
    },
    bankacc_bankAccEditOnClick() {
      this.bankacc_formVisible = true;
    },
    bankacc_hideForm() {
      this.bankacc_formVisible = false;
    },
    async bankacc_updater(bank_account) {
      // e.g.
      await axios.patch('/api/me/account', { bank_account })
        .then(() => {
          this.local_myAccountData.account.bank_account = bank_account;
          this.fbankacc_hideForm()
        })
        .catch(this.$refs.errorToast.setError);
    }
  }
};
</script>
<style lang="scss" scoped>
</style>