<i18n>
{
  "th": {
    "confirming": "กำลังยืนยัน...",
    "confirmed": "สร้างบัญชีใหม่ สำเร็จแล้ว",
    "login": "เข้าสู่ระบบ"
  }
}
</i18n>
<template lang="pug">
div.login-root
  template(v-if="state === 'error'")
    div.error-msg {{ errorMsg }}
  div.form-container(
    v-else
    data-cy="please-check-email-msg"
  )
    div.login-form
      template(v-if="state === 'activating'")
        div.primary-text {{ $t('confirming') }}
        SimpleSpinner.spinner
      template(v-else-if="state === 'activated'")
        div.primary-text(data-cy="account-activated-msg") {{ $t('confirmed') }}
        nuxt-link(to="/login").btn.btn--primary {{ $t('login') }}
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    state: String, // 'activating' || 'activated' || 'error'
    errorMsg: String
  },
  components: {
    SimpleSpinner
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.login-root {
  text-align: center;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.error-msg {
  background: $oc-red-2;
  display: inline-block;
  padding: 1rem 1rem;
}

.form-container {
  margin: auto;
  max-width: 20rem;
}

.login-form {
  background: $oc-gray-1;
  border: 1px solid $oc-gray-4;
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.primary-text {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btn {
  margin-bottom: 1rem;
}
</style>
