<i18n>
{
  "th": {
    "uploaded": "อัพโหลด",
    "tags": "แท็ก"
  }
}
</i18n>
<template lang="pug">
div.artwork-item-root
  div.zoom-in-container(v-if="zoomedIn")
    div.zoom-close-btn(@click="zoomOut")
      | <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
      |   <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
      |   <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
      | </svg>
    div.zoom-in-body(ref="scrollableBody" @click.self="zoomOut")
      SimpleSpinner(v-if="!zoomImgLoaded")
      img.zoomed-in-img(
        v-show="zoomImgLoaded"
        :class="{ 'zoomed-in-img--double-zoomed': doubleZoomed }" 
        :src="originalArtworkSrc" 
        @click="toggleDoubleZoom"
        @load="zoomImgLoaded = true"
      )
  SimpleSpinner.spinner(v-if="isLoadingEntirePage")
  template(v-else)
    div.artwork
      div.artwork__title {{ artworkTitle }}
      div.artwork__author-wrapper
        div.artwork__author
          img.artwork__avatar(:src="authorAvatar")
          nuxt-link.link.cy-author-link(:to="authorUrl || ''") {{ authorName }}
        div.artwork__timestamp {{ $t('uploaded') }} {{ timestamp }}
      div.artwork__img-container
        div.heart-wrapper.heart-wrapper--liked(v-if="liked")
          | <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          |   <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          | </svg>
        template(v-else)
          div.heart-wrapper.heart-wrapper--liking(v-if="liking")
            | <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            |   <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            | </svg>
          div.heart-wrapper(v-else)
            | <svg @click="like" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            |   <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            | </svg>
        img.artwork__img(
          v-lazy=`{
            src: artworkSrc,
            loading: blank_rectangle_svg_uri({width: artworkWidth, height: artworkHeight, color: '#f1f3f5'}),
            error: blank_rectangle_svg_uri({width: artworkWidth, height: artworkHeight, color: '#f1f3f5'})
          }`
          @click="zoomIn"
          @load="artworkLoaded=true"
        )
      template(v-if="artworkLoaded")
        AutoHighlight.description(v-if="description" :text="description")
        div.tags(v-if="tags && tags.length")
          div.tags__label {{ $t('tags') }}:
          template(v-for="tag in tags")
            nuxt-link.link.tags__item(:to="tag.link") {{ tag.value }}
        slot(name="comments")
</template>
<script>
import { 
  disableBodyScroll, 
  clearAllBodyScrollLocks 
} from 'body-scroll-lock';

import placeholderMixin from "~/utilities/svg_placeholder_uri";
import SimpleSpinner from '~/components/spinners/simple.vue';
import AutoHighlight from '~/components/AutoHighlight';

export default {
  mixins: [placeholderMixin],
  props: {
    isLoadingEntirePage: Boolean,
    artworkTitle: String,
    artworkSrc: String,
    originalArtworkSrc: String,
    artworkWidth: Number,
    artworkHeight: Number,
    authorName: String,
    authorUrl: String,
    authorAvatar: String,
    timestamp: String,
    liked: Boolean,
    liking: Boolean,
    description: String,
    tags: Array, // [{value: "tag1", link: "/link/to/tag1"}, ...]
    like: Function
  },
  components: {
    SimpleSpinner,
    AutoHighlight
  },
  data() {
    return {
      artworkLoaded: false,
      zoomedIn: false,
      doubleZoomed: false,
      zoomImgLoaded: false
    }
  },
  deactivated() {
    clearAllBodyScrollLocks();
  },
  methods: {
    zoomIn() {
      this.scrollY = window.scrollY;
      this.zoomedIn = true;
      this.$nextTick(() => {
        disableBodyScroll(this.$refs.scrollableBody);
      })
    },
    zoomOut() {
      clearAllBodyScrollLocks();
      this.zoomedIn = false;
      this.doubleZoomed = false;
      this.$nextTick(() => {
        window.scroll(0, this.scrollY);
      });
    },
    toggleDoubleZoom() {
      this.doubleZoomed = !this.doubleZoomed;
    }
  },
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.artwork-item-root {
  max-width: $breakpoint-m;
  margin: auto;
}

.spinner {
  margin-top: 2rem;
}

.artwork {
  margin-bottom: 4rem;
  &__avatar {
    $size: 32px;
    width: $size;
    height: $size;
    object-fit: cover;
    margin-right: .5rem;
    vertical-align: top;
    border-radius: 3px;
    background: $loading-bg;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  &__img-container {
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__img {
    max-height: 600px;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  &__author-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
  }
  &__timestamp {
    color: $oc-gray-6;
    font-size: .875rem;
  }
}

.heart-wrapper {
  text-align: right;
  margin-bottom: 1rem;

  & svg {
    fill: $oc-gray-6;
    cursor: pointer;
  }

  &--liking svg {
    opacity: .3;
  }

  &--liked svg {
    fill: $oc-pink-5;
    cursor: default;
  }
}

.zoom-in-container {
  background: $oc-gray-9;
  position: fixed;
  top: 0;
  left: 0;
}

.zoom-in-body {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.zoomed-in-img {
  cursor: zoom-in;
  &:not(&--double-zoomed) {
    max-width: 100vw;
    max-height: calc(100vh - 100px);
  }
  &--double-zoomed {
    cursor: zoom-out;
    z-index: 9;
  }
}

.zoom-close-btn {
  position: fixed;
  top: 12px;
  right: 12px;
}

.description {
  white-space: pre-wrap;
  line-height: 1.5;
}

.tags {
  margin-top: 2rem;
  margin-bottom: -2rem;

  &__label {
    display: inline-block;
    margin-right: .5rem;
  }

  &__item {
    display: inline-block;
    padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    font-size: 14px;
    background: $oc-gray-3;
    color: darken($color: $oc-gray-6, $amount: 10);
  }
}
</style>
