<i18n>
{
  "th": {
    "by": "โดย",

    "add": "เพิ่มลงรถเข็น",
    "adding": "กำลังเพิ่ม...",

    "item_added": "เพิ่มลงรถเข็นแล้ว",
    "go_to_cart": "ดูรถเข็น",
    "close": "ปิด"
  }
}
</i18n>
<template lang="pug">
div.campaign-item-root
  SimpleSpinner.spinner(v-if="isLoadingEntirePage")
  template(v-else)
    div.add-cart-popup(
      data-cy="item-added-msg"
      v-if="addSuccessVisible" 
      @click.self="addSuccessVisible = false"
    )
      div.add-cart-popup__content 
        div.add-cart-popup__msg {{ $t('item_added') }}
        nuxt-link.btn.btn--primary(data-cy="cart-link" to="/cart") {{ $t('go_to_cart') }}
        button.btn.btn--secondary(@click="addSuccessVisible = false") {{ $t('close') }}
    div.top-layout
      div.gallery
        div.gallery__primary
          div.aspect-ratio-box
            div.aspect-ratio-box__content-container
              img.aspect-ratio-box__img(
                v-lazy=`{
                  src: primaryImg
                }`
              )
        div.gallery__thumbnails-wrapper
          div.gallery__thumbnail(
            v-for="thumbnail in thumbnails"
            :class="{'gallery__thumbnail--selected': thumbnail.selected }"
            @click="thumbnailSelectedHandler(thumbnail)"
          )
            div.aspect-ratio-box
              div.aspect-ratio-box__content-container
                img.aspect-ratio-box__img(:src="thumbnail.url")
      div.title
        div.title__title {{ campaignTitle }}
        div.title__subtitle
          | {{ $t('by') }} 
          nuxt-link.link.title__subtitle--link(v-if="authorHomeUrl" :to="authorHomeUrl") {{ authorUsername }}
      div.variants
        div.variants__item
          div.form__select-container
            select.form__select(
              @change="e => productChangedHandler(e.target.value)"
            )
              option(v-for="product in products" :value="product.id" :selected="product.selected") {{ product.title }}
            svg.form__select-arrow(focusable='false', preserveAspectRatio='xMidYMid meet', style='will-change: transform;', xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 16 16', aria-hidden='true')
              path(d='M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z')
        div.variants__item(v-if="colorsVisible")
          div.form__label-container
            label.form__label color
          div.variants__colors-wrapper
            div.variants__color-dot(
              v-for="color in colors" 
              :class="{'variants__color-dot--selected': color.selected }"
              :style="{'background-color': color.hex }"
              @click="colorSelectedHandler(color)"
            )
        div.variants__item(v-if="sizesVisible")
          div.form__label-container
            label.form__label size/model
          div.variants__sizes-models-wrapper
            button.btn.variants__size-model-item(
              v-for="size in sizes"
              :class="{'variants__size-model-item--selected': size.selected }"
              @click="sizeSelectedHandler(size)"
            ) {{ size.title }}
        div.variants__item.variants__item--price
          div.variants__price(v-if="messageAbovePrimaryBtn === 'price'") {{ price }}
          div.variants__price.variants__price--error(v-else-if="messageAbovePrimaryBtn === 'out_of_stock'") out of stock
        div.variants__item.variants__item--btn
          - const addBtn = "btn btn--primary variants__primary-btn"
          button(
            data-cy="add-to-cart-btn"
            class=addBtn
            v-if="addToCartBtnState === 'default'"
            @click="addToCart(showSuccessMsg)"
          ) {{ $t('add') }}
          button(
            class=addBtn
            v-if="addToCartBtnState === 'loading'"
          ) {{ $t('adding') }}
    div.shipping-info
      h1 Satisfaction Guaranteed
      div.shipping-info__head Shipping
      div.shipping-info__body we will ship your item within 2 days
      div.shipping-info__head Return policy
      div.shipping-info__body we hope you enjoy our product if you don't see our policy
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    campaignTitle: String, // "campaign_title"
    primaryImg: String, // "link/to/primary/img"
    thumbnails: Array, // [{url: "path/to/thumbnail", selected: true // false, ...optional //for handler }, ...],
    authorUsername: String, // "username"
    authorHomeUrl: String, // "url/to/author/home"
    products: Array, /// [{id: 'number', title: 'string', selected: 'boolean'}, ...]
    colors: Array, // [{hex: "#000" title: "color_title", selected: true || false, ...optional //for handler }, ...]
    sizes: Array, // [{title: "size_title", selected: true || false, ...optional //for handler }, ...]
    colorsVisible: Boolean,
    sizesVisible: Boolean,
    messageAbovePrimaryBtn: String, // "price" || "out_of_stock"
    price: String, // i.e. 199
    addToCartBtnState: String, // "default" || "loading"
    productChangedHandler: Function, // function(product) {}
    colorSelectedHandler: Function, // function(color) {}
    sizeSelectedHandler: Function, // function(size) {}
    thumbnailSelectedHandler: Function, // function(thumbnail) {}
    addToCart: Function, // function(showSuccessMsg) {}
    isLoadingEntirePage: Boolean
  },
  components: {
    SimpleSpinner
  },
  data() {
    return {
      addSuccessVisible: false
    }
  },
  methods: {
    showSuccessMsg() {
      this.addSuccessVisible = true;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$layout-breakpoint: $breakpoint-m;

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.campaign-item-root {
  padding: 0 1rem;
  max-width: $breakpoint-l - 10rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  @include for-and-up($layout-breakpoint) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.spinner {
  margin-top: 2rem;
}

.add-cart-popup {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  &__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 250px; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    display: grid;
    row-gap: 1rem;
  }
  &__msg {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}

.top-layout {
  display: grid;
  grid-template-areas:
    "title"
    "gallery"
    "variants";
  @include for-and-up($layout-breakpoint) {
    grid-template-columns: minmax(auto, 30rem) minmax(20%, 25rem);
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "gallery    title"
      "gallery  variants";
    grid-column-gap: 1rem;
  }
}

.title {
  grid-area: title;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
  }
  &__subtitle {
    margin-top: .125rem;
    font-size: .875rem;
  }
}

.gallery {
  grid-area: gallery;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;

  @include for-and-up($layout-breakpoint) {
    margin-top: 0;
    flex-direction: column;
  }
  &__primary {
    flex: 1;
  }

  &__thumbnails-wrapper {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: min-content min-content;
    margin-top: .5rem;
    @include for-and-up($layout-breakpoint) {
    }
  }
  &__thumbnail {
    cursor: pointer;
    width: 5rem;
    @include for-and-up($layout-breakpoint) {
    }
    &--selected {
      border-color: $oc-grape-6;
    }
  }
}

.variants {
  grid-area: variants;
  &__item {
    margin-top: 1rem;
    &--price {
      margin: 1.5rem 0;
    }
    &--btn {
      position: relative;
      margin-top: 1.5rem;
    }
  }

  &__colors-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25px);
    grid-gap: 0.5rem;

  }
  &__color-dot {
    $dot-dimension: 1.75rem;
    width: $dot-dimension;
    height: $dot-dimension;
    background-color: #bbb;
    border-radius: 50%;
    background-clip: content-box;
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    &--selected {
      border: 2px solid $oc-cyan-9;
    }
  }

  $size-model-spacing: .25rem;
  &__sizes-models-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -$size-model-spacing;
  }
  &__size-model-item {
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1.125rem;
    border: 1px solid $oc-gray-5;
    margin: $size-model-spacing;
    &--selected {
      pointer-events: none;
      color: white;
      background: $oc-cyan-9;
      border-color: transparent;
      box-shadow: none !important;
    }
  }

  &__price {
    font-size: 1.25rem;
    &--error {
      color: $error-color;
    }
  }

  &__primary-btn {
    z-index: 999;
    width: 100%;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0;
    &:active, &:focus {
      box-shadow: none;
    }
  }
}

.scale-in-enter-active {
  animation: scale-in-ver-top  .3s;
}

.scale-in-leave-active {
  animation: scale-in-ver-top  .3s reverse;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.shipping-info {
  margin-top: 4rem;
  &__head {
    font-weight: bold;
    margin-bottom: .5rem;
  }
  &__body {
    margin-bottom: 1rem;
  }
}
</style>