<i18n>
{
  "th": {
    "cart": "ตระกร้าสินค้า",
    "cart_empty": "ไม่มีของในตะกร้า"
  }
}
</i18n>
<template lang="pug">
div.cart-root
  SimpleSpinner.spinner(v-if="isLoading")
  template(v-else)
    div.cart-page-title {{ $t("cart") }}
    //div.cart-page-title cart
    div(data-cy="cart-empty-msg" v-if="isEmpty") {{ $t("cart_empty") }}
    template(v-else)
      div.cart-layout
        div.items-container
          div.cart-item-wrapper(data-cy="cart-item" v-for="item in items")
            div.cart-item-error(v-if="item.error")
              div.notification.notification--error(style="font-size:.875rem;")
                div.notification__title {{ item.error.title }}
                div.notification__body {{ item.error.body }}
            div.cart-item
              div.cart-item__head
                div.aspect-ratio-box
                  div.aspect-ratio-box__content-container
                    img.aspect-ratio-box__img(:src="item.productImg")
              div.cart-item__body
                nuxt-link.link(
                  style="display:block;"
                  :to="item.campaignLink || ''"
                ) {{ item.campaignTitle }}
                div {{ item.productTitle }}
                div {{ item.productSubtitle }}
                div {{ item.price }}
                  small: b  / item
              div.cart-item__delete-btn-container 
                button.btn.cart-item__delete-btn(data-cy="delete-btn" @click="itemDeletedHandler(item)") delete
              div.cart-item__qty-input-container
                div.cart-item__qty-input-label quantity
                select(
                  data-cy="qty-select"
                  style="width:4rem;" 
                  :value="item.quantity" 
                  @change="(e) => itemQtyChangeHandler(item, e.target.value)"
                )
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
        div.summary
          div.summary__inside
            div.summary__body-container
              div.summary__body
                div.summary__body-item
                  span: b subtotal
                  span {{ subtotal }}

              - const btnText = 'checkout'
              template(v-if="canCheckout")
                nuxt-link(:to="checkoutLink || ''")
                  button.btn.btn--primary.summary__checkout-btn #{btnText}
              template(v-else)
                button.btn.summary__checkout-btn.summary__checkout-btn--disabled(disabled) #{btnText}
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    items: Array, // [{error: {title: "err_title", body: "body message"} || null, id: "some-unique-id", productImg: "path/to/img", campaignTitle: "title", campaignLink: "link/to/campaign", productTitle: "shirt", productSubtitle: "xl, red", price: 199, quantity: 10}, ...] or null for empty empty
    subtotal: String, // 199
    checkoutLink: String, // path/to/checkout
    itemQtyChangeHandler: Function, // function(item, qty)
    itemDeletedHandler: Function, // function(item)
    isEmpty: Boolean,
    isLoading: Boolean,
    canCheckout: Boolean
  },
  data() {
    return {
    };
  },
  components: {
    SimpleSpinner
  },
  computed: {
  },
  methods: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$layout-breakpoint: $breakpoint-l; // the sticker checkout button at bottom
$cart-item-breakpoint: $breakpoint-m; // the layout of each cart item

.cart-root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.cart-page-title {
  font-size: 1.5rem; 
  font-weight: bold;
  margin: 2rem 0;
}

.spinner {
  margin-top: 2rem;
}

.cart-empty {
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
  }
  &__action-link {
    padding: 1rem;
  }
}

.cart-layout {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "items"
  "summary";
  grid-template-rows: min-content auto min-content;
  @include for-and-up($layout-breakpoint) {
    //width: auto;
    grid-template-columns: minmax(auto, 45rem) minmax(auto, 22rem);
    grid-template-rows: min-content auto;
    grid-column-gap: 4rem;
    grid-template-areas: 
    "items summary";
  }
}

.items-container {
  display: grid;
  row-gap: 1.5rem;
  grid-area: items;
  grid-auto-rows: min-content;
}

@mixin card-style {
  background-color: white;
  border: 1px solid $oc-gray-4;
}

.cart-item-error {
  @include card-style;
  border-bottom: 0px;
}

.cart-item {
  @include card-style;
  padding: 1rem;
  display: grid;
  grid-template-areas: 
  "head body"
  "head qty-input"
  "delete-btn qty-input";
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1rem;
  @include for-and-up($cart-item-breakpoint) {
    grid-template-areas: 
    "head body qty-input"
    "head delete-btn qty-input";
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr min-content;
  }
  &__head {
    grid-area: head;
    min-width: 10rem;
    background-color: $loading-bg;
  }
  &__body {
    min-width: 0;
    grid-area: body;
    line-height: 1.75;
    font-size: .875rem;
    @mixin overflow-ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  &__delete-btn-container {
    grid-area: delete-btn;
    //cursor: default;
    @include for-and-up($breakpoint-m) {
      margin-top: 1rem;
    }
  }
  &__delete-btn {
    padding: .25rem .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    &:hover {
      background: $oc-gray-3;
    }
    &:active, &:focus {
      box-shadow: none;
    }
  }
  &__qty-input {
    &-container {
      margin-top: .5rem;
      grid-area: qty-input;
    }
    &-label {
      margin-bottom: .25rem;
      color: $oc-gray-7;
      font-size: .75rem;
    }
    &-block {
      height: 2rem;
      border: 1px solid $oc-gray-4;
      border-radius: 5px;
      width: 9rem;
      max-width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      &-btn-left, &-btn-right {
        width: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        &:active, &:focus {
          box-shadow: none;
        }
        &:active {
          transform: translateY(2px);
        }
      }
      &-value {
        border: 1px solid $oc-gray-4;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
}
.summary {
  grid-area: summary;
  bottom: 0;
  margin-top: 1rem;
  @include for-and-up($layout-breakpoint) {
    margin-top: 0rem;
    position: relative;
  }
  &__inside {
    @include for-and-up($layout-breakpoint) {
      position: sticky;
      top: 1rem;
    }
  }
  &__body-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__checkout-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    &--disabled {
      color: $oc-gray-5 !important;
    }
  }
}
</style>
