<template lang="pug">
div.checkout-root
  template
    div.logo
      LogoComponent(height="24px")
    template(v-if="isLoadingEntirePage")
    template(v-else-if="step > 3")
      div.checkout-success
        div.checkout-success__img
          svg.checkout-success__img-svg(width='100', height='100', viewBox="0 0 100 100" xmlns='http://www.w3.org/2000/svg')
            circle(cx='50', cy='50', r='45', fill='none', stroke-width='4')
            path.checkout-success__img-svg-mark(d='M28,49 l15,15 l26,-26', fill='none', stroke-width='4')
        div.checkout-success__head-one checkout success
        div.checkout-success__head-two please check your email
        nuxt-link.btn.btn--link(to="/") back to home
    template(v-else)
      div.top-layout
        div.top-layout__shipping.content-box
          div.content-box__header Shipping
            span.link.content-box__header-edit-btn(href="#" v-if="step!==1" @click="editShipping") edit
          template(v-if="step===1")
            div.content-box-content
              div.content-box-content__input-container
                div.content-box-content__label fullname
                input.form__input.content-box-content__input(v-model="$v.shipping.fullName.$model" :class="{'form__input--error': $v.shipping.fullName.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.fullName.required") required
              div.content-box-content__input-container
                div.content-box-content__label address
                input.form__input(v-model="$v.shipping.address.$model" :class="{'form__input--error': $v.shipping.address.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.address.required") required
              div.content-box-content__input-container
                div.content-box-content__label district
                input.form__input(v-model="$v.shipping.district.$model" :class="{'form__input--error': $v.shipping.district.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.district.required") required
              div.content-box-content__input-container
                div.content-box-content__label province
                input.form__input(v-model="$v.shipping.province.$model" :class="{'form__input--error': $v.shipping.province.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.province.required") required
              div.content-box-content__input-container
                div.content-box-content__label zip-code
                input.form__input(v-model="$v.shipping.zipCode.$model" :class="{'form__input--error': $v.shipping.zipCode.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.province.required") required
              div.content-box-content__input-container
                div.content-box-content__label email
                input.form__input(v-model.trim="$v.shipping.email.$model" :class="{'form__input--error': $v.shipping.email.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.email.required") required
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.email.email") incorrect email format
              div.content-box-content__input-container
                div.content-box-content__label phone number (optional)
                input.form__input(v-model.trim="$v.shipping.phoneNumber.$model" :class="{'form__input--error': $v.shipping.phoneNumber.$error}")
                div.form__text-error.content-box-content__input-error(v-if="!$v.shipping.phoneNumber.required") required
              button.btn.btn--primary.content-box-content__button(@click="_validateShipping") save
          template(v-else)
            div.content-box-content
              div.content-box-content__form-preview
                div {{ shipping.fullName }}
                div {{ shipping.address }}
                div {{ shipping.district }}
                div {{ shipping.province }}, {{ shipping.zipCode }}
                //div {{ shipping.country }}
                div {{ shipping.email }}
                div {{ shipping.phoneNumber }}
        div.top-layout__payment.content-box
          div.content-box__header Payment
            span.link.content-box__header-edit-btn(href="#" v-if="step > 2"  @click="editPayment") edit
          template(v-if="step===2")
            div.content-box-content
              div.content-box-content__payments
                div.content-box-content__payments-item(
                  :class="{'content-box-content__payments-item--selected': payment.method === 'credit_card'}" 
                  @click="payment.method = 'credit_card'"
                )
                div.content-box-content__payments-item(
                  :class="{'content-box-content__payments-item--selected': payment.method === 'bank_transfer'}" 
                  @click="payment.method = 'bank_transfer'"
                )
              template(v-if="payment.method === 'credit_card'")
                div.content-box-content__input-container
                  div.content-box-content__label fullname
                  input.form__input.content-box-content__input(v-model="$v.payment.cardInfo.fullName.$model" :class="{'form__input--error': $v.payment.cardInfo.fullName.$error}")
                  div.form__text-error.content-box-content__input-error(v-if="!$v.payment.cardInfo.fullName.required") required
                div.content-box-content__input-container
                  div.content-box-content__label card number
                  Cleave.form__input.content-box-content__input(:options="{creditCard:true, onValueChanged: (e) => setCardNumber(e.target.value)}" :value="payment.cardInfo.cardNumber" :class="{'form__input--error': $v.payment.cardInfo.cardNumber.$error}")
                  div.form__text-error.content-box-content__input-error(v-if="!$v.payment.cardInfo.cardNumber.required") required
                  div.form__text-error.content-box-content__input-error(v-if="!$v.payment.cardInfo.cardNumber.cardValid") invalid card number
                div.content-box-content__month-year-cvv-container
                  div.content-box-content__input-container
                    div.content-box-content__label expiry date
                    div.content-box-content__expiry-date-container
                      div.form__select-container
                        select.form__select.content-box-content__input.content-box-content__input--expiry-month(v-model="$v.payment.cardInfo.month.$model" :class="{'form__select--error': $v.payment.cardInfo.month.$error}")
                          option(:value="null" disabled hidden) month
                          option(:value="1")  1 - January
                          option(:value="2")  2 - Febuary
                          option(:value="3")  3 - March
                          option(:value="4")  4 - April
                          option(:value="5")  5 - May
                          option(:value="6")  6 - June
                          option(:value="7")  7 - July
                          option(:value="8")  8 - August
                          option(:value="9")  9 - September
                          option(:value="10") 10 - October
                          option(:value="11") 11 - November
                          option(:value="12") 12 - December
                        svg.form__select-arrow.content-box-content__select-arrow(focusable='false', preserveAspectRatio='xMidYMid meet', style='will-change: transform;', xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 16 16', aria-hidden='true')
                          path(d='M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z')
                      div.form__select-container
                        select.form__select.content-box-content__input.content-box-content__input--expiry-year(v-model="$v.payment.cardInfo.year.$model" :class="{'form__select--error': $v.payment.cardInfo.year.$error}")
                          option(:value="null" disabled hidden) year
                          template(v-for="(_, index) in 20")
                            option(:value="thisYear+index") {{ thisYear+index }}
                        svg.form__select-arrow.content-box-content__select-arrow(focusable='false', preserveAspectRatio='xMidYMid meet', style='will-change: transform;', xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 16 16', aria-hidden='true')
                          path(d='M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z')
                  // yes there is no need to hide cvv like we do with password
                  div.content-box-content__input-container
                    div.content-box-content__label cvv
                    input.form__input.content-box-content__input(v-model="$v.payment.cardInfo.cvv.$model" :class="{'form__input--error': $v.payment.cardInfo.cvv.$error}" maxlength="4")
                    div.form__text-error.content-box-content__input-error(v-if="!$v.payment.cardInfo.cvv.required") required
                div.content-box-content__input-container
                  div.notification.notification--info
                    div.notification__body your card won't be charged not until you finish the checkout
              template(v-if="payment.method === 'bank_transfer'")
                div.content-box-content__input-container
                  div.notification.notification--info
                    div.notification__body once you completed the checkout we’ll send you an email describing all the steps to make a payment
              button.btn.btn--primary.content-box-content__button(@click="_validatePayment") save
          template(v-else-if="step > 2")
            template(v-if="payment.method==='credit_card'")
              div.content-box-content
                div.content-box-content__form-preview
                  div credit card
                  div {{ payment.cardInfo.fullName }}
                  div **** **** **** {{ payment.cardInfo.cardNumber.slice(-4) }}
                  div expires: {{ ("0" + payment.cardInfo.month).slice(-2) }} / {{ payment.cardInfo.year.toString().slice(-2) }}
            template(v-if="payment.method==='bank_transfer'")
              div.content-box-content
                div.content-box-content__form-preview
                  div bank_transfer
        div.top-layout__summary
          div.content-box.content-box--summary
            div.content-box__header Summary
            div.content-box-content
              div.content-box-content__summary
                div.content-box-content__summary-item.content-box-content__summary-item--first
                  span subtotal
                  span {{ subtotal }}
                div.content-box-content__summary-item
                  span shipping
                  span {{ shippingCost }}
                div.content-box-content__summary-item--separator
                div.content-box-content__summary-item.content-box-content__summary-item--total
                  span total
                  span {{ total }}
                div.content-box-content__mobile-checkout-btn-wrapper
                  div.content-box-content__mobile-checkout-summary-wrapper
                    span 
                      | total: 
                      b {{ total }}
                    span see detail
                  button.btn.btn--primary.content-box-content__button--pay-btn(
                    :disabled="step <= 2"
                    @click="confirmCheckout"
                  ) confirm and pay
                  div.summary-help-text
                    template(v-if="step === 1") please fill in shipping address 
                    template(v-if="step === 2") please fill in payment form 
        div.top-layout__items.content-box
          div.content-box__header Items
          div.content-box-content
            div.content-box-content__items
              div.content-box-content__items-item-container(v-for="item in items")
                div.content-box-content__items-item-img
                  div.aspect-ratio-box
                    div.aspect-ratio-box__content-container
                      img.aspect-ratio-box__img(:src="item.imgUrl")
                div.content-box-content__items-item-info
                  div.content-box-content__items-item-info-text.content-box-content__items-item-info-text--campaign-title {{ item.artwork }}
                  div.content-box-content__items-item-info-text.content-box-content__items-item-info-text--product-title {{ item.product }}
                  div.content-box-content__items-item-info-text.content-box-content__items-item-info-text--product-subtitle {{ item.variant }}
                  div.content-box-content__items-item-info-text.content-box-content__items-item-info-text--price {{ item.price }}
                  div.content-box-content__items-item-info-text.content-box-content__items-item-info-text--quantity quantity: {{ item.quantity }}
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import Cleave from "vue-cleave-component";
import cardValidator from "card-validator";

import LogoComponent from '~/components/Logo';

export default {
  props: {
    items: Array, // [{artwork: "string", product: "string", variant: "string", price: "string", quantity: "number"}, ...]
    step: Number,
    isLoadingEntirePage: Boolean,
    validateShipping: Function, // function({fullname, address1, address2, district, province, zipCode, country, email, phoneNumber})
    validatePayment: Function,
    editShipping: Function,
    editPayment: Function,
    confirmCheckout: Function,
    subtotal: String,
    shippingCost: String,
    total: String
  },
  mixins: [validationMixin],
  components: {
    Cleave,
    LogoComponent
  },
  data() {
    return {
      //step: 1,
      shipping: {
        fullName: '',
        address: '',
        district: '',
        province: '',
        country: "TH",
        zipCode: '',
        email: '',
        phoneNumber: ''
      },
      payment: {
        method: "credit_card", // or 'bank_transfer',
        cardInfo: {
          fullName: '',
          cardNumber: '',
          month: '',
          year: '',
          cvv: ''
        },
      }
    };
  },
  created() {},
  validations: {
    shipping: {
      fullName: { required },
      address: { required },
      district: { required },
      province: { required },
      zipCode: { required },
      email: { required, email },
      phoneNumber: {}
    },
    payment: {
      cardInfo: {
        fullName: { required },
        cardNumber: {
          required,
          cardValid: value => {
            return cardValidator.number(value).isValid;
          }
        },
        month: { required },
        year: { required },
        cvv: { required }
      }
    }
  },
  computed: {
    thisYear() {
      return new Date().getFullYear();
    }
  },
  methods: {
    setCardNumber(value) {
      if (!this.$v.payment.cardInfo.cardNumber.$dirty && value === "") {
        return;
      }
      this.payment.cardInfo.cardNumber = value;
      this.$v.payment.cardInfo.cardNumber.$touch();
    },
    _validateShipping() {
      this.$v.shipping.$touch();

      if (this.$v.shipping.$invalid) {
        //console.log(this.$v.shipping);
        return;
      }

      
      this.validateShipping(this.shipping);
      // your code goes here
      // e.g. talk to backend to get shipping cost
      //
      // code that smooth scroll to next step goes here
      //
      //
    },
    _validatePayment() {
      this.$v.payment.cardInfo.$touch();

      if (
        this.payment.method === "credit_card" &&
        this.$v.payment.cardInfo.$invalid
      ) {
        return;
      }

      this.validatePayment(this.payment)
      // move to step 3, i.e. final step in checkout, once payment is ok
      // code that smooth scroll to next step goes here
      //
      //
    },
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$layout-breakpoint: $breakpoint-l;

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.logo {
  text-align: center;
  margin: 2rem 0;
}

.checkout-root {
  margin: auto;
  background-color: $oc-gray-0;
  min-height: 100vh;
  box-sizing: border-box;
  border: 1px solid transparent;
  @include for-and-up($layout-breakpoint) {
  }
}

.top-layout {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-areas: 
  "items"
  "shipping"
  "payment"
  "summary";
  max-width: 60rem;
  @include for-and-up($layout-breakpoint) {
    grid-template-areas: 
    "items summary"
    "shipping summary"
    "payment summary";
    margin: auto;
    grid-template-columns: 1fr 22.5rem;
    margin-bottom: 4rem;
  }
  &__shipping {
    grid-area: shipping;
  }
  &__payment {
    grid-area: payment;
  }
  &__summary {
    grid-area: summary;
  }
  &__items {
    grid-area: items;
  }
}

.summary-help-text {
  color: $oc-gray-6;
  text-align: center;
  margin: .5rem 0;
  font-size: .875rem;
}

.checkout-success {
  text-align: center;
  &__img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__img-svg {
    width: 200px;
    height: auto;
    stroke: green;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  &__img-svg-mark {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 3s ease forwards;
  }
  &__head-one {
    font-size: 2rem;
  }
  &__head-two {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.content-box {
  background-color: white;
  $border: 1px solid $oc-gray-4;
  border: $border;
  &--summary {
    @include for-and-up($layout-breakpoint) {
      position: sticky;
      top: 1rem;
    }
  }
  &__header {
    border-bottom: $border;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
  }
  &__header-edit-btn {
    font-size: .875rem;
    float: right;
    font-weight: initial;
    cursor: pointer;
  }
}

.content-box-content {
  padding: 1rem;
  margin: auto;
  @include for-and-up($layout-breakpoint) {
    padding: 2rem;
  }
  &__input-container {
    &:last-of-type {
      margin-bottom: 0;
    }
    margin-bottom: 1rem;
    @include for-and-up($layout-breakpoint) {
      margin-bottom: 1rem;
    }
  }
  &__label {
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .125rem;
  }
  &__input {
    &--expiry-month {
      padding-right: 2rem;
    }
    &--expiry-year {
      padding-right: 2rem;
    }
  }
  &__select-arrow {
    right: .5rem;
  }
  .form__input:disabled {
    background-color: $oc-gray-0;
  }
  .form__input--error + &__input-error {
    display: block;
  }
  &__input-error {
    display: none;
  }
  &__form-preview {
    margin: 1rem 0;
    line-height: 150%;
    @include for-and-up($layout-breakpoint) {
      margin: 0;
    }
  }
  &__group-label {
    font-size: 1.5rem;
    margin-top: 2rem;
    @include for-and-up($layout-breakpoint) {
      margin-top: 4rem;
    }
    &--top {
        margin-top: 0rem;

    }
  }
  &__payments {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    @include for-and-up($layout-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__payments-item {
    height: 5rem;
    background: #eee;
    &--selected {
      border: 1px solid black;
      border-bottom-width: 2px;
      background: #ddd;
    }
  }
  &__month-year-cvv-container {
    display: grid;
    grid-template-columns: auto 5rem;
    grid-gap: 2rem;
  }
  &__expiry-date-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;

  }
  &__button {
    margin-top: 2rem;
    margin-bottom: .5rem;
    @include for-and-up($layout-breakpoint) {
      margin-top: 2rem;
      margin-bottom: 0;
    }
    &--pay-btn {
      width: 100%;
    }
  }

  &__summary {
  }
  &__summary-item {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    &--first {
      margin: 0;
    }
    &--total {
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }
    &--total-lg {
      font-weight: bold;
      font-size: 1.25rem;
      margin: 1.25rem 0;
      margin-bottom: 0;
    }
    &--separator {
      margin: 1rem 0;
      border: 1px solid #ddd;
    }
  }

  &__mobile-checkout-btn-wrapper {
    border-top: 1px solid $oc-gray-4;
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    box-sizing: border-box;
    @include for-and-up($layout-breakpoint) {
      margin-top: 1rem;
      border-top: 0;
      position: initial;
      padding: 0;
    }
  }
  &__mobile-checkout-summary-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    @include for-and-up($layout-breakpoint) {
      display: none;
    }
  }

  &__items {
    display: grid;
    grid-gap: 1.5rem;
    margin: .5rem 0;
    @include for-and-up($layout-breakpoint) {
      margin: 0;
    }
  }
  &__items-item-container {
    display: flex;
  }
  &__items-item-img {
    width: 7.5rem;
  }
  &__items-item-info {
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: .875rem;
  }
  &__items-item-info-text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .25rem;
    &--campaign-title {
      margin-top: 0;
    }
    &--price {
    }
    &--quantity {
      margin-top: .625rem;
      color: $oc-gray-7;
    }
  }
}
</style>