<i18n>
{
  "th": {
    "tag": "แท็ก"
  }
}
</i18n>
<template lang="pug">
div.campaign-list-root(ref="root")
  SimpleSpinner.spinner(v-if="isLoadingItems")
  template(v-else)
    div.page-title {{ $t('tag') }}: {{ tag }}
    div.artworks-container
      slot(name="artworks" v-bind:galleryWidth="getDefaultGalleryWidth()")
    div.pagination
      slot(name="pagination")
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  components: {
    SimpleSpinner
  },
  props: {
    isLoadingItems: Boolean,
    tag: String
  },
  methods: {
    getDefaultGalleryWidth() {
      return this.$refs.root.offsetWidth;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$page-max-width: $breakpoint-l;

.campaign-list-root {
  max-width: $page-max-width;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.spinner {
  margin-top: 2rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.artworks-container {
  margin-top: 2rem;
}

.pagination {
  margin-top: 2rem;
}
</style>