<i18n>
{
  "th": {
    "forgot_password": "ลืม รหัสผ่าน",

    "email": "อีเมล",
    "email_is_required": "กรุณากรอก อีเมล",

    "send_email": "ส่งอีเมล",
    "sending_email": "กำลังส่งอีเมล...",
    "email_sent": "อีเมล สำหรับเปลี่ยนรหัสผ่าน ได้ถูกส่งไปแล้ว หากไม่ได้รับอีเมล กรุณาเช็ค อีเมลขยะ หรือแสปมโฟล์เดอร์"
  }
}
</i18n>
<template lang="pug">
div.login-root
  div.title {{ $t('forgot_password') }}
  div.form-container(
    data-cy="please-check-email-msg"
    v-if="showSeeEmail"
  )
    div.login-form(style="line-height:1.5;font-size:.875rem;")
      div {{ $t('email_sent') }}
  div.form-container(v-else)
    div.login-form
      div.login-form__input-group
        div.login-form__label {{ $t('email') }}
        input.form__input.login-form__input(
          data-cy="email-input"
          type="text"
          :class="$v.forgotPasswordForm.email.$error && 'form__input--error'"
          v-model="$v.forgotPasswordForm.email.$model"
        )
        template(v-if="$v.forgotPasswordForm.email.$error")
          div.form__text-error(v-if="!$v.forgotPasswordForm.email.required") {{ $t('email_is_required') }}
      - const loginBtn = 'btn btn--primary login-form__btn'
      template(v-if="!isRecovering")
        button(
          data-cy="send-email-btn"
          class=loginBtn
          @click="_recover"
        ) {{ $t('send_email') }}
      template(v-else)
        button(
          class=loginBtn
        ) {{ $t('sending_email') }}
    div
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    recover: Function, // function (email)
    isRecovering: Boolean,
    showSeeEmail: Boolean
  },
  data() {
    return {
      forgotPasswordForm: {
        email: null,
      }
    }
  },
  validations: {
    forgotPasswordForm: {
      email: {
        required
      },
    }
  },
  methods: {
    _recover() {
      this.$v.forgotPasswordForm.$touch();
      if (this.$v.forgotPasswordForm.$error) return;

      this.recover(this.forgotPasswordForm.email);
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.form-container {
  margin: auto;
  max-width: 20rem;
}

.separator {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__line {
    border-top: 1px solid $oc-gray-4;
    width: 40%;
  }
  &__text {
    color: $oc-gray-6;
    background: white;
    white-space: nowrap;
  }
}

.login-form {
  background: $oc-gray-1;
  border: 1px solid $oc-gray-4;
  padding: 1.5rem;
  border-radius: 5px;
  &__input-group {
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: .5rem;
    font-size: .875rem;
    font-weight: bold;
  }
  &__input {
    height: 2rem;
    border-color: $oc-gray-4;
  }
  &__btn {
    width: 100%;
  }
}

.form-help-link {
  display: block;
  margin: 1rem 0;
  font-size: .875rem;
}

</style>
