<i18n>
{
  "th": {
    "login_to_your_account": "เข้าสู่ระบบ",
    "login": "เข้าสู่ระบบ",
    "logging_in": "กำลังเข้าสู่ระบบ...",
    "email": "อีเมล",
    "password": "รหัสผ่าน",
    "email_is_required": "กรุณากรอก อีเมล",
    "password_is_required": "กรุณากรอก รหัสผ่าน",
    "forgot_password": "ลืมรหัสผ่าน",
    "sign_up": "สร้างบัญชีใหม่"
  }
}
</i18n>
<template lang="pug">
div.login-root
  div.title {{ $t('login_to_your_account') }}
  div.form-container
    div.login-form
      div.login-form__input-group
        div.login-form__label {{ $t('email') }}
        input.cy-email.form__input.login-form__input(
          type="text"
          :class="$v.loginForm.email.$error && 'form__input--error'"
          v-model="$v.loginForm.email.$model"
        )
        div.form__text-error(v-if="$v.loginForm.email.$error && !$v.loginForm.email.required") {{ $t('email_is_required') }}
      div.login-form__input-group
        div.login-form__label {{ $t('password') }}
        input.cy-password.form__input.login-form__input(
          type="password"
          :class="$v.loginForm.password.$error && 'form__input--error'"
          v-model="$v.loginForm.password.$model"
        )
        div.form__text-error(v-if="$v.loginForm.password.$error && !$v.loginForm.password.required") {{ $t('password_is_required') }}
      - const loginBtn = 'btn btn--primary login-form__sign-in-btn'
      template(v-if="!isSigningIn")
        button.cy-login-btn(
          class=loginBtn
          @click="_signIn"
        ) {{ $t('login') }}
      template(v-else)
        button(
          class=loginBtn
        ) {{ $t('logging_in') }}
    div
      nuxt-link.cy-signup.link(data-cy="signup-link" :to="signUpUrl").form-help-link {{ $t('sign_up') }}
      nuxt-link.cy-forgot.link(data-cy="forgot-password-link" :to="forgotPasswordUrl").form-help-link {{ $t('forgot_password') }}
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    signUpUrl: String,
    forgotPasswordUrl: String,
    signIn: Function, // function ({email, password})
    isSigningIn: Boolean
  },
  data() {
    return {
      loginForm: {
        email: '',
        password: ''
      }
    }
  },
  validations: {
    loginForm: {
      email: {
        required
      },
      password: {
        required: (val) => val.length
      }
    }
  },
  methods: {
    _signIn() {
      this.$v.loginForm.$touch();
      if (this.$v.loginForm.$error) return;

      this.signIn({
        email: this.loginForm.email, 
        password: this.loginForm.password
      });
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.form-container {
  margin: auto;
  max-width: 20rem;
}

.third-party-btn {
  width: 100%;
  height: 2.5rem;
  color: $oc-indigo-7;
  border: 1px solid $oc-indigo-7;
  font-weight: bold;
  &:hover {
    background: $oc-indigo-5;
    color: white;
  }
}

.separator {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__line {
    border-top: 1px solid $oc-gray-4;
    width: 40%;
  }
  &__text {
    color: $oc-gray-6;
    background: white;
    white-space: nowrap;
  }
}

.login-form {
  background: $oc-gray-1;
  border: 1px solid $oc-gray-4;
  padding: 1.5rem;
  border-radius: 5px;
  &__input-group {
    margin-bottom: 1.5rem;
  }
  &__label {
    margin-bottom: .5rem;
    font-size: .875rem;
    font-weight: bold;
  }
  &__input {
    height: 2rem;
    border-color: $oc-gray-4;
  }
  &__sign-in-btn {
    width: 100%;
  }
}

.form-help-link {
  display: block;
  margin: 1rem 0;
  font-size: .875rem;
}

</style>
