<template lang="pug">
div.printers-order-item-root
  template(v-if="isLoadingEntirePage")
    h1: center ...loading
  template(v-else)
    div.header Order {{ '#' + id }}
    div.main-layout
      div.main-layout__left-col
        div.overview
          div.overview__group
            div.overview__header shipping
            div.overview__body(v-if="shipping")
              div {{ shipping.name }}
              div {{ shipping.address }}
              div {{ shipping.district }}
              div {{ shipping.province }}
              div {{ shipping.zipCode }}
          div.overview__group
            div.overview__header contact
            div.overview__body(v-if="contact")
              div {{ contact.phoneNumber }}
              div {{ contact.email }}
      div.main-layout__right-col
        div.order-items
          div.order-items__item(data-cy="printer-order-item" v-for="item in items")
            div.order-items__img
              img(
                :src="item.previewURL"
                style=`max-width:100%;`
              )
              a.link(style="display:block;" :href='item.artworkURL') see artwork
            div.order-items__details
              template
                div artwork
                div {{ item.artwork }}
              template
                div product
                div {{ item.product }}
              template
                div variant
                div {{ item.variant }}
              template
                div width
                div {{ item.width }}
              template
                div left
                div {{ item.left }}
              template
                div top
                div {{ item.top }}
              template
                div quantity
                div {{ item.quantity }}

</template>
<script>
export default {
  props: {
    id: Number,
    shipping: Object, // {name: 'string', address: 'string', district: 'string', province: 'string', zipCode: 'string'}
    contact: Object, // {phoneNumber: 'string'}
    items: Array, // Array<{artwork: 'string', product: 'string', variant: 'string', width: 'string', top: 'string', height: 'string', quantity: 'number', previewURL: 'string', artworkURL: 'string', ...}>
    isLoadingEntirePage: Boolean
  },
  data() {
    return {
    };
  },
  mounted() {
  },
  methods: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.printers-order-item-root {
  width: $breakpoint-l;
  margin: auto;
  margin-bottom: 2rem;
}

.header {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: bold;
}

.main-layout {
  display: grid;
  //grid-template-columns: 1.125fr 1.875fr;
  row-gap: 4rem;
}

.overview {
  border: 1px solid black;
  padding: 2rem;
  position: relative;
  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__header {
    //font-size: 
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__body {
    line-height: 1.5;
  }
}


.order-items {
  &__item {
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }
  &__details {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-auto-rows: min-content;
    //height: 0;
    line-height: 2;
    & > *:nth-child(odd) {
      font-weight: bold;
    }
  }

}
</style>