<i18n>
{
  "th": {
    "change_password": "เปลี่ยน รหัสผ่าน",
    "new_password": "รหัสผ่านใหม่",
    "password_is_required": "กรูณากรอก รหัสผ่าน",
    "password_is_too_long": "รหัสผ่าน ยาวเกินไป",
    "change": "เปลี่ยน",
    "changing": "กำลังเปลี่ยน...",
    "password_changed": "รหัสผ่านถูกเปลี่ยนแล้ว กรุณาใช้รหัสผ่านใหม่ในการเข้าสู่ระบบ",
    "login": "เข้าสู่ระบบ"
  }
}
</i18n>
<template lang="pug">
div.reset-password-root
  div.title {{ $t('change_password') }}
  div.form-container
    div.pass-reset-form.pass-reset-form--success-msg(v-if="showSuccessMessage")
      div {{ $t('password_changed') }}
    div.pass-reset-form(v-else)
      div.pass-reset-form__input-group
        div.pass-reset-form__label {{ $t('new_password') }}
        input.form__input.pass-reset-form__input(
          type="password"
          :class="{ 'form__input--error': $v.resetPasswordForm.$error }"
          v-model="$v.resetPasswordForm.password.$model"
        )
        template(v-if="$v.resetPasswordForm.password.$error")
          div.form__text-error(v-if="!$v.resetPasswordForm.password.required") {{ $t('password_is_required') }}
          div.form__text-error(v-else-if="!$v.resetPasswordForm.password.maxLength") {{ $t('password_is_too_long') }}
      - const btn = 'btn btn--primary pass-reset-form__btn'
      template(v-if="!isChanging")
        button(
          class=btn
          @click="_changePassword"
        ) {{ $t('change') }}
      template(v-else)
        button(
          class=btn
        ) {{ $t('changing') }}
    div
      nuxt-link.link.form-help-link(:to="loginUrl || ''") {{ $t('login') }}
</template>
<script>
import { validationMixin } from "vuelidate";
import { maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    changePassword: Function, // function (password)
    isChanging: Boolean,
    showSuccessMessage: Boolean,
    loginUrl: String
  },
  data() {
    return {
      resetPasswordForm: {
        password: ''
      }
    }
  },
  validations: {
    resetPasswordForm: {
      password: {
        required: (val) => val.length,
        maxLength: maxLength(255)
      },
    }
  },
  methods: {
    _changePassword() {
      this.$v.resetPasswordForm.$touch();
      if (this.$v.resetPasswordForm.$error) return;

      this.changePassword(this.resetPasswordForm.password);
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.form-container {
  margin: auto;
  max-width: 20rem;
}

.separator {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__line {
    border-top: 1px solid $oc-gray-4;
    width: 40%;
  }
  &__text {
    color: $oc-gray-6;
    background: white;
    white-space: nowrap;
  }
}

.pass-reset-form {
  background: $oc-gray-1;
  border: 1px solid $oc-gray-4;
  padding: 1.5rem;
  border-radius: 5px;
  &--success-msg {
    line-height: 1.5;
    font-size: .875rem;
  }
  &__input-group {
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: .5rem;
    font-size: .75rem;
    font-weight: bold;
  }
  &__input {
    height: 2rem;
    border-color: $oc-gray-4;
  }
  &__btn {
    width: 100%;
  }
}

.form-help-link {
  display: block;
  margin: 1rem 0;
  font-size: .875rem;
}

</style>
