<i18n>
{
  "th": {
    "create_new_account": "สร้าง บัญชี ใหม่",

    "username": "ชื่อผู่ใช้",
    "email": "อีเมล",
    "password": "รหัสผ่าน",
    "username_is_required": "กรุณากรอก ชื่อผู่ใช้",
    "incorrect_username_format": "กรุณาใช้ A-Z, a-z, 0-9, _ เท่านั้น",
    "username_is_too_long": "ชื่อผู่ใช้ ยาวเกินไป",
    "email_is_required": "กรุณากรอก อีเมล",
    "incorrect_email_format": "อีเมล ไม่ถูกต้อง",
    "email_is_too_long": "อีเมล ยาวเกินไป",
    "password_is_required": "กรุณากรอก รหัสผ่าน",
    "password_is_too_long": "รหัสผ่าน ยาวเกินไป",
    "sign_up": "สร้างบัญชี",
    "signing_up": "กำลังสร้างบัญชี...",

    "email_sent": "อีเมลยืนยันการสมัครได้ถูกส่งไปที่ <b> {email} </b> แล้ว  หากไม่ได้รับอีเมล กรุณาเช็ค อีเมลขยะ หรือแสปมโฟล์เดอร์",
    "resend_email": "ส่งอีเมลใหม่อีกครั้ง",
    "resending_email": "กำลังส่งอีเมล...",
    "email_resent": "อีเมล ถูกส่งไปใหม่แล้ว",


    "login": "เข้าสู่ระบบ"
  }
}
</i18n>
<template lang="pug">
div.signup-root
  template
    div.title {{ $t('create_new_account') }}
    template(v-if="displayCheckYourEmail")
      div.form-container.form-container--check-your-email(data-cy="please-confirm-email")
        div.signup-form
          div(v-html="$t('email_sent', { email: signUpForm.email })")
          div.resend-email
            div.resend-email__msg(
              v-if="emailResent"
            ) {{ $t('email_resent') }}
            - const resendStyle = "btn btn--primary signup-form__sign-in-btn"
            template(v-else)
              button(
                v-if="isResendingEmail" 
                class=resendStyle
              ) {{ $t('resending_email') }}
              button(
                v-else
                class=resendStyle
                @click="resendEmail(signUpForm.email)"
              ) {{ $t('resend_email') }}
    div.form-container(v-else)
      div.signup-form
        div.signup-form__input-group
          div.signup-form__label {{ $t('username') }}
          input.form__input.signup-form__input(
            data-cy="username-input"
            type="text"
            :class="$v.signUpForm.username.$error && 'form__input--error'"
            v-model="$v.signUpForm.username.$model"
          )
          div.form__text-error(
            v-if="!$v.signUpForm.username.usernameRegex"
          ) {{ $t('incorrect_username_format') }}
          template(v-else-if="$v.signUpForm.username.$error")
            div.form__text-error(v-if="!$v.signUpForm.username.required") {{ $t('username_is_required') }}
            div.form__text-error(v-else-if="!$v.signUpForm.username.maxLength") {{ $t('username_is_too_long') }}
        div.signup-form__input-group
          div.signup-form__label {{ $t('email') }}
          input.form__input.signup-form__input(
            data-cy="email-input"
            type="text"
            :class="$v.signUpForm.email.$error && 'form__input--error'"
            v-model="$v.signUpForm.email.$model"
          )
          template(v-if="$v.signUpForm.email.$error")
            div.form__text-error(v-if="!$v.signUpForm.email.required") {{ $t('email_is_required') }}
            div.form__text-error(v-else-if="!$v.signUpForm.email.email") {{ $t('incorrect_email_format') }}
            div.form__text-error(v-else-if="!$v.signUpForm.email.maxLength") {{ $t('email_is_too_long') }}
        div.signup-form__input-group
          div.signup-form__label {{ $t('password') }}
          input.form__input.signup-form__input(
            data-cy="password-input"
            type="password"
            :class="$v.signUpForm.password.$error && 'form__input--error'"
            v-model="$v.signUpForm.password.$model"
          )
          template(v-if="$v.signUpForm.password.$error")
            div.form__text-error(v-if="!$v.signUpForm.password.required") {{ $t('password_is_required') }}
            div.form__text-error(v-else-if="!$v.signUpForm.password.maxLength") {{ $t('password_is_too_long') }}
        - const signupBtn = 'btn btn--primary signup-form__sign-in-btn'
        template(v-if="!isSigningUp")
          button(
            data-cy="signup-confirm-btn"
            class=signupBtn
            @click="_signUp"
          ) {{ $t('sign_up') }}
        template(v-else)
          button(
            class=signupBtn
          ) {{ $t('signing_up') }}
      div
        nuxt-link.link(:to="loginUrl").form-help-link {{ $t('login') }}
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, email, helpers, maxLength } from "vuelidate/lib/validators";

const usernameRegex = helpers.regex('usernameRegex', /^[a-zA-Z0-9_]*$/);

export default {
  mixins: [validationMixin],
  props: {
    loginUrl: String,
    signUp: Function, // function ({email, password})
    resendEmail: Function, // function(email)
    isSigningUp: Boolean,
    displayCheckYourEmail: Boolean,
    emailResent: Boolean,
    isResendingEmail: Boolean
  },
  data() {
    return {
      signUpForm: {
        username: null,
        email: null,
        password: null
      }
    }
  },
  validations: {
    signUpForm: {
      username: {
        required,
        usernameRegex,
        maxLength: maxLength(255)
      },
      email: {
        required,
        email,
        maxLength: maxLength(255)
      },
      password: {
        required,
        maxLength: maxLength(255)
      }
    }
  },
  methods: {
    _signUp() {
      this.$v.signUpForm.$touch();
      if (this.$v.signUpForm.$error) return;

      this.signUp({
        username: this.signUpForm.username,
        email: this.signUpForm.email, 
        password: this.signUpForm.password
      });
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.form-container {
  margin: auto;
  max-width: 20rem;
  &--check-your-email {
    font-size: .875rem;
    line-height: 2;
  }
}

.signup-form {
  background: $oc-gray-1;
  border: 1px solid $oc-gray-4;
  padding: 1.5rem;
  border-radius: 5px;
  &__input-group {
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: .5rem;
    font-size: .875rem;
    font-weight: bold;
  }
  &__input {
    height: 2rem;
    border-color: $oc-gray-4;
  }
  &__input-error {
    margin-top: .125rem;
    font-size: .875rem;
    color: $oc-red-8;
  }
  &__sign-in-btn {
    width: 100%;
  }
}

.form-help-link {
  display: block;
  margin: 1rem 0;
  font-size: .875rem;
}

.resend-email {
  margin-top: 1rem;
  &__msg {
    font-size: .875rem;
    text-align: center;
  }
}
</style>
