<template lang="pug">
div.track-order-root
  SimpleSpinner.spinner(v-if="isLoading")
  div.bg-wrapper(v-else)
    div.logo-container
      LogoComponent(height="24px")
    div.order-detail
      div.page-title Order summary
      div.top-layout__wrapper
        div.top-layout
          div.info-card.top-layout__order
            div.info-card__body
              div.info-card__body-item
                label.info-card__body-item-key order#
                div.info-card__body-item-value {{ order_id }}
              div.info-card__body-item
                label.info-card__body-item-key payment
                div.info-card__body-item-value {{ order_payment }}
              div.info-card__body-item
                label.info-card__body-item-key date ordered
                div.info-card__body-item-value {{ order_date }}
          div.info-card.top-layout__shipping
            div.info-card__header Shipping
            div.info-card__body
              div.info-card__body-item
                label.info-card__body-item-key address
                div.shipping-address
                  div {{ shipping_name }}
                  div {{ shipping_address }}
                  div {{ shipping_district }}
                  div {{ shipping_province }}
                  div {{ shipping_zip }}
              div.info-card__body-item
                label.info-card__body-item-key email
                div.info-card__body-item-value {{ contact_email }}
              div.info-card__body-item
                label.info-card__body-item-key phone#
                div.info-card__body-item-value {{ contact_phone }}
          div.info-card.top-layout__summary
            div.info-card__header Items
            div.info-card__breakdown-wrapper
              div.info-card__breakdown-item
                span.info-card__breakdown-item-key subtotal
                span {{ summary_subtotal }}
              div.info-card__breakdown-item
                span.info-card__breakdown-item-key shipping
                span {{ summary_shipping }}
              div.info-card__breakdown-item
                span.info-card__breakdown-item-key total
                span {{ summary_grand_total }}
            div.info-card__items
              div.info-card__item(v-for="item in items")
                div.info-card__item-img
                  div.aspect-ratio-box
                    div.aspect-ratio-box__content-container
                      img.aspect-ratio-box__img(:src="item.itemImg")
                div.info-card__item-info
                  div.info-card__item-info-campaign-title {{ item.campaignTitle }}
                  div.info-card__item-info-product-title {{ item.productTitle }}
                  div.info-card__item-info-product-subtitle {{ item.productSubtitle }}
                  div.info-card__item-info-price {{ item.price }}
                  div.info-card__item-info-qty quantity: {{ item.quantity }}
</template>
<script>
import LogoComponent from '~/components/Logo';
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  props: {
    isLoading: Boolean,
    items: Array, // [{campaignTitle: "...", productTitle: "...", productSubtitle: "...", price: 199, quantity: 10}, ...] //breakdown: Object, // {subtotal: 199, shipping: 0, total: 199} exitOrderDetail: Function, // function() {} !!for going back to find order page
    order_id: Number,
    order_payment: String, // "credit-card", "PayPal", etc.
    order_is_paid_for: Boolean,
    order_date: String,
    order_tracking: String,
    shipping_name: String,
    shipping_address: String,
    shipping_district: String,
    shipping_province: String,
    shipping_zip: String,
    contact_phone: String,
    contact_email: String,
    summary_subtotal: Number,
    summary_shipping: Number,
    summary_grand_total: Number
  },
  components: {
    SimpleSpinner,
    LogoComponent
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$layout-breakpoint: $breakpoint-m;
$page-max-width: $breakpoint-l;

.track-order-root {
  max-width: 40rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.bg-wrapper {
  background: white;
  border: 1px solid $oc-gray-4;
}

.order-detail {
  padding: 2rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.top-layout {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-areas: 
    "order"
    "shipping"
    "contract"
    "summary";
  @include for-and-up($layout-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas: 
      "order        summary"
      "shipping     summary"
      "contract     summary";
  }
  @include for-and-up($page-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__order {
    grid-area: order;
  }
  &__shipping {
    grid-area: shipping;
  }
  &__contract {
    grid-area: contract;
  }
  &__summary {
    grid-area: summary;
  }
}

.info-card {
  &__header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  &__body {
    display: grid;
    grid-gap: 1.5rem;
    margin-top: .75rem;
  }
  &__body-item {

  }
  &__body-item-key {
    font-size: .875rem;
    color: $oc-gray-7;
  }
  &__body-item-value {
    margin-top: .25rem;
  }


  @mixin overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__items {
    display: grid;
    grid-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;
  }
  &__item-img {
    width: 100px;
  }
  &__item-info {
    font-size: .875rem;
    overflow: hidden;
    color: $oc-gray-7;
  }
  &__item-info-campaign-title {
    @include overflow-ellipsis;
  }
  &__item-info-product-title {
    margin-top: .25rem;
    @include overflow-ellipsis;
  }
  &__item-info-product-subtitle {
    margin-top: .25rem;
    @include overflow-ellipsis;
  }
  &__item-info-price {
    margin-top: .5rem;
    @include overflow-ellipsis;
  }
  &__item-info-qty {
    margin-top: .75rem;
    @include overflow-ellipsis;
  }
  &__breakdown-wrapper {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
  }
  &__breakdown-item {
    display: flex;
    justify-content: space-between;
  }
  &__breakdown-item-key {
  }
}

.shipping-address {
  line-height: 1.3;
  margin-top: .25rem;
}

.logo-container {
  text-align: center;
  border-bottom: 1px solid $oc-gray-4;
  padding: 2rem 0;
}
</style>