<i18n>
{
  "th": {
    "joined": "เข้าร่วม",
    "artworks": "ผลงาน",
    "shop": "ซ็อป"
  }
}
</i18n>
<template lang="pug">
div.user-home-root
  SimpleSpinner.spinner(v-if="isLoading")
  template(v-else)
    template(v-if="minimalProfile")
      div.minimal-profile
        img.minimal-profile__img(v-if="profileImgUrl" :src="profileImgUrl")
        div.minimal-profile__username-wrapper
          div.minimal-profile__username {{ username }}
    div.profile-wrapper(v-else)
      img.banner-img(v-if="bannerUrl" :src="bannerUrl")
      div.user-profile
        img.user-profile__img(:src="profileImgUrl")
        div
          div.user-profile__display-name {{ username }}
          div.user-profile__creation-date(style="white-space:pre-wrap;") {{ $t('joined') }} {{ accountCreatedAt }}
      AutoHighlight.about(v-if="about" :text="about")
    div.nav-bar
      span.cy-user-link.nav-bar__item(
        :class="{'nav-bar__item--selected': navigation === 'artworks' }"
        @click="navChangeHandler('artworks')"
      ) {{ $t('artworks') }}
      span.cy-shop-link.nav-bar__item(
        :class="{'nav-bar__item--selected': navigation === 'shop' }"
        @click="navChangeHandler('shop')"
        v-show="$store.state.developMode"
      ) {{ $t('shop') }}
    div.artworks-container(v-if="navigation === 'artworks'")
      slot(name="artworks")
    div.shop-container(v-if="navigation === 'shop'")
      slot(name="shop")
    div.pagination-container
      slot(name="pagination")
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';
import AutoHighlight from '~/components/AutoHighlight';

export default {
  props: {
      isLoading: Boolean,
      minimalProfile: Boolean,
      bannerUrl: String,
      profileImgUrl: String,
      displayName: String,
      username: String,
      accountCreatedAt: String,
      about: String,
      navigation: String, // 'artworks' | 'shop'
      navChangeHandler: Function
  },
  components: {
    SimpleSpinner,
    AutoHighlight
  }
}
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.user-home-root {
  max-width: $breakpoint-l;
  margin: auto;
  margin-bottom: 2rem;
}

.spinner {
  margin-top: 2rem;
}

.profile-wrapper {
  margin-top: 2rem;
}

.banner-img {
  width: 100%;
  margin-bottom: 1rem;
}

.user-profile {
  display: flex;
  margin-bottom: 2rem;
  &__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 3px;
    background: $loading-bg;
  }
  &__display-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__creation-date {
    margin-top: .75rem;
  }
}

.minimal-profile {
  margin-top: 2rem;
  margin-bottom: 1rem;
  &__img {
    $size: 40px;
    width: $size;
    height: $size;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 3px;
  }
  &__username-wrapper {
    display: inline-block;
    vertical-align: top;
  }
  &__username {
    font-weight: bold;
  }
}

.about {
  font-size: .875rem;
  max-width: 600px;
  margin-top: -1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  & > * {
    margin-right: 1rem;
  }
  &__item {
    font-size: .875rem;
    padding: .5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    &--selected {
      background: $oc-cyan-9;
      color: white;
    }
  }
}

.gallery {
  margin-top: 1rem;
  margin-bottom: 2rem;;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  &__item {
    width: 100%;
    height: 250px;
    background: #ddd;
  }
}

.artworks-container {
  margin-top: 1.5rem;
}

.shop-container {
  margin-top: 2rem;
}

.pagination-container {
  margin-top: 2rem;
}
</style>
