<i18n>
{
  "th": {
    "upload_artwork": "อัพโหลด ผลงาน",
    "artwork": "ผลงาน",
    "artwork_help_text": "jpg, png ขนาดไม่เกิน 10mb",
    "select_file": "เลือกไฟล์",
    "please_select_file": "กรุณาเลือกไฟล์",
    "file_is_too_big": "ไฟล์มีขนาดใหญ่เกินไป",
    "upload": "อัพโหลด",
    "uploading": "กำลังอัพโหลด...",
    "community_guidelines": "ระเบียบการใช้งาน",
    "agree_to_guidelines": "เมื่อคลิกอัพโหลด ผม/ดิฉัน ขอยอมรับและปฎิบัติตาม <a href=\"{guidelines_link}\" target=\"_blank\">{community_guidelines}</a>"
  }
}
</i18n>
<template lang="pug">
SlideoutBase(
  :visible="formVisible"
  :hideThis="hideForm"
  :primaryAction="uploadFile"
  :state="slideoutState"
  :notification="null"
  :slideoutsStyle="{ 'width': '700px' }"
  :bodyOnly="true"
)
  template(v-slot:body)
    div.body-wrapper
      div.page-title {{ $t('upload_artwork') }}
      input.upload-input(
        data-cy="artwork-input"
        ref="fileInput" 
        type="file" 
        accept="image/png, image/jpeg" 
        @change="(e) => (file = e.target.files[0]) && $v.file.$touch()"
      )
      div.upload-bg
        div
          template(v-if="file")
            img.preview-img(:src="fileURL")
            div.file-name
              | {{ file.name }}
              button.btn.btn--link.delete-btn(@click="file = null") delete
          template(v-else)
            div.form__label-container
              label.form__label {{ $t('artwork') }}
              div.form__text-helper {{ $t('artwork_help_text') }}
            button.btn.btn--secondary(@click="$refs.fileInput.click()") {{ $t('select_file') }}
          template(v-if="$v.file.$error")
            div.form__text-error(v-if="!$v.file.required") {{ $t('please_select_file') }}
            div.form__text-error(v-else-if="!$v.file.maxSize") {{ $t('file_is_too_big') }}
      portal-target.title-form(name="artwork-title-form")
      portal-target.desc-form(name="artwork-description-form")
      portal-target.tags-form(name="artwork-tags-form")
      div.agree-to-guidelines(v-html="$t('agree_to_guidelines', { community_guidelines: $t('community_guidelines'), guidelines_link: guidelinesURL })")
      template(v-if="slideoutState === 'default'")
        button.btn.btn--primary.upload-btn(
          data-cy="slideout-btn"
          @click="uploadFile"
        ) {{ $t('upload') }}
      template(v-else-if="slideoutState === 'taking-action'")
        button.btn.btn--primary.upload-btn {{ $t('uploading') }} {{ betterUploadProgress }}
      FormTitle(
        ref="form_title"
        :formVisible="false"
        :hideForm="() => {}"
        :updater="() => {}"
        :title="''"
      )
      FormDescription(
        ref="form_desc"
        :formVisible="false"
        :hideForm="() => {}"
        :updater="() => {}"
        :description="''"
      )
      FormTags(
        ref="form_tags"
        :formVisible="false"
        :hideForm="() => {}"
        :updater="() => {}"
        :tags="[]"
      )
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

import SlideoutBase from '~/components/overlays/slideout';
import FormTitle from '~/components/pages/author/campaign_item/form_title';
import FormDescription from '~/components/pages/author/campaign_item/form_description.vue';
import FormTags from '~/components/pages/author/campaign_item/form_tags';

const getInitialData = () => ({
  file: null, // FILE_OBJECT
  uploadProgress: null, // percent 1-100 or null
  slideoutState: 'default'
})

export default {
  components: {
    SlideoutBase,
    FormTitle,
    FormDescription,
    FormTags
  },
  mixins: [validationMixin],
  validations: {
    file: {
      required,
      maxSize: (file) => file ? file.size <= 10 * 1024 * 1024 : true // mb * kb * bytes
    }
  },
  props: {
    formVisible: Boolean,
    hideForm: Function,
    uploader: Function, // async function ({ file, title, description }, _setUploadProgress)
    guidelinesURL: String
  },
  data() {
    return getInitialData();
  },
  computed: {
    fileURL() {
      if (!this.file) return;

      return URL.createObjectURL(this.file);
    },
    betterUploadProgress() {
      let progress = this.uploadProgress;

      if (progress === null) return '';

      return progress + '%';
    }
  },
  methods: {
    _setUploadProgress(percentage) {
      this.uploadProgress = percentage;
    },
    uploadFile() {
      this.$v.file.$touch();
      this.$refs.form_title.$v.local_title.$touch();
      this.$refs.form_desc.$v.local_description.$touch();

      if (this.$v.file.$invalid) return;
      if (this.$refs.form_title.$v.local_title.$invalid) return;
      if (this.$refs.form_desc.$v.local_description.$invalid) return;

      this.slideoutState = 'taking-action';
      (async () => {
        const data = {
          file: this.file,
          title: this.$refs.form_title.local_title,
          description: this.$refs.form_desc.local_description,
          tags: this.$refs.form_tags.local_tags
        }
        await this.uploader(data, this._setUploadProgress);
      })().finally(() => {
        this.slideoutState = 'default';
      })
    }
  },
  watch: {
    formVisible(newVal, oldVal) {
      if (newVal) {
        Object.assign(this.$data, getInitialData());
        this.$v.file.$reset();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

.body-wrapper {
  margin: -1rem;
  padding: 2rem 4rem;
}

.page-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.upload-input {
  display: none;
}

.upload-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: $oc-gray-1;
  min-height: 250px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.file-name {
  font-size: 14px;
}

.delete-btn {
  margin-left: .25rem;
}

.progress-bar {
  background: $oc-gray-4;
  border-top: none;
  height: .5rem;
  &__inside {
    background: $oc-green-6;
    height: 100%; 
  }
}

.preview-img {
  max-width: 100%;
}

.title-form {
  margin-top: 1rem;
}

.desc-form {
  margin-top: 1rem;
}

.tags-form {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.agree-to-guidelines {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 14px;
  & /deep/ a {
    color: $oc-indigo-7;
    text-decoration: none;
  }
}

.upload-btn {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: .75rem 0;
  margin-bottom: 4rem;
}
</style>