<i18n>
{
  "th": {
    "artworks": "ผลงาน",
    "upload": "อัพโหลด",
    "no_artworks": "ยังไม่มีผลงาน"
  }
}
</i18n>
<template lang="pug">
div.campaign-list-root
  SimpleSpinner.spinner(v-if="isLoadingEntirePage")
  template(v-else)
    div.campaign-list-body
      div.page-title {{ $t('artworks') }}
      div.empty-msg(v-if="isEmptyState")
        div.empty-msg__title {{ $t('no_artworks') }}
        button.btn.btn--primary(@click="newBtnClickedHandler"): b {{ $t('upload') }}
      template(v-else)
        div.campaign-list-body__items-wrapper
          div.campaign-list-body__item(
            data-cy="artwork-item"
            v-for="i in campaigns"
          )
            nuxt-link.campaign-list-body__item-img(:to="i.link")
              div.aspect-ratio-box
                div.aspect-ratio-box__content-container
                  img.aspect-ratio-box__img(
                    v-lazy=`{
                      src: i.artworkSrc,
                    }`
                  )
            nuxt-link.link.campaign-list-body__item-title(:to="i.link") {{ i.title }}
        // pagination
        div.pagination-wrapper
          slot(name="pagination")
</template>
<script>
import SimpleSpinner from '~/components/spinners/simple.vue';

export default {
  components: {  
    SimpleSpinner
  },
  props: {
    isLoadingEntirePage: Boolean,
    isEmptyState: Boolean,
    campaigns: Array, // [{title: String, link: "path/to/campaign", artworkSrc: '/path/to'artwork'}]
    newBtnClickedHandler: Function
  }
};
</script>
<style lang="scss" scoped>
@import "open-color/open-color.scss";
@import "~/styles/components.scss";

$page-max-width: $breakpoint-l;

.campaign-list-root {
  max-width: $page-max-width;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.empty-msg {
  margin-top: 4rem;
  text-align: center;
  &__title {
    margin-bottom: 1rem;
  }
}

.campaign-list-body {
  @include for-and-up($page-max-width) {
    padding-left: 0;
    padding-right: 0;
  }

  &__items-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  &__item-img {
    background-color: $loading-bg;
    display: block;
  }

  &__item-title {
    margin-top: .25rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $oc-gray-9;
  }

}

.pagination-wrapper {
  margin-top: 2rem;
}
</style>